<section class="bonds-section">
	<div class="container bonds-container">
		<h3 class="superheader">Services</h3>
		<h1 class="section-header bonds-header">
			Internal government bonds – OVDP
		</h1>
		<h4 class="subheader bonds-subheader">
			The best investment instrument with a 100% government guarantee and a
			yield higher than a bank deposit – available to citizens, businesses, and
			foreign investors
		</h4>
		<p class="bonds-paragraph">
			Currently, in the Ukrainian stock market, internal government bonds (OVDP)
			are divided into two types by name: OVDP and Military OVDP. The latter are
			the same government bonds with all standard OVDP parameters but with the
			prefix "Military" because they began to be issued during the war.
		</p>
		<p class="bonds-paragraph">
			<a
				class="text-link"
				target="_blank"
				href="https://bank.gov.ua/ua/markets/t-bills"
				title="Link to the NBU page on the article about government bonds (OVDP)"
				>About 80% of investors in government bonds</a
			>
			are Ukrainian banks and the National Bank of Ukraine (NBU). This means
			that the money bank depositors place in deposits is also invested by banks
			in OVDP, but at a higher interest rate than what is paid on deposits to
			their clients.
			<strong class="strong-text"
				>From this scenario alone (yield), one can see the advantage of
				investing in OVDP!</strong
			>
		</p>
		<h2 class="chapter-header">
			In addition to high interest rates (yields), OVDP offers several other
			advantages:
		</h2>
		<ul class="bonds-description-list">
			<li class="bonds-description-item">
				<div class="bonds-icon-wrapper">
					<svg
						class="bonds-description-icon"
						width="24"
						height="24"
						fill="none"
					>
						<use href="/src/images/svg/symbol-defs.svg#icon-done-check"></use>
					</svg>
				</div>
				<p>No personal income tax (18%) or military tax (1.5%)</p>
			</li>
			<li class="bonds-description-item">
				<div class="bonds-icon-wrapper">
					<svg
						class="bonds-description-icon"
						width="24"
						height="24"
						fill="none"
					>
						<use href="/src/images/svg/symbol-defs.svg#icon-done-check"></use>
					</svg>
				</div>
				<p>High liquidity for any volume</p>
			</li>
			<li class="bonds-description-item">
				<div class="bonds-icon-wrapper">
					<svg
						class="bonds-description-icon"
						width="24"
						height="24"
						fill="none"
					>
						<use href="/src/images/svg/symbol-defs.svg#icon-done-check"></use>
					</svg>
				</div>
				<p>
					Quick sale (full or partial) without losing accumulated interest
					(unlike breaking a bank deposit)
				</p>
			</li>
			<li class="bonds-description-item">
				<div class="bonds-icon-wrapper">
					<svg
						class="bonds-description-icon"
						width="24"
						height="24"
						fill="none"
					>
						<use href="/src/images/svg/symbol-defs.svg#icon-done-check"></use>
					</svg>
				</div>
				<p>Wide range of investment terms (one month and more)</p>
			</li>
			<li class="bonds-description-item">
				<div class="bonds-icon-wrapper">
					<svg
						class="bonds-description-icon"
						width="24"
						height="24"
						fill="none"
					>
						<use href="/src/images/svg/symbol-defs.svg#icon-done-check"></use>
					</svg>
				</div>
				<p>Quick reinvestment of payments (full or partial)</p>
			</li>
			<li class="bonds-description-item">
				<div class="bonds-icon-wrapper">
					<svg
						class="bonds-description-icon"
						width="24"
						height="24"
						fill="none"
					>
						<use href="/src/images/svg/symbol-defs.svg#icon-done-check"></use>
					</svg>
				</div>
				<p>
					Ability to make REPO transactions secured by OVDP (learn more
					<a
						class="text-link"
						href="/src/en/repo.html"
						title="link to the Repo page"
						>here</a
					>)
				</p>
			</li>
			<li class="bonds-description-item">
				<div class="bonds-icon-wrapper">
					<svg
						class="bonds-description-icon"
						width="24"
						height="24"
						fill="none"
					>
						<use href="/src/images/svg/symbol-defs.svg#icon-done-check"></use>
					</svg>
				</div>
				<p>
					Ability to buy foreign currency OVDP with hryvnia without any current
					NBU restrictions
				</p>
			</li>
		</ul>
		<p>
			If you have any questions regarding investing in government bonds,
			<a
				class="text-link"
				href="/src/en/contact-us.html"
				title="Link to the contact us page"
				>please contact us</a
			>, and our specialists will consult you.
		</p>
	</div>
	<include
		src="./en/partials/investor-account-laptop.html"
		locals='{"header": "You can open an account and purchase government bonds (OVDP) remotely in your Investor Account"}'
	></include>
</section>
