<section class="brokerage-service-section">
	<div class="container brokerage-service-container">
		<h3 class="superheader">Trading Financial Instruments</h3>
		<h1 class="section-header brokerage-service-header">Investment Services</h1>
		<h2 class="chapter-header">
			Investment Firm "BTC Broker" LLC as a
			<a
				class="text-link"
				href="/src/en/licenses.html"
				title="The link to the Licenses page"
				>licensed</a
			>
			participant in the Ukrainian capital markets, "BTC Broker" LLC offers its
			clients high-quality brokerage services and competitive commissions for
			buying and selling:
		</h2>
		<ul class="brokerage-service-description-list">
			<li class="brokerage-service-description-item">
				<div class="brokerage-service-icon-wrapper">
					<svg
						class="brokerage-service-description-icon"
						width="24"
						height="24"
						fill="none"
					>
						<use href="/symbol-defs.svg#icon-done-check"></use>
					</svg>
				</div>
				<p>Stocks</p>
			</li>
			<li class="brokerage-service-description-item">
				<div class="brokerage-service-icon-wrapper">
					<svg
						class="brokerage-service-description-icon"
						width="24"
						height="24"
						fill="none"
					>
						<use href="/symbol-defs.svg#icon-done-check"></use>
					</svg>
				</div>
				<p>Bonds</p>
			</li>
			<li class="brokerage-service-description-item">
				<div class="brokerage-service-icon-wrapper">
					<svg
						class="brokerage-service-description-icon"
						width="24"
						height="24"
						fill="none"
					>
						<use href="/symbol-defs.svg#icon-done-check"></use>
					</svg>
				</div>
				<p>Other financial instruments, both domestic and foreign issuers</p>
			</li>
		</ul>
		<div class="brokerage-service-bond-ua-section">
			<h2 class="chapter-header">
				Technological Solution for Private Investors
			</h2>
			<p class="brokerage-service-paragraph">
				For our clients, we offer the technological capability to invest through
				the
				<span class="brokerage-service-strong-text"
					>BTC Broker Investor Account web app</span
				>
			</p>
			<p class="brokerage-service-paragraph">
				Moreover, opening a brokerage account is done remotely via the
				<span class="brokerage-service-strong-text"
					>Investor Account web app in just a few clicks</span
				>
			</p>
			<a
				href="https://trading.btc-broker.com/"
				class="button-primary brokerage-service-button"
				>Get Started</a
			>
			<p>
				Additionally the investment firm "BTC Broker" conducts transactions for
				its clients on both the exchange and over-the-counter markets through
				classic order-requests, known as "voice" buying/selling of securities
			</p>
		</div>
		<h4 class="chapter-header">
			You can review the list of required documents for opening a brokerage
			account and the tariffs below
		</h4>
		<ul class="tabs-list">
			<li class="tabs-item">
				<button type="button" data-option="first" class="tabs-button active">
					Individual
				</button>
			</li>
			<li class="tabs-item">
				<button type="button" data-option="second" class="tabs-button">
					Legal Entity
				</button>
			</li>
		</ul>
		<div class="brokerage-service-content-wrapper">
			<div class="brokerage-service-required-documents-wrapper">
				<div class="tab-content-wrapper tab-content visible">
					<div class="brokerage-service-documents-to-review">
						<h4 class="brokerage-service-group-title">
							List of required documents for joining the general agreement on
							providing investment services to an individual resident
						</h4>
						<ul class="brokerage-service-documents-requirements-list">
							<li class="brokerage-service-documents-item">
								<div class="list-icon-wrapper">
									<svg
										class="brokerage-service-list-done-check-icon"
										width="24"
										height="24"
										fill="none"
									>
										<use href="/symbol-defs.svg#icon-done-check"></use>
									</svg>
								</div>
								<p>
									<span class="brokerage-service-strong-text"
										>Ukrainian citizen passport</span
									>
									or passport with contactless electronic chip (or foreign
									passport with permanent/temporary residence permit in Ukraine)
								</p>
							</li>
							<li class="brokerage-service-documents-item">
								<div class="list-icon-wrapper">
									<svg
										class="brokerage-service-list-done-check-icon"
										width="24"
										height="24"
										fill="none"
									>
										<use href="/symbol-defs.svg#icon-done-check"></use>
									</svg>
								</div>
								<p>
									<span class="brokerage-service-strong-text"
										>Taxpayer identification number</span
									>
									(or passport with a mark of refusal of the taxpayer
									identification number)
								</p>
							</li>
							<li class="brokerage-service-documents-item">
								<div class="list-icon-wrapper">
									<svg
										class="brokerage-service-list-done-check-icon"
										width="24"
										height="24"
										fill="none"
									>
										<use href="/symbol-defs.svg#icon-done-check"></use>
									</svg>
								</div>
								<p>
									<span class="brokerage-service-strong-text"
										>Extract from the Unified State Demographic Register</span
									>
									regarding residence registration or Certificate of Residence
									Registration (F-13) or Certificate of Place of Stay
									Registration (F-14) (added if the person has a Ukrainian
									passport with a contactless electronic chip)
								</p>
							</li>
							<li class="brokerage-service-documents-item">
								<div class="list-icon-wrapper">
									<svg
										class="brokerage-service-list-done-check-icon"
										width="24"
										height="24"
										fill="none"
									>
										<use href="/symbol-defs.svg#icon-done-check"></use>
									</svg>
								</div>
								<p>
									<span class="brokerage-service-strong-text"
										>Certificate of registration of an internally displaced
										person</span
									>
									(if applicable)
								</p>
							</li>
							<li class="brokerage-service-documents-item">
								<div class="list-icon-wrapper">
									<svg
										class="brokerage-service-list-done-check-icon"
										width="24"
										height="24"
										fill="none"
									>
										<use href="/symbol-defs.svg#icon-done-check"></use>
									</svg>
								</div>
								<p>
									<span class="brokerage-service-strong-text"
										>Extract from the Unified State Register</span
									>
									of Legal Entities, Individual Entrepreneurs, and Public
									Formations (for individual entrepreneurs)
								</p>
							</li>
							<li class="brokerage-service-documents-item">
								<div class="list-icon-wrapper">
									<svg
										class="brokerage-service-list-done-check-icon"
										width="24"
										height="24"
										fill="none"
									>
										<use href="/symbol-defs.svg#icon-done-check"></use>
									</svg>
								</div>
								<p>
									<span class="brokerage-service-strong-text"
										>Bank statement</span
									>
									confirming the opening of a current account
								</p>
							</li>
							<li class="brokerage-service-documents-item">
								<div class="list-icon-wrapper">
									<svg
										class="brokerage-service-list-done-check-icon"
										width="24"
										height="24"
										fill="none"
									>
										<use href="/symbol-defs.svg#icon-done-check"></use>
									</svg>
								</div>
								<p>
									<span class="brokerage-service-strong-text"
										>Questionnaire</span
									>
									completed according to the investment firm's requirements
								</p>
							</li>
						</ul>
					</div>

					<div class="brokerage-service-documents-to-review">
						<h4 class="brokerage-service-group-title">Documents for Review</h4>
						<ul class="brokerage-service-documents-list">
							<li class="brokerage-service-documents-item">
								<div class="list-icon-wrapper">
									<svg
										class="brokerage-service-document-icon"
										width="24"
										height="24"
										fill="none"
									>
										<use href="/symbol-defs.svg#icon-file-text2"></use>
									</svg>
								</div>
								<p class="brokerage-service-document-text">
									General Agreement for the Provision of Investment Services (<a
										href="https://btc-broker.com/upload/documents/brokerage-service/FO/Generalnuy dogovir.pdf"
										target="_blank"
										download
										class="text-link"
										>download
									</a>
									|
									<a
										href="https://btc-broker.com/upload/documents/brokerage-service/FO/Generalnuy dogovir.pdf"
										class="text-link"
										target="_blank"
										rel="noopener noreferrer nofollow"
									>
										view</a
									>)
								</p>
							</li>
							<li class="brokerage-service-documents-item">
								<div class="list-icon-wrapper">
									<svg
										class="brokerage-service-document-icon"
										width="24"
										height="24"
										fill="none"
									>
										<use href="/symbol-defs.svg#icon-file-text2"></use>
									</svg>
								</div>
								<p class="brokerage-service-document-text">
									Individual Part to the General Agreement for the Provision of
									Investment Services (<a
										href="https://btc-broker.com/upload/documents/brokerage-service/FO/induvid_chastuna_FO.docx"
										target="_blank"
										class="text-link"
										>download
									</a>
									|
									<a
										href="https://btc-broker.com/upload/documents/brokerage-service/FO/induvid_chastuna_FO.pdf"
										class="text-link"
										target="_blank"
										rel="noopener noreferrer nofollow"
									>
										view</a
									>)
								</p>
							</li>
							<li class="brokerage-service-documents-item">
								<div class="list-icon-wrapper">
									<svg
										class="brokerage-service-document-icon"
										width="24"
										height="24"
										fill="none"
									>
										<use href="/symbol-defs.svg#icon-file-text2"></use>
									</svg>
								</div>
								<p class="brokerage-service-document-text">
									Questionnaire for an Individual (<a
										href="https://btc-broker.com/upload/documents/brokerage-service/FO/7_Oputyvalnuk FO_fatca.docx"
										target="_blank"
										class="text-link"
										>download
									</a>
									|
									<a
										href="https://btc-broker.com/upload/documents/brokerage-service/FO/7_Oputyvalnuk FO_fatca.pdf"
										class="text-link"
										target="_blank"
										rel="noopener noreferrer nofollow"
									>
										view</a
									>)
								</p>
							</li>
							<li class="brokerage-service-documents-item">
								<div class="list-icon-wrapper">
									<svg
										class="brokerage-service-document-icon"
										width="24"
										height="24"
										fill="none"
									>
										<use href="/symbol-defs.svg#icon-file-text2"></use>
									</svg>
								</div>
								<p class="brokerage-service-document-text">
									Client Evaluation Form for an Individual (<a
										href="https://btc-broker.com/upload/documents/brokerage-service/FO/Anketa klienta FO.docx"
										target="_blank"
										class="text-link"
										>download
									</a>
									|
									<a
										href="https://btc-broker.com/upload/documents/brokerage-service/FO/Anketa klienta FO.pdf"
										class="text-link"
										target="_blank"
										rel="noopener noreferrer nofollow"
									>
										view</a
									>)
								</p>
							</li>
						</ul>
					</div>
					<div class="brokerage-service-documents-to-review">
						<h4 class="brokerage-service-group-title">Review</h4>
						<ul class="brokerage-service-documents-list">
							<li class="brokerage-service-documents-item">
								<div class="list-icon-wrapper">
									<svg
										class="brokerage-service-document-icon"
										width="24"
										height="24"
										fill="none"
									>
										<use href="/symbol-defs.svg#icon-file-text2"></use>
									</svg>
								</div>
								<p class="brokerage-service-document-text">
									Pricing (<a href="/pricing" class="text-link">view</a>)
								</p>
							</li>
						</ul>
					</div>
				</div>
				<div class="tab-content-wrapper tab-content">
					<div class="brokerage-service-documents-to-review">
						<h4 class="brokerage-service-group-title">
							List of required documents for joining the general agreement on
							providing investment services to a legal entity resident
						</h4>
						<ul class="brokerage-service-documents-requirements-list">
							<li class="brokerage-service-documents-item">
								<div class="list-icon-wrapper">
									<svg
										class="brokerage-service-list-done-check-icon"
										width="24"
										height="24"
										fill="none"
									>
										<use href="/symbol-defs.svg#icon-done-check"></use>
									</svg>
								</div>
								<p>
									<span class="brokerage-service-strong-text"
										>Registered incorporation document</span
									>
									and access code information (description) to the results of
									administrative services
								</p>
							</li>
							<li class="brokerage-service-documents-item">
								<div class="list-icon-wrapper">
									<svg
										class="brokerage-service-list-done-check-icon"
										width="24"
										height="24"
										fill="none"
									>
										<use href="/symbol-defs.svg#icon-done-check"></use>
									</svg>
								</div>
								<p>
									<span class="brokerage-service-strong-text"
										>Extract from the Unified State Register</span
									>
									of legal entities, individual entrepreneurs, and public
									formations
								</p>
							</li>
							<li class="brokerage-service-documents-item">
								<div class="list-icon-wrapper">
									<svg
										class="brokerage-service-list-done-check-icon"
										width="24"
										height="24"
										fill="none"
									>
										<use href="/symbol-defs.svg#icon-done-check"></use>
									</svg>
								</div>
								<p>
									<span class="brokerage-service-strong-text"
										>Documents confirming appointment</span
									>
									of persons authorized to act on behalf of the legal entity
									without a power of attorney (protocol, order)
								</p>
							</li>
							<li class="brokerage-service-documents-item">
								<div class="list-icon-wrapper">
									<svg
										class="brokerage-service-list-done-check-icon"
										width="24"
										height="24"
										fill="none"
									>
										<use href="/symbol-defs.svg#icon-done-check"></use>
									</svg>
								</div>
								<p>
									<span class="brokerage-service-strong-text"
										>Power of attorney</span
									>
									(if acting on behalf of the legal entity by proxy)
								</p>
							</li>
							<li class="brokerage-service-documents-item">
								<div class="list-icon-wrapper">
									<svg
										class="brokerage-service-list-done-check-icon"
										width="24"
										height="24"
										fill="none"
									>
										<use href="/symbol-defs.svg#icon-done-check"></use>
									</svg>
								</div>
								<p>
									<span class="brokerage-service-strong-text"
										>Copy of passport and taxpayer identification number</span
									>
									of the director and authorized person (certified by the
									owner's signature)
								</p>
							</li>
							<li class="brokerage-service-documents-item">
								<div class="list-icon-wrapper">
									<svg
										class="brokerage-service-list-done-check-icon"
										width="24"
										height="24"
										fill="none"
									>
										<use href="/symbol-defs.svg#icon-done-check"></use>
									</svg>
								</div>
								<p>
									Original or copy of document containing
									<span class="brokerage-service-strong-text"
										>bank account details</span
									>
								</p>
							</li>
							<li class="brokerage-service-documents-item">
								<div class="list-icon-wrapper">
									<svg
										class="brokerage-service-list-done-check-icon"
										width="24"
										height="24"
										fill="none"
									>
										<use href="/symbol-defs.svg#icon-done-check"></use>
									</svg>
								</div>
								<p>
									<span class="brokerage-service-strong-text"
										>Schematic diagram of ownership structure</span
									>
								</p>
							</li>
							<li class="brokerage-service-documents-item">
								<div class="list-icon-wrapper">
									<svg
										class="brokerage-service-list-done-check-icon"
										width="24"
										height="24"
										fill="none"
									>
										<use href="/symbol-defs.svg#icon-done-check"></use>
									</svg>
								</div>
								<p>
									<span class="brokerage-service-strong-text"
										>Financial statements</span
									>
									for the last tax period
								</p>
							</li>

							<li class="brokerage-service-documents-item">
								<div class="list-icon-wrapper">
									<svg
										class="brokerage-service-list-done-check-icon"
										width="24"
										height="24"
										fill="none"
									>
										<use href="/symbol-defs.svg#icon-done-check"></use>
									</svg>
								</div>
								<p>
									<span class="brokerage-service-strong-text">Licenses</span>
									(if applicable)
								</p>
							</li>
							<li class="brokerage-service-documents-item">
								<div class="list-icon-wrapper">
									<svg
										class="brokerage-service-list-done-check-icon"
										width="24"
										height="24"
										fill="none"
									>
										<use href="/symbol-defs.svg#icon-done-check"></use>
									</svg>
								</div>
								<p>
									<span class="brokerage-service-strong-text"
										>Legal entity questionnaire</span
									>
									for identification
								</p>
							</li>
							<li class="brokerage-service-documents-item">
								<div class="list-icon-wrapper">
									<svg
										class="brokerage-service-list-done-check-icon"
										width="24"
										height="24"
										fill="none"
									>
										<use href="/symbol-defs.svg#icon-done-check"></use>
									</svg>
								</div>
								<p>
									<span class="brokerage-service-strong-text"
										>Other documents and information</span
									>
									required to verify tax residency status according to the Tax
									Code of Ukraine, such as tax payment certificates, passports,
									residence permits, immigration cards, and income and tax
									withholding information in Ukraine and other countries
								</p>
							</li>
						</ul>
					</div>

					<div class="brokerage-service-documents-to-review">
						<h4 class="brokerage-service-group-title">Documents for Review</h4>
						<ul class="brokerage-service-documents-list">
							<li class="brokerage-service-documents-item">
								<div class="list-icon-wrapper">
									<svg
										class="brokerage-service-document-icon"
										width="24"
										height="24"
										fill="none"
									>
										<use href="/symbol-defs.svg#icon-file-text2"></use>
									</svg>
								</div>
								<p class="brokerage-service-document-text">
									General Agreement for the Provision of Investment Services (<a
										href="https://btc-broker.com/upload/documents/brokerage-service/UO/Generalnuy dogovir.pdf"
										target="_blank"
										download
										class="text-link"
										>download
									</a>
									|
									<a
										href="https://btc-broker.com/upload/documents/brokerage-service/UO/Generalnuy dogovir.pdf"
										class="text-link"
										target="_blank"
										rel="noopener noreferrer nofollow"
									>
										view</a
									>)
								</p>
							</li>
							<li class="brokerage-service-documents-item">
								<div class="list-icon-wrapper">
									<svg
										class="brokerage-service-document-icon"
										width="24"
										height="24"
										fill="none"
									>
										<use href="/symbol-defs.svg#icon-file-text2"></use>
									</svg>
								</div>
								<p class="brokerage-service-document-text">
									Individual Part to the General Agreement for the Provision of
									Investment Services (<a
										href="https://btc-broker.com/upload/documents/brokerage-service/UO/induvid_chastuna_UO.docx"
										target="_blank"
										class="text-link"
										>download
									</a>
									|
									<a
										href="https://btc-broker.com/upload/documents/brokerage-service/UO/induvid_chastuna_UO.pdf"
										class="text-link"
										target="_blank"
										rel="noopener noreferrer nofollow"
									>
										view</a
									>)
								</p>
							</li>
							<li class="brokerage-service-documents-item">
								<div class="list-icon-wrapper">
									<svg
										class="brokerage-service-document-icon"
										width="24"
										height="24"
										fill="none"
									>
										<use href="/symbol-defs.svg#icon-file-text2"></use>
									</svg>
								</div>
								<p class="brokerage-service-document-text">
									Legal Entity Questionnaire (<a
										href="https://btc-broker.com/upload/documents/brokerage-service/UO/Oputyvalnuk UO_fatca.docx"
										target="_blank"
										class="text-link"
										>download
									</a>
									|
									<a
										href="https://btc-broker.com/upload/documents/brokerage-service/UO/Oputyvalnuk UO_fatca.pdf"
										class="text-link"
										target="_blank"
										rel="noopener noreferrer nofollow"
									>
										view</a
									>)
								</p>
							</li>
							<li class="brokerage-service-documents-item">
								<div class="list-icon-wrapper">
									<svg
										class="brokerage-service-document-icon"
										width="24"
										height="24"
										fill="none"
									>
										<use href="/symbol-defs.svg#icon-file-text2"></use>
									</svg>
								</div>
								<p class="brokerage-service-document-text">
									Client Evaluation Form for a Legal Entity (<a
										href="https://btc-broker.com/upload/documents/brokerage-service/UO/Anketa klienta UO.docx"
										target="_blank"
										class="text-link"
										>download
									</a>
									|
									<a
										href="https://btc-broker.com/upload/documents/brokerage-service/UO/Anketa klienta UO.pdf"
										class="text-link"
										target="_blank"
										rel="noopener noreferrer nofollow"
									>
										view</a
									>)
								</p>
							</li>
						</ul>
					</div>
					<div class="brokerage-service-documents-to-review">
						<h4 class="brokerage-service-group-title">Review</h4>
						<ul class="brokerage-service-documents-list">
							<li class="brokerage-service-documents-item">
								<div class="list-icon-wrapper">
									<svg
										class="brokerage-service-document-icon"
										width="24"
										height="24"
										fill="none"
									>
										<use href="/symbol-defs.svg#icon-file-text2"></use>
									</svg>
								</div>
								<p class="brokerage-service-document-text">
									Pricing (<a href="/pricing" class="text-link">view</a>)
								</p>
							</li>
						</ul>
					</div>
				</div>
			</div>
			<div class="brokerage-service-better-exp-offer">
				<h4 class="brokerage-service-better-exp-title">
					The BTC Broker Web App
				</h4>
				<p class="brokerage-service-better-exp-text">
					You can open your securities account online with our custodian
					institution, BTC Broker, right from the Investor Account
				</p>
				<a
					href="https://trading.btc-broker.com/"
					class="button-secondary price-card-button"
					>Open account
					<svg
						class="price-card-benefits-icon"
						class="button-secondary-icon"
						width="24"
						height="24"
					>
						<use href="/symbol-defs.svg#icon-secondary-button-arrow"></use>
					</svg>
				</a>
			</div>
		</div>
	</div>
</section>
