<section class="consulting-section">
	<div class="container consulting-container">
		<h3 class="superheader">Services</h3>
		<h1 class="section-header consulting-header">Consulting</h1>
		<h2 class="chapter-header">
			The investment firm "BTC Broker" offers its current and potential clients
			professional consulting services related to:
		</h2>
		<ul class="consulting-description-list">
			<li class="consulting-description-item">
				<div class="consulting-icon-wrapper">
					<svg
						class="consulting-description-icon"
						width="24"
						height="24"
						fill="none"
					>
						<use href="/src/images/svg/symbol-defs.svg#icon-done-check"></use>
					</svg>
				</div>
				<p>
					Conducting investment research on stock markets (domestic and
					international)
				</p>
			</li>
			<li class="consulting-description-item">
				<div class="consulting-icon-wrapper">
					<svg
						class="consulting-description-icon"
						width="24"
						height="24"
						fill="none"
					>
						<use href="/src/images/svg/symbol-defs.svg#icon-done-check"></use>
					</svg>
				</div>
				<p>
					Financial analysis of issuers, stocks, and bonds traded on exchanges
					in Ukraine and abroad
				</p>
			</li>
			<li class="consulting-description-item">
				<div class="consulting-icon-wrapper">
					<svg
						class="consulting-description-icon"
						width="24"
						height="24"
						fill="none"
					>
						<use href="/src/images/svg/symbol-defs.svg#icon-done-check"></use>
					</svg>
				</div>
				<p>
					Assisting in the formation of an investment portfolio according to the
					client's request and risk profile
				</p>
			</li>
			<li class="consulting-description-item">
				<div class="consulting-icon-wrapper">
					<svg
						class="consulting-description-icon"
						width="24"
						height="24"
						fill="none"
					>
						<use href="/src/images/svg/symbol-defs.svg#icon-done-check"></use>
					</svg>
				</div>
				<p>
					Analyzing and supporting existing investment portfolios for
					improvement and yield optimization
				</p>
			</li>
			<li class="consulting-description-item">
				<div class="consulting-icon-wrapper">
					<svg
						class="consulting-description-icon"
						width="24"
						height="24"
						fill="none"
					>
						<use href="/src/images/svg/symbol-defs.svg#icon-done-check"></use>
					</svg>
				</div>
				<p>
					Providing general recommendations related to transactions with
					financial instruments on both exchange and over-the-counter markets in
					Ukraine and internationally
				</p>
			</li>
		</ul>
		<p class="consulting-paragraph">
			<strong class="strong-text">Our mission</strong>
			as a broker is to make your investment journey in the stock market more
			reliable, convenient, and, most importantly, profitable. We achieve this
			by providing our clients with the necessary tools and knowledge to reach
			their financial goals.
		</p>
		<p class="consulting-paragraph">
			<strong class="strong-text">This service is suitable</strong>
			for both individuals investing in the Ukrainian stock market and investors
			who already have open brokerage accounts with foreign brokers. The service
			is also appropriate for both beginners and experienced investors.
		</p>
		<p>
			If you have any questions related to stock market investments, you can
			<a
				class="text-link"
				href="/src/en/contact-us.html"
				title="Link to the Contact Us page"
				>contact us in any way convenient for you</a
			>.
		</p>
	</div>
</section>
