<section class="diia-military-bonds-section">
	<div class="container diia-military-bonds-container">
		<h3 class="superheader">Products</h3>
		<h1 class="section-header diia-military-bonds-header">Diia War Bonds</h1>
		<h4 class="subheader diia-military-bonds-subheader">
			Investing through the Diia mobile app is an effective way to support our
			country and the Armed Forces of Ukraine during the war by purchasing War
			Bonds (<a
				class="text-link"
				href="/src/en/bonds.html"
				title="Link to the OVDP page"
				>which differ from regular government bonds</a
			>)
		</h4>
		<p class="diia-military-bonds-paragraph">
			The investment process through the Diia app is quite simple and almost
			identical to buying OVDP through other brokerage apps. However, Diia is
			not a brokerage company but serves as a convenient marketplace for
			investors and its partners, including licensed investment firms like the
			Ukrainian stock market leader "BTC Broker" (fintech "BondUA" in Diia).
		</p>
		<h2 class="chapter-header">How it Works:</h2>
		<p class="diia-military-bonds-paragraph">
			On this marketplace in the Diia app, the investor selects the bond, the
			quantity, and the brokerage company through which they wish to purchase
			the securities.
		</p>
		<p class="diia-military-bonds-paragraph">
			After automatic document processing and the bond purchase transaction, the
			securities will be reflected in the investor's brokerage account. The
			investor will be notified through the Diia app and receive an email
			statement from the broker confirming the transaction. Typically, the
			entire process takes no more than a day.
		</p>
		<p>
			If you have any further questions regarding investments in the stock
			market, please feel free to
			<a
				class="text-link"
				href="/src/en/contact-us.html"
				title="Link to the Contact Us page"
				>contact us</a
			>
			in any way that is convenient for you.
		</p>
	</div>
	<include
		src="./en/partials/investor-account-laptop.html"
		locals='{"header": "You can open an account and purchase War Bonds remotely in your Investor Account"}'
	></include>
</section>
