<section class="documents-section">
	<div class="container documents-container">
		<h3 class="superheader">For review</h3>
		<h1 class="section-header documents-header">Internal Documents</h1>
		<h4 class="subheader documents-subheader">
			Regulations, provisions, and other documents
		</h4>
		<div class="documents-content-wrapper">
			<div class="documents-required-documents-wrapper">
				<ul class="documents-documents-requirements-list">
					<li class="documents-documents-item">
						<div class="list-icon-wrapper">
							<svg
								class="documents-document-icon"
								width="24"
								height="24"
								fill="none"
							>
								<use
									href="/src/images/svg/symbol-defs.svg#icon-file-text2"
								></use>
							</svg>
						</div>
						<p class="documents-document-text">
							Regulation for Providing Commissioner Services under the General
							Agreement for Investment Services (<i
								>This document will be available soon</i
							>)
						</p>
					</li>
					<li class="documents-documents-item">
						<div class="list-icon-wrapper">
							<svg
								class="documents-document-icon"
								width="24"
								height="24"
								fill="none"
							>
								<use
									href="/src/images/svg/symbol-defs.svg#icon-file-text2"
								></use>
							</svg>
						</div>
						<p class="documents-document-text">
							Regulation for Providing Brokerage Services (<i
								>This document will be available soon</i
							>)
						</p>
					</li>
					<li class="documents-documents-item">
						<div class="list-icon-wrapper">
							<svg
								class="documents-document-icon"
								width="24"
								height="24"
								fill="none"
							>
								<use
									href="/src/images/svg/symbol-defs.svg#icon-file-text2"
								></use>
							</svg>
						</div>
						<p class="documents-document-text">
							Conflict of Interest and Personal Transactions Policy of "BTC
							Broker" LLC (<i>This document will be available soon</i>)
						</p>
					</li>
					<li class="documents-documents-item">
						<div class="list-icon-wrapper">
							<svg
								class="documents-document-icon"
								width="24"
								height="24"
								fill="none"
							>
								<use
									href="/src/images/svg/symbol-defs.svg#icon-file-text2"
								></use>
							</svg>
						</div>
						<p class="documents-document-text">
							Remuneration Policy of "BTC Broker" (<i
								>This document will be available soon</i
							>)
						</p>
					</li>
					<li class="documents-documents-item">
						<div class="list-icon-wrapper">
							<svg
								class="documents-document-icon"
								width="24"
								height="24"
								fill="none"
							>
								<use
									href="/src/images/svg/symbol-defs.svg#icon-file-text2"
								></use>
							</svg>
						</div>
						<p class="documents-document-text">
							Procedure for Handling Complaints and Other Inquiries from clients
							and market participants (<i
								>This document will be available soon</i
							>)
						</p>
					</li>
					<li class="documents-documents-item">
						<div class="list-icon-wrapper">
							<svg
								class="documents-document-icon"
								width="24"
								height="24"
								fill="none"
							>
								<use
									href="/src/images/svg/symbol-defs.svg#icon-file-text2"
								></use>
							</svg>
						</div>
						<p class="documents-document-text">
							Internal Regulations of the Depository Institution (<i
								>This document will be available soon</i
							>)
						</p>
					</li>
					<li class="documents-documents-item">
						<div class="list-icon-wrapper">
							<svg
								class="documents-document-icon"
								width="24"
								height="24"
								fill="none"
							>
								<use
									href="/src/images/svg/symbol-defs.svg#icon-file-text2"
								></use>
							</svg>
						</div>
						<p class="documents-document-text">
							Notice on the Processing of Personal Data (<a
								href="https://btc-broker.com/upload/documents/documents/Повідомлення_про_обробку_персональних_даних.pdf"
								target="_blank"
								class="text-link"
								download
								>download
							</a>
							|
							<a
								href="https://btc-broker.com/upload/documents/documents/Повідомлення_про_обробку_персональних_даних.pdf"
								class="text-link"
								target="_blank"
								rel="noopener noreferrer nofollow"
							>
								view</a
							>)
						</p>
					</li>
					<li class="documents-documents-item">
						<div class="list-icon-wrapper">
							<svg
								class="documents-document-icon"
								width="24"
								height="24"
								fill="none"
							>
								<use
									href="/src/images/svg/symbol-defs.svg#icon-file-text2"
								></use>
							</svg>
						</div>
						<p class="documents-document-text">
							Information for Clients or Potential Clients according to Article
							7 of the Law "On Financial Services and Financial Companies" (<a
								href="https://btc-broker.com/upload/documents/documents/Відомості_згідно_Закону_про_фінкомпаніі.pdf"
								target="_blank"
								class="text-link"
								download
								>download
							</a>
							|
							<a
								href="https://btc-broker.com/upload/documents/documents/Відомості_згідно_Закону_про_фінкомпаніі.pdf"
								class="text-link"
								target="_blank"
								rel="noopener noreferrer nofollow"
							>
								view</a
							>)
						</p>
					</li>
				</ul>
			</div>
			<img
				class="documents-section-illustration"
				src="/src/images/illustration-documents-section.svg"
				alt="Searching for documents in the drawer"
			/>
		</div>
	</div>
</section>
