<section class="expertise-section">
	<div class="container expertise-container">
		<img
			class="expertise-illustration"
			src="/src/images/illustration-expertise-section.webp"
			alt="Планшет з графіком акцій компанії Еппл"
		/>
		<div class="expertise-description-container">
			<h3 class="superheader">What are we doing</h3>
			<h2 class="section-header expertise-description-header">
				An investment company with the best services and competitive rates
			</h2>
			<div class="accordion">
				<div class="accordion-panel">
					<h3 id="panel1-title">
						<button
							class="accordion-trigger"
							aria-expanded="true"
							aria-controls="accordion1-content"
						>
							<div class="accordion-icon-wrapper">
								<svg
									class="accordion-icon"
									width="24"
									height="12"
									viewBox="0 0 12 12"
									fill="none"
									xmlns="http://www.w3.org/2000/svg"
								>
									<line
										x1="1"
										y1="6"
										x2="11"
										y2="6"
										stroke-width="2"
										stroke-linecap="round"
										stroke-linejoin="round"
										class="line horizontal"
									/>
									<line
										x1="6"
										y1="1"
										x2="6"
										y2="11"
										stroke-width="2"
										stroke-linecap="round"
										stroke-linejoin="round"
										class="line vertical"
									/>

									<!-- If you do not specify the stroke
       color the line will not be visible -->
								</svg>
							</div>
							Depository Services
						</button>
					</h3>
					<div
						class="accordion-content"
						role="region"
						aria-labelledby="panel1-title"
						aria-hidden="false"
						id="panel1-content"
					>
						<div>
							<p class="accordion-content-text">
								Opening and servicing securities accounts for legal entities and
								individuals (residents and non-residents).
							</p>
						</div>
					</div>
				</div>

				<div class="accordion-panel">
					<h3 id="panel2-title">
						<button
							class="accordion-trigger"
							aria-expanded="false"
							aria-controls="accordion2-content"
						>
							<div class="accordion-icon-wrapper">
								<svg
									class="accordion-icon"
									width="24"
									height="12"
									viewBox="0 0 12 12"
									fill="none"
									xmlns="http://www.w3.org/2000/svg"
								>
									<line
										x1="1"
										y1="6"
										x2="11"
										y2="6"
										stroke-width="2"
										stroke-linecap="round"
										stroke-linejoin="round"
										class="line horizontal"
									/>
									<line
										x1="6"
										y1="1"
										x2="6"
										y2="11"
										stroke-width="2"
										stroke-linecap="round"
										stroke-linejoin="round"
										class="line vertical"
									/>

									<!-- If you do not specify the stroke
       color the line will not be visible -->
								</svg>
							</div>
							Investment Services
						</button>
					</h3>
					<div
						class="accordion-content"
						role="region"
						aria-labelledby="panel2-title"
						aria-hidden="true"
						id="panel2-content"
					>
						<div>
							<p class="accordion-content-text">
								Execution of one-time client requests for the purchase or sale
								of securities based on concluded agency agreements or commission
								contracts.
							</p>
						</div>
					</div>
				</div>

				<div class="accordion-panel">
					<h3 id="panel3-title">
						<button
							class="accordion-trigger"
							aria-expanded="false"
							aria-controls="accordion3-content"
						>
							<div class="accordion-icon-wrapper">
								<svg
									class="accordion-icon"
									width="24"
									height="12"
									viewBox="0 0 12 12"
									fill="none"
									xmlns="http://www.w3.org/2000/svg"
								>
									<line
										x1="1"
										y1="6"
										x2="11"
										y2="6"
										stroke-width="2"
										stroke-linecap="round"
										stroke-linejoin="round"
										class="line horizontal"
									/>
									<line
										x1="6"
										y1="1"
										x2="6"
										y2="11"
										stroke-width="2"
										stroke-linecap="round"
										stroke-linejoin="round"
										class="line vertical"
									/>

									<!-- If you do not specify the stroke
       color the line will not be visible -->
								</svg>
							</div>
							Consulting
						</button>
					</h3>
					<div
						class="accordion-content"
						role="region"
						aria-labelledby="panel3-title"
						aria-hidden="true"
						class="accordion-content"
						id="panel3-content"
					>
						<div>
							<p class="accordion-content-text">
								We provide qualified advice on conducting securities
								transactions.
							</p>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>
