<section class="faq-global-section">
	<div class="container faq-global-container">
		<h3 class="superheader">Information</h3>
		<h1 class="section-header faq-global-header">Frequently Asked Questions</h1>
		<h4 class="subheader faq-global-subheader">
			This page contains the most frequently asked questions and their answers.
			If you don't find the question you're interested in, you can ask us
			directly on
			<a
				class="text-link"
				href="/src/en/contact-us.html"
				title="Link on the Feedback page"
				>the Feedback page</a
			>
		</h4>
		<div class="accordion faq-global-accordion">
			<div class="accordion-panel">
				<h3 id="panel1-title">
					<button
						class="accordion-trigger"
						aria-expanded="true"
						aria-controls="accordion1-content"
					>
						<div class="accordion-icon-wrapper">
							<svg
								class="accordion-icon"
								width="24"
								height="12"
								viewBox="0 0 12 12"
								fill="none"
								xmlns="http://www.w3.org/2000/svg"
							>
								<line
									x1="1"
									y1="6"
									x2="11"
									y2="6"
									stroke-width="2"
									stroke-linecap="round"
									stroke-linejoin="round"
									class="line horizontal"
								/>
								<line
									x1="6"
									y1="1"
									x2="6"
									y2="11"
									stroke-width="2"
									stroke-linecap="round"
									stroke-linejoin="round"
									class="line vertical"
								/>

								<!-- If you do not specify the stroke
       color the line will not be visible -->
							</svg>
						</div>
						Why do you need a broker for stock market investments?
					</button>
				</h3>
				<div
					class="accordion-content"
					role="region"
					aria-labelledby="panel1-title"
					aria-hidden="false"
					id="panel1-content"
				>
					<div>
						<p class="accordion-content-text">
							According to current legislation, both in Ukraine and foreign
							markets, access to stock exchanges and transactions with financial
							instruments can only be conducted through licensed intermediaries,
							which are legal entities.
							<a
								class="text-link"
								href="/licenses"
								title="Посилання на сторінку наявних ліцензій БТС Брокер"
								>View the licenses of "BTC Broker"</a
							>
						</p>
					</div>
				</div>
			</div>

			<div class="accordion-panel">
				<h3 id="panel2-title">
					<button
						class="accordion-trigger"
						aria-expanded="false"
						aria-controls="accordion1-content"
					>
						<div class="accordion-icon-wrapper">
							<svg
								class="accordion-icon"
								width="24"
								height="12"
								viewBox="0 0 12 12"
								fill="none"
								xmlns="http://www.w3.org/2000/svg"
							>
								<line
									x1="1"
									y1="6"
									x2="11"
									y2="6"
									stroke-width="2"
									stroke-linecap="round"
									stroke-linejoin="round"
									class="line horizontal"
								/>
								<line
									x1="6"
									y1="1"
									x2="6"
									y2="11"
									stroke-width="2"
									stroke-linecap="round"
									stroke-linejoin="round"
									class="line vertical"
								/>

								<!-- If you do not specify the stroke
       color the line will not be visible -->
							</svg>
						</div>
						Why do you need a stock exchange?
					</button>
				</h3>
				<div
					class="accordion-content"
					role="region"
					aria-labelledby="panel2-title"
					aria-hidden="true"
					id="panel2-content"
				>
					<div>
						<p class="accordion-content-text">
							A stock exchange is a central platform for buying and selling
							securities and a center of maximum liquidity, where brokerage
							companies bring their clients, both individuals and legal
							entities.
						</p>
						<p class="accordion-content-text">
							The activities of a stock exchange, like those of a brokerage
							company, are licensed and regulated by specific laws and
							requirements for such platforms
						</p>
					</div>
				</div>
			</div>

			<div class="accordion-panel">
				<h3 id="panel3-title">
					<button
						class="accordion-trigger"
						aria-expanded="false"
						aria-controls="accordion1-content"
					>
						<div class="accordion-icon-wrapper">
							<svg
								class="accordion-icon"
								width="24"
								height="12"
								viewBox="0 0 12 12"
								fill="none"
								xmlns="http://www.w3.org/2000/svg"
							>
								<line
									x1="1"
									y1="6"
									x2="11"
									y2="6"
									stroke-width="2"
									stroke-linecap="round"
									stroke-linejoin="round"
									class="line horizontal"
								/>
								<line
									x1="6"
									y1="1"
									x2="6"
									y2="11"
									stroke-width="2"
									stroke-linecap="round"
									stroke-linejoin="round"
									class="line vertical"
								/>

								<!-- If you do not specify the stroke
       color the line will not be visible -->
							</svg>
						</div>
						Can I make deals off the exchange?
					</button>
				</h3>
				<div
					class="accordion-content"
					role="region"
					aria-labelledby="panel3-title"
					aria-hidden="true"
					id="panel3-content"
				>
					<div>
						<p class="accordion-content-text">
							Yes, of course, transactions can be conducted through a broker on
							the over-the-counter market with any financial instruments
							(stocks, bonds, etc.). However, you need to consider the price and
							liquidity of such financial instruments on the over-the-counter
							market
						</p>
					</div>
				</div>
			</div>

			<div class="accordion-panel">
				<h3 id="panel4-title">
					<button
						class="accordion-trigger"
						aria-expanded="false"
						aria-controls="accordion1-content"
					>
						<div class="accordion-icon-wrapper">
							<svg
								class="accordion-icon"
								width="24"
								height="12"
								viewBox="0 0 12 12"
								fill="none"
								xmlns="http://www.w3.org/2000/svg"
							>
								<line
									x1="1"
									y1="6"
									x2="11"
									y2="6"
									stroke-width="2"
									stroke-linecap="round"
									stroke-linejoin="round"
									class="line horizontal"
								/>
								<line
									x1="6"
									y1="1"
									x2="6"
									y2="11"
									stroke-width="2"
									stroke-linecap="round"
									stroke-linejoin="round"
									class="line vertical"
								/>

								<!-- If you do not specify the stroke
       color the line will not be visible -->
							</svg>
						</div>
						How is investing in the stock market different from FOREX?
					</button>
				</h3>
				<div
					class="accordion-content"
					role="region"
					aria-labelledby="panel4-title"
					aria-hidden="true"
					id="panel4-content"
				>
					<div>
						<p class="accordion-content-text">
							FOREX, in general understanding, is an over-the-counter currency
							market. In the countries of the former Soviet Union, including
							Ukraine, citizens' access to the FOREX currency market is not
							regulated by the state, leading to the emergence of many "gray"
							schemes and
							<a
								class="text-link"
								href="https://www.nssmc.gov.ua/activity/insha-diialnist/zakhyst-investoriv/#tab-2"
								target="_blank"
								rel="nofollow noreferrer noopener"
								title="Посилання на сторінку Національної Комісії з Цінних Паперів та Фондового Ринку зі списком сумнівних інвестиційних проектів"
								>SCAM brokers</a
							>
							without any banking or brokerage licenses and without
							accountability to clients.
						</p>
						<p class="accordion-content-text">
							The main players in the FOREX market are banks and their clients,
							exporters/importers, who need to buy currency or hedge their
							currency risks for business contracts
						</p>
					</div>
				</div>
			</div>

			<div class="accordion-panel">
				<h3 id="panel5-title">
					<button
						class="accordion-trigger"
						aria-expanded="false"
						aria-controls="accordion1-content"
					>
						<div class="accordion-icon-wrapper">
							<svg
								class="accordion-icon"
								width="24"
								height="12"
								viewBox="0 0 12 12"
								fill="none"
								xmlns="http://www.w3.org/2000/svg"
							>
								<line
									x1="1"
									y1="6"
									x2="11"
									y2="6"
									stroke-width="2"
									stroke-linecap="round"
									stroke-linejoin="round"
									class="line horizontal"
								/>
								<line
									x1="6"
									y1="1"
									x2="6"
									y2="11"
									stroke-width="2"
									stroke-linecap="round"
									stroke-linejoin="round"
									class="line vertical"
								/>

								<!-- If you do not specify the stroke
       color the line will not be visible -->
							</svg>
						</div>
						What technical capabilities are currently available for investing in
						the Ukrainian stock market?
					</button>
				</h3>
				<div
					class="accordion-content"
					role="region"
					aria-labelledby="panel5-title"
					aria-hidden="true"
					id="panel5-content"
				>
					<div>
						<p class="accordion-content-text">
							Currently, the investment firm "BTC Broker" in collaboration with
							its partner "Bond.UA" LLC offers individuals the opportunity to
							invest in stocks and bonds through the "Bond UA" investment mobile
							app
						</p>
					</div>
				</div>
			</div>

			<div class="accordion-panel">
				<h3 id="panel6-title">
					<button
						class="accordion-trigger"
						aria-expanded="false"
						aria-controls="accordion1-content"
					>
						<div class="accordion-icon-wrapper">
							<svg
								class="accordion-icon"
								width="24"
								height="12"
								viewBox="0 0 12 12"
								fill="none"
								xmlns="http://www.w3.org/2000/svg"
							>
								<line
									x1="1"
									y1="6"
									x2="11"
									y2="6"
									stroke-width="2"
									stroke-linecap="round"
									stroke-linejoin="round"
									class="line horizontal"
								/>
								<line
									x1="6"
									y1="1"
									x2="6"
									y2="11"
									stroke-width="2"
									stroke-linecap="round"
									stroke-linejoin="round"
									class="line vertical"
								/>

								<!-- If you do not specify the stroke
       color the line will not be visible -->
							</svg>
						</div>
						Do I need to come to your office to open a brokerage account?
					</button>
				</h3>
				<div
					class="accordion-content"
					role="region"
					aria-labelledby="panel6-title"
					aria-hidden="true"
					id="panel6-content"
				>
					<div>
						<p class="accordion-content-text">
							No, it is not necessary to visit the office (although we are happy
							to see all our clients)! Registration and account opening are done
							remotely, either by
							<a
								class="text-link"
								href="https://form.btc-broker.com/"
								title="Link to the registration form page"
								>applying on our website</a
							>
							or by downloading the "Bond UA" app (for
							<a
								class="text-link"
								href="https://play.google.com/store/apps/details?id=com.bond.bondua"
								target="_blank"
								rel="nofollow noreferrer noopener"
								title="Download the app on Google Play"
								>Android</a
							>, for
							<a
								class="text-link"
								href="https://apps.apple.com/us/app/bond-ua/id1617621292"
								target="_blank"
								rel="nofollow noreferrer noopener"
								title="Download the app on App Store"
								>Apple</a
							>) on your mobile phone and registering through it
						</p>
					</div>
				</div>
			</div>

			<div class="accordion-panel">
				<h3 id="panel7-title">
					<button
						class="accordion-trigger"
						aria-expanded="false"
						aria-controls="accordion1-content"
					>
						<div class="accordion-icon-wrapper">
							<svg
								class="accordion-icon"
								width="24"
								height="12"
								viewBox="0 0 12 12"
								fill="none"
								xmlns="http://www.w3.org/2000/svg"
							>
								<line
									x1="1"
									y1="6"
									x2="11"
									y2="6"
									stroke-width="2"
									stroke-linecap="round"
									stroke-linejoin="round"
									class="line horizontal"
								/>
								<line
									x1="6"
									y1="1"
									x2="6"
									y2="11"
									stroke-width="2"
									stroke-linecap="round"
									stroke-linejoin="round"
									class="line vertical"
								/>

								<!-- If you do not specify the stroke
       color the line will not be visible -->
							</svg>
						</div>
						What does an internal government bond look like, i.e., how can I
						know that I actually own a bond?
					</button>
				</h3>
				<div
					class="accordion-content"
					role="region"
					aria-labelledby="panel7-title"
					aria-hidden="true"
					id="panel7-content"
				>
					<div>
						<p class="accordion-content-text">
							Bonds, like other securities, exist in electronic form. Your
							ownership of bonds is confirmed by a corresponding document — a
							securities account statement. This document is provided by a
							licensed depository institution where your securities are held
						</p>
					</div>
				</div>
			</div>

			<div class="accordion-panel">
				<h3 id="panel8-title">
					<button
						class="accordion-trigger"
						aria-expanded="false"
						aria-controls="accordion2-content"
					>
						<div class="accordion-icon-wrapper">
							<svg
								class="accordion-icon"
								width="24"
								height="12"
								viewBox="0 0 12 12"
								fill="none"
								xmlns="http://www.w3.org/2000/svg"
							>
								<line
									x1="1"
									y1="6"
									x2="11"
									y2="6"
									stroke-width="2"
									stroke-linecap="round"
									stroke-linejoin="round"
									class="line horizontal"
								/>
								<line
									x1="6"
									y1="1"
									x2="6"
									y2="11"
									stroke-width="2"
									stroke-linecap="round"
									stroke-linejoin="round"
									class="line vertical"
								/>

								<!-- If you do not specify the stroke
       color the line will not be visible -->
							</svg>
						</div>
						What are the real guarantees for the protection of government bonds
						if the bank or broker account is blocked?
					</button>
				</h3>
				<div
					class="accordion-content"
					role="region"
					aria-labelledby="panel8-title"
					aria-hidden="true"
					id="panel8-content"
				>
					<div>
						<p class="accordion-content-text">
							All securities are stored separately from the broker's assets and
							are not subject to blocking due to the broker's obligations. If
							the broker's account is blocked, clients' ownership rights to the
							securities remain intact. Clients will be given the opportunity to
							transfer their securities to another depository institution
						</p>
					</div>
				</div>
			</div>

			<div class="accordion-panel">
				<h3 id="panel9-title">
					<button
						class="accordion-trigger"
						aria-expanded="false"
						aria-controls="accordion3-content"
					>
						<div class="accordion-icon-wrapper">
							<svg
								class="accordion-icon"
								width="24"
								height="12"
								viewBox="0 0 12 12"
								fill="none"
								xmlns="http://www.w3.org/2000/svg"
							>
								<line
									x1="1"
									y1="6"
									x2="11"
									y2="6"
									stroke-width="2"
									stroke-linecap="round"
									stroke-linejoin="round"
									class="line horizontal"
								/>
								<line
									x1="6"
									y1="1"
									x2="6"
									y2="11"
									stroke-width="2"
									stroke-linecap="round"
									stroke-linejoin="round"
									class="line vertical"
								/>

								<!-- If you do not specify the stroke
       color the line will not be visible -->
							</svg>
						</div>
						What is the real difference between a broker and a primary dealer
						bank?
					</button>
				</h3>
				<div
					class="accordion-content"
					role="region"
					aria-labelledby="panel9-title"
					aria-hidden="true"
					class="accordion-content"
					id="panel9-content"
				>
					<div>
						<p class="accordion-content-text">
							BTC Broker buys and sells government bonds on the secondary market
							and does not have direct access to the auctions conducted weekly
							by the Ministry of Finance. Only banks, known as
							<a
								class="text-link"
								href="https://www.mof.gov.ua/uk/perelik-pervinnih-dileriv"
								target="_blank"
								rel="nofollow noreferrer noopener"
								title="The list of primary dealers on the website of the Ministry of Finance of Ukraine"
								>primary dealers</a
							>, have access to these auctions. BTC Broker can also participate
							in these auctions, but only indirectly through a primary dealer
							bank
						</p>
					</div>
				</div>
			</div>

			<div class="accordion-panel">
				<h3 id="panel10-title">
					<button
						class="accordion-trigger"
						aria-expanded="false"
						aria-controls="accordion4-content"
					>
						<div class="accordion-icon-wrapper">
							<svg
								class="accordion-icon"
								width="24"
								height="12"
								viewBox="0 0 12 12"
								fill="none"
								xmlns="http://www.w3.org/2000/svg"
							>
								<line
									x1="1"
									y1="6"
									x2="11"
									y2="6"
									stroke-width="2"
									stroke-linecap="round"
									stroke-linejoin="round"
									class="line horizontal"
								/>
								<line
									x1="6"
									y1="1"
									x2="6"
									y2="11"
									stroke-width="2"
									stroke-linecap="round"
									stroke-linejoin="round"
									class="line vertical"
								/>

								<!-- If you do not specify the stroke
       color the line will not be visible -->
							</svg>
						</div>
						What are the advantages/disadvantages of choosing a broker over a
						bank?
					</button>
				</h3>
				<div
					class="accordion-content"
					role="region"
					aria-labelledby="panel10-title"
					aria-hidden="true"
					class="accordion-content"
					id="panel10-content"
				>
					<div>
						<p class="accordion-content-text">
							Basically, you just need to compare the transaction fees between
							the broker and the bank, as well as the yields they offer. This
							will help you see which option is more beneficial for you. One
							important detail is that if you plan to buy through a bank, you
							usually need to have a bank account with that bank. Brokers,
							however, can accept payments from almost any bank
						</p>
					</div>
				</div>
			</div>

			<div class="accordion-panel">
				<h3 id="panel11-title">
					<button
						class="accordion-trigger"
						aria-expanded="false"
						aria-controls="accordion5-content"
					>
						<div class="accordion-icon-wrapper">
							<svg
								class="accordion-icon"
								width="24"
								height="12"
								viewBox="0 0 12 12"
								fill="none"
								xmlns="http://www.w3.org/2000/svg"
							>
								<line
									x1="1"
									y1="6"
									x2="11"
									y2="6"
									stroke-width="2"
									stroke-linecap="round"
									stroke-linejoin="round"
									class="line horizontal"
								/>
								<line
									x1="6"
									y1="1"
									x2="6"
									y2="11"
									stroke-width="2"
									stroke-linecap="round"
									stroke-linejoin="round"
									class="line vertical"
								/>

								<!-- If you do not specify the stroke
       color the line will not be visible -->
							</svg>
						</div>
						Is there an option for the intermediate sale of bonds before their
						maturity, and what are the limitations? What is the procedure for
						selling government bonds and to whom are they sold or returned?
					</button>
				</h3>
				<div
					class="accordion-content"
					role="region"
					aria-labelledby="panel11-title"
					aria-hidden="true"
					class="accordion-content"
					id="panel11-content"
				>
					<div>
						<p class="accordion-content-text">
							Yes, bonds can be sold before maturity. You just need to find a
							buyer. In such cases, the limitations can only come from the
							buyer's side. For example, if you are selling a very large number
							of bonds, the buyer may only be willing to purchase a portion of
							them
						</p>
					</div>
				</div>
			</div>

			<div class="accordion-panel">
				<h3 id="panel12-title">
					<button
						class="accordion-trigger"
						aria-expanded="false"
						aria-controls="accordion6-content"
					>
						<div class="accordion-icon-wrapper">
							<svg
								class="accordion-icon"
								width="24"
								height="12"
								viewBox="0 0 12 12"
								fill="none"
								xmlns="http://www.w3.org/2000/svg"
							>
								<line
									x1="1"
									y1="6"
									x2="11"
									y2="6"
									stroke-width="2"
									stroke-linecap="round"
									stroke-linejoin="round"
									class="line horizontal"
								/>
								<line
									x1="6"
									y1="1"
									x2="6"
									y2="11"
									stroke-width="2"
									stroke-linecap="round"
									stroke-linejoin="round"
									class="line vertical"
								/>

								<!-- If you do not specify the stroke
       color the line will not be visible -->
							</svg>
						</div>
						What are the terms for issuing government bonds (OVDP)?
					</button>
				</h3>
				<div
					class="accordion-content"
					role="region"
					aria-labelledby="panel12-title"
					aria-hidden="true"
					class="accordion-content"
					id="panel12-content"
				>
					<div>
						<p class="accordion-content-text">
							Each series of government bonds (OVDP) has its own maturity date.
							Currently, bonds with maturity dates between 2024 and 2027 are
							predominantly traded on the market. However, the state can issue
							bonds with maturities extending up to, for example, 20 years
						</p>
					</div>
				</div>
			</div>

			<div class="accordion-panel">
				<h3 id="panel13-title">
					<button
						class="accordion-trigger"
						aria-expanded="false"
						aria-controls="accordion7-content"
					>
						<div class="accordion-icon-wrapper">
							<svg
								class="accordion-icon"
								width="24"
								height="12"
								viewBox="0 0 12 12"
								fill="none"
								xmlns="http://www.w3.org/2000/svg"
							>
								<line
									x1="1"
									y1="6"
									x2="11"
									y2="6"
									stroke-width="2"
									stroke-linecap="round"
									stroke-linejoin="round"
									class="line horizontal"
								/>
								<line
									x1="6"
									y1="1"
									x2="6"
									y2="11"
									stroke-width="2"
									stroke-linecap="round"
									stroke-linejoin="round"
									class="line vertical"
								/>

								<!-- If you do not specify the stroke
       color the line will not be visible -->
							</svg>
						</div>
						What taxes are paid on investments in government bonds?
					</button>
				</h3>
				<div
					class="accordion-content"
					role="region"
					aria-labelledby="panel13-title"
					aria-hidden="true"
					class="accordion-content"
					id="panel13-content"
				>
					<div>
						<p class="accordion-content-text">
							At present, according to current legislation, profits from
							investments in government bonds (OVDP) for individuals are not
							taxed.
						</p>
						<p class="accordion-content-text">
							This means you do not pay any taxes on the income received both
							from the buying and selling of OVDP and from the profits earned
							from the coupons (interest) paid by such bonds!
						</p>
					</div>
				</div>
			</div>

			<div class="accordion-panel">
				<h3 id="panel14-title">
					<button
						class="accordion-trigger"
						aria-expanded="false"
						aria-controls="accordion8-content"
					>
						<div class="accordion-icon-wrapper">
							<svg
								class="accordion-icon"
								width="24"
								height="12"
								viewBox="0 0 12 12"
								fill="none"
								xmlns="http://www.w3.org/2000/svg"
							>
								<line
									x1="1"
									y1="6"
									x2="11"
									y2="6"
									stroke-width="2"
									stroke-linecap="round"
									stroke-linejoin="round"
									class="line horizontal"
								/>
								<line
									x1="6"
									y1="1"
									x2="6"
									y2="11"
									stroke-width="2"
									stroke-linecap="round"
									stroke-linejoin="round"
									class="line vertical"
								/>

								<!-- If you do not specify the stroke
       color the line will not be visible -->
							</svg>
						</div>
						What documents are needed to purchase government bonds (OVDP) in an
						amount exceeding 100,000 UAH, for example?
					</button>
				</h3>
				<div
					class="accordion-content"
					role="region"
					aria-labelledby="panel14-title"
					aria-hidden="true"
					class="accordion-content"
					id="panel14-content"
				>
					<div>
						<p class="accordion-content-text">
							The standard set of documents for opening a securities account
							includes a passport, RNOKPP (tax number), etc. However, if the
							amount is quite large, you will also be required to provide
							documents confirming the origin of your funds
						</p>
					</div>
				</div>
			</div>

			<div class="accordion-panel">
				<h3 id="panel15-title">
					<button
						class="accordion-trigger"
						aria-expanded="false"
						aria-controls="accordion9-content"
					>
						<div class="accordion-icon-wrapper">
							<svg
								class="accordion-icon"
								width="24"
								height="12"
								viewBox="0 0 12 12"
								fill="none"
								xmlns="http://www.w3.org/2000/svg"
							>
								<line
									x1="1"
									y1="6"
									x2="11"
									y2="6"
									stroke-width="2"
									stroke-linecap="round"
									stroke-linejoin="round"
									class="line horizontal"
								/>
								<line
									x1="6"
									y1="1"
									x2="6"
									y2="11"
									stroke-width="2"
									stroke-linecap="round"
									stroke-linejoin="round"
									class="line vertical"
								/>

								<!-- If you do not specify the stroke
       color the line will not be visible -->
							</svg>
						</div>
						How long does the process of purchasing government bonds (OVDP)
						through a broker usually take?
					</button>
				</h3>
				<div
					class="accordion-content"
					role="region"
					aria-labelledby="panel15-title"
					aria-hidden="true"
					class="accordion-content"
					id="panel15-content"
				>
					<div>
						<div class="accordion-content-text">
							<p>There are many factors involved:</p>
							<ul class="faq-global-accordion-list">
								<li class="faq-global-accordion-item">
									<div class="list-icon-wrapper">
										<svg
											class="faq-global-accordion-icon"
											width="24"
											height="24"
											fill="none"
										>
											<use href="/symbol-defs.svg#icon-circle"></use>
										</svg>
									</div>
									<p>Whether you already have an account with the broker</p>
								</li>
								<li class="faq-global-accordion-item">
									<div class="list-icon-wrapper">
										<svg
											class="faq-global-accordion-icon"
											width="24"
											height="24"
											fill="none"
										>
											<use href="/symbol-defs.svg#icon-circle"></use>
										</svg>
									</div>
									<p>
										Whether you have already sent funds to the broker's account
									</p>
								</li>
								<li class="faq-global-accordion-item">
									<div class="list-icon-wrapper">
										<svg
											class="faq-global-accordion-icon"
											width="24"
											height="24"
											fill="none"
										>
											<use href="/symbol-defs.svg#icon-circle"></use>
										</svg>
									</div>
									<p>The amount you are purchasing</p>
								</li>
								<li class="faq-global-accordion-item">
									<div class="list-icon-wrapper">
										<svg
											class="faq-global-accordion-icon"
											width="24"
											height="24"
											fill="none"
										>
											<use href="/symbol-defs.svg#icon-circle"></use>
										</svg>
									</div>
									<p>
										The method of purchase (paper documents or mobile app, etc.)
									</p>
								</li>
								<li class="faq-global-accordion-item">
									<div class="list-icon-wrapper">
										<svg
											class="faq-global-accordion-icon"
											width="24"
											height="24"
											fill="none"
										>
											<use href="/symbol-defs.svg#icon-circle"></use>
										</svg>
									</div>
									<p>The day and time of your purchase</p>
								</li>
								<li class="faq-global-accordion-item">
									<div class="list-icon-wrapper">
										<svg
											class="faq-global-accordion-icon"
											width="24"
											height="24"
											fill="none"
										>
											<use href="/symbol-defs.svg#icon-circle"></use>
										</svg>
									</div>
									<p>The specific series of bonds you are purchasing</p>
								</li>
							</ul>
							<p>
								Depending on these factors, the process can take from a few
								minutes to several days
							</p>
						</div>
					</div>
				</div>
			</div>

			<div class="accordion-panel">
				<h3 id="panel16-title">
					<button
						class="accordion-trigger"
						aria-expanded="false"
						aria-controls="accordion10-content"
					>
						<div class="accordion-icon-wrapper">
							<svg
								class="accordion-icon"
								width="24"
								height="12"
								viewBox="0 0 12 12"
								fill="none"
								xmlns="http://www.w3.org/2000/svg"
							>
								<line
									x1="1"
									y1="6"
									x2="11"
									y2="6"
									stroke-width="2"
									stroke-linecap="round"
									stroke-linejoin="round"
									class="line horizontal"
								/>
								<line
									x1="6"
									y1="1"
									x2="6"
									y2="11"
									stroke-width="2"
									stroke-linecap="round"
									stroke-linejoin="round"
									class="line vertical"
								/>

								<!-- If you do not specify the stroke
       color the line will not be visible -->
							</svg>
						</div>
						How is communication with the broker conducted regarding changes in
						ownership information, address, or banking details?
					</button>
				</h3>
				<div
					class="accordion-content"
					role="region"
					aria-labelledby="panel16-title"
					aria-hidden="true"
					class="accordion-content"
					id="panel16-content"
				>
					<div>
						<p class="accordion-content-text">
							Documents confirming changes in ownership details can be provided
							in any convenient way: in person, by courier, by mail, via email,
							or through electronic document management systems
						</p>
					</div>
				</div>
			</div>

			<div class="accordion-panel">
				<h3 id="panel17-title">
					<button
						class="accordion-trigger"
						aria-expanded="false"
						aria-controls="accordion11-content"
					>
						<div class="accordion-icon-wrapper">
							<svg
								class="accordion-icon"
								width="24"
								height="12"
								viewBox="0 0 12 12"
								fill="none"
								xmlns="http://www.w3.org/2000/svg"
							>
								<line
									x1="1"
									y1="6"
									x2="11"
									y2="6"
									stroke-width="2"
									stroke-linecap="round"
									stroke-linejoin="round"
									class="line horizontal"
								/>
								<line
									x1="6"
									y1="1"
									x2="6"
									y2="11"
									stroke-width="2"
									stroke-linecap="round"
									stroke-linejoin="round"
									class="line vertical"
								/>

								<!-- If you do not specify the stroke
       color the line will not be visible -->
							</svg>
						</div>
						How can I get detailed information about the status of my bonds?
					</button>
				</h3>
				<div
					class="accordion-content"
					role="region"
					aria-labelledby="panel17-title"
					aria-hidden="true"
					class="accordion-content"
					id="panel17-content"
				>
					<div>
						<p class="accordion-content-text">
							You can always request an account statement for your securities,
							which will provide a complete list of your bonds held at the
							respective depository institution
						</p>
					</div>
				</div>
			</div>

			<div class="accordion-panel">
				<h3 id="panel18-title">
					<button
						class="accordion-trigger"
						aria-expanded="false"
						aria-controls="accordion12-content"
					>
						<div class="accordion-icon-wrapper">
							<svg
								class="accordion-icon"
								width="24"
								height="12"
								viewBox="0 0 12 12"
								fill="none"
								xmlns="http://www.w3.org/2000/svg"
							>
								<line
									x1="1"
									y1="6"
									x2="11"
									y2="6"
									stroke-width="2"
									stroke-linecap="round"
									stroke-linejoin="round"
									class="line horizontal"
								/>
								<line
									x1="6"
									y1="1"
									x2="6"
									y2="11"
									stroke-width="2"
									stroke-linecap="round"
									stroke-linejoin="round"
									class="line vertical"
								/>

								<!-- If you do not specify the stroke
       color the line will not be visible -->
							</svg>
						</div>
						Is it possible to receive written notifications about important
						changes or events related to the bonds?
					</button>
				</h3>
				<div
					class="accordion-content"
					role="region"
					aria-labelledby="panel18-title"
					aria-hidden="true"
					class="accordion-content"
					id="panel18-content"
				>
					<div>
						<p class="accordion-content-text">
							Yes, the depository institution will send you the relevant
							notifications. Usually, these notifications are sent via email
						</p>
					</div>
				</div>
			</div>

			<div class="accordion-panel">
				<h3 id="panel19-title">
					<button
						class="accordion-trigger"
						aria-expanded="false"
						aria-controls="accordion13-content"
					>
						<div class="accordion-icon-wrapper">
							<svg
								class="accordion-icon"
								width="24"
								height="12"
								viewBox="0 0 12 12"
								fill="none"
								xmlns="http://www.w3.org/2000/svg"
							>
								<line
									x1="1"
									y1="6"
									x2="11"
									y2="6"
									stroke-width="2"
									stroke-linecap="round"
									stroke-linejoin="round"
									class="line horizontal"
								/>
								<line
									x1="6"
									y1="1"
									x2="6"
									y2="11"
									stroke-width="2"
									stroke-linecap="round"
									stroke-linejoin="round"
									class="line vertical"
								/>

								<!-- If you do not specify the stroke
       color the line will not be visible -->
							</svg>
						</div>
						Can a bond be owned by multiple persons?
					</button>
				</h3>
				<div
					class="accordion-content"
					role="region"
					aria-labelledby="panel19-title"
					aria-hidden="true"
					class="accordion-content"
					id="panel19-content"
				>
					<div>
						<p class="accordion-content-text">
							A bond can be owned by multiple persons. There is a concept of
							joint ownership. While it is rare, this can happen, for example,
							during the division of property or inheritance
						</p>
					</div>
				</div>
			</div>

			<div class="accordion-panel">
				<h3 id="panel20-title">
					<button
						class="accordion-trigger"
						aria-expanded="false"
						aria-controls="accordion14-content"
					>
						<div class="accordion-icon-wrapper">
							<svg
								class="accordion-icon"
								width="24"
								height="12"
								viewBox="0 0 12 12"
								fill="none"
								xmlns="http://www.w3.org/2000/svg"
							>
								<line
									x1="1"
									y1="6"
									x2="11"
									y2="6"
									stroke-width="2"
									stroke-linecap="round"
									stroke-linejoin="round"
									class="line horizontal"
								/>
								<line
									x1="6"
									y1="1"
									x2="6"
									y2="11"
									stroke-width="2"
									stroke-linecap="round"
									stroke-linejoin="round"
									class="line vertical"
								/>

								<!-- If you do not specify the stroke
       color the line will not be visible -->
							</svg>
						</div>
						What is the minimum amount of government bonds (OVDP) in your
						institution?
					</button>
				</h3>
				<div
					class="accordion-content"
					role="region"
					aria-labelledby="panel20-title"
					aria-hidden="true"
					class="accordion-content"
					id="panel20-content"
				>
					<div>
						<p class="accordion-content-text">
							At our institution, you can purchase bonds starting from a single
							unit
						</p>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>
