<section class="faq-section">
	<div class="container faq-container">
		<h3 class="superheader">Information</h3>
		<h2 class="section-header faq-section-header">
			Frequently Asked Questions
		</h2>
		<div class="accordion faq-accordion">
			<div class="accordion-panel">
				<h3 id="panel1-title">
					<button
						class="accordion-trigger"
						aria-expanded="true"
						aria-controls="accordion1-content"
					>
						<div class="accordion-icon-wrapper">
							<svg
								class="accordion-icon"
								width="24"
								height="12"
								viewBox="0 0 12 12"
								fill="none"
								xmlns="http://www.w3.org/2000/svg"
							>
								<line
									x1="1"
									y1="6"
									x2="11"
									y2="6"
									stroke-width="2"
									stroke-linecap="round"
									stroke-linejoin="round"
									class="line horizontal"
								/>
								<line
									x1="6"
									y1="1"
									x2="6"
									y2="11"
									stroke-width="2"
									stroke-linecap="round"
									stroke-linejoin="round"
									class="line vertical"
								/>

								<!-- If you do not specify the stroke
       color the line will not be visible -->
							</svg>
						</div>
						What does an internal government bond look like, i.e., how can I
						know that I actually own a bond?
					</button>
				</h3>
				<div
					class="accordion-content"
					role="region"
					aria-labelledby="panel1-title"
					aria-hidden="false"
					id="panel1-content"
				>
					<div>
						<p class="accordion-content-text">
							Bonds, like other securities, exist in electronic form. Your
							ownership of bonds is confirmed by a corresponding document — a
							securities account statement. This document is provided by a
							licensed depository institution where your securities are held
						</p>
					</div>
				</div>
			</div>

			<div class="accordion-panel">
				<h3 id="panel2-title">
					<button
						class="accordion-trigger"
						aria-expanded="false"
						aria-controls="accordion2-content"
					>
						<div class="accordion-icon-wrapper">
							<svg
								class="accordion-icon"
								width="24"
								height="12"
								viewBox="0 0 12 12"
								fill="none"
								xmlns="http://www.w3.org/2000/svg"
							>
								<line
									x1="1"
									y1="6"
									x2="11"
									y2="6"
									stroke-width="2"
									stroke-linecap="round"
									stroke-linejoin="round"
									class="line horizontal"
								/>
								<line
									x1="6"
									y1="1"
									x2="6"
									y2="11"
									stroke-width="2"
									stroke-linecap="round"
									stroke-linejoin="round"
									class="line vertical"
								/>

								<!-- If you do not specify the stroke
       color the line will not be visible -->
							</svg>
						</div>
						What are the real guarantees for the protection of government bonds
						if the bank or broker account is blocked?
					</button>
				</h3>
				<div
					class="accordion-content"
					role="region"
					aria-labelledby="panel2-title"
					aria-hidden="true"
					id="panel2-content"
				>
					<div>
						<p class="accordion-content-text">
							All securities are stored separately from the broker's assets and
							are not subject to blocking due to the broker's obligations. If
							the broker's account is blocked, clients' ownership rights to the
							securities remain intact. Clients will be given the opportunity to
							transfer their securities to another depository institution
						</p>
					</div>
				</div>
			</div>

			<div class="accordion-panel">
				<h3 id="panel3-title">
					<button
						class="accordion-trigger"
						aria-expanded="false"
						aria-controls="accordion3-content"
					>
						<div class="accordion-icon-wrapper">
							<svg
								class="accordion-icon"
								width="24"
								height="12"
								viewBox="0 0 12 12"
								fill="none"
								xmlns="http://www.w3.org/2000/svg"
							>
								<line
									x1="1"
									y1="6"
									x2="11"
									y2="6"
									stroke-width="2"
									stroke-linecap="round"
									stroke-linejoin="round"
									class="line horizontal"
								/>
								<line
									x1="6"
									y1="1"
									x2="6"
									y2="11"
									stroke-width="2"
									stroke-linecap="round"
									stroke-linejoin="round"
									class="line vertical"
								/>

								<!-- If you do not specify the stroke
       color the line will not be visible -->
							</svg>
						</div>
						What is the real difference between a broker and a primary dealer
						bank?
					</button>
				</h3>
				<div
					class="accordion-content"
					role="region"
					aria-labelledby="panel3-title"
					aria-hidden="true"
					class="accordion-content"
					id="panel3-content"
				>
					<div>
						<p class="accordion-content-text">
							BTC Broker buys and sells government bonds on the secondary market
							and does not have direct access to the auctions conducted weekly
							by the Ministry of Finance. Only banks, known as
							<a
								class="text-link"
								href="https://www.mof.gov.ua/uk/perelik-pervinnih-dileriv"
								target="_blank"
								rel="nofollow noreferrer noopener"
								title="The list of primary dealers on the website of the Ministry of Finance of Ukraine"
								>primary dealers</a
							>, have access to these auctions. BTC Broker can also participate
							in these auctions, but only indirectly through a primary dealer
							bank
						</p>
					</div>
				</div>
			</div>

			<div class="accordion-panel">
				<h3 id="panel4-title">
					<button
						class="accordion-trigger"
						aria-expanded="false"
						aria-controls="accordion4-content"
					>
						<div class="accordion-icon-wrapper">
							<svg
								class="accordion-icon"
								width="24"
								height="12"
								viewBox="0 0 12 12"
								fill="none"
								xmlns="http://www.w3.org/2000/svg"
							>
								<line
									x1="1"
									y1="6"
									x2="11"
									y2="6"
									stroke-width="2"
									stroke-linecap="round"
									stroke-linejoin="round"
									class="line horizontal"
								/>
								<line
									x1="6"
									y1="1"
									x2="6"
									y2="11"
									stroke-width="2"
									stroke-linecap="round"
									stroke-linejoin="round"
									class="line vertical"
								/>

								<!-- If you do not specify the stroke
       color the line will not be visible -->
							</svg>
						</div>
						What are the advantages/disadvantages of choosing a broker over a
						bank?
					</button>
				</h3>
				<div
					class="accordion-content"
					role="region"
					aria-labelledby="panel4-title"
					aria-hidden="true"
					class="accordion-content"
					id="panel4-content"
				>
					<div>
						<p class="accordion-content-text">
							Basically, you just need to compare the transaction fees between
							the broker and the bank, as well as the yields they offer. This
							will help you see which option is more beneficial for you. One
							important detail is that if you plan to buy through a bank, you
							usually need to have a bank account with that bank. Brokers,
							however, can accept payments from almost any bank
						</p>
					</div>
				</div>
			</div>

			<div class="accordion-panel">
				<h3 id="panel5-title">
					<button
						class="accordion-trigger"
						aria-expanded="false"
						aria-controls="accordion5-content"
					>
						<div class="accordion-icon-wrapper">
							<svg
								class="accordion-icon"
								width="24"
								height="12"
								viewBox="0 0 12 12"
								fill="none"
								xmlns="http://www.w3.org/2000/svg"
							>
								<line
									x1="1"
									y1="6"
									x2="11"
									y2="6"
									stroke-width="2"
									stroke-linecap="round"
									stroke-linejoin="round"
									class="line horizontal"
								/>
								<line
									x1="6"
									y1="1"
									x2="6"
									y2="11"
									stroke-width="2"
									stroke-linecap="round"
									stroke-linejoin="round"
									class="line vertical"
								/>

								<!-- If you do not specify the stroke
       color the line will not be visible -->
							</svg>
						</div>
						Is there an option for the intermediate sale of bonds before their
						maturity, and what are the limitations? What is the procedure for
						selling government bonds and to whom are they sold or returned?
					</button>
				</h3>
				<div
					class="accordion-content"
					role="region"
					aria-labelledby="panel5-title"
					aria-hidden="true"
					class="accordion-content"
					id="panel5-content"
				>
					<div>
						<p class="accordion-content-text">
							Yes, bonds can be sold before maturity. You just need to find a
							buyer. In such cases, the limitations can only come from the
							buyer's side. For example, if you are selling a very large number
							of bonds, the buyer may only be willing to purchase a portion of
							them
						</p>
					</div>
				</div>
			</div>

			<div class="accordion-panel">
				<h3 id="panel6-title">
					<button
						class="accordion-trigger"
						aria-expanded="false"
						aria-controls="accordion6-content"
					>
						<div class="accordion-icon-wrapper">
							<svg
								class="accordion-icon"
								width="24"
								height="12"
								viewBox="0 0 12 12"
								fill="none"
								xmlns="http://www.w3.org/2000/svg"
							>
								<line
									x1="1"
									y1="6"
									x2="11"
									y2="6"
									stroke-width="2"
									stroke-linecap="round"
									stroke-linejoin="round"
									class="line horizontal"
								/>
								<line
									x1="6"
									y1="1"
									x2="6"
									y2="11"
									stroke-width="2"
									stroke-linecap="round"
									stroke-linejoin="round"
									class="line vertical"
								/>

								<!-- If you do not specify the stroke
       color the line will not be visible -->
							</svg>
						</div>
						What are the terms for issuing government bonds (OVDP)?
					</button>
				</h3>
				<div
					class="accordion-content"
					role="region"
					aria-labelledby="panel6-title"
					aria-hidden="true"
					class="accordion-content"
					id="panel6-content"
				>
					<div>
						<p class="accordion-content-text">
							Each series of government bonds (OVDP) has its own maturity date.
							Currently, bonds with maturity dates between 2024 and 2027 are
							predominantly traded on the market. However, the state can issue
							bonds with maturities extending up to, for example, 20 years
						</p>
					</div>
				</div>
			</div>
		</div>
		<a href="/en/faq" class="button-secondary faq-button"
			>All questions
			<svg class="button-secondary-icon" width="24" height="24">
				<use
					href="/src/images/svg/symbol-defs.svg#icon-secondary-button-arrow"
				></use>
			</svg>
		</a>
	</div>
</section>
