<section class="how-to-purchase-bonds-section">
	<div class="container how-to-purchase-bonds-container">
		<h3 class="superheader">Current</h3>
		<h1 class="section-header">
			How to Purchase Government Bonds (OVDP) in Ukraine
		</h1>
		<h4 class="subheader how-to-purchase-bonds-subheader">
			Currently, it is the most liquid investment instrument
		</h4>
		<p class="how-to-purchase-bonds-paragraph">
			At the moment, buying OVDP in Ukraine is very simple. However, you need to
			<a
				class="text-link"
				href="/src/en/brokerage-service.html"
				title="Link to the Brokerage Service page"
				>open a brokerage account</a
			>
			first!
		</p>
		<p class="how-to-purchase-bonds-paragraph">
			With the investment firm "BTC Broker," you can do this in just a few
			clicks, remotely without visiting the office, by downloading the
			<a
				class="text-link"
				href="https://trading.btc-broker.com/uk/"
				title="Link to the BondUA app page"
				>Investor Account investment web-app</a
			>.
		</p>
		<p class="how-to-purchase-bonds-paragraph">
			You can also open an account through our website in the
			<a
				class="text-link"
				href="/src/en/brokerage-service.html"
				title="Link to the Brokerage Service page"
				>Investment Services section</a
			>. After reviewing all the necessary documents, fill out the web
			questionnaire form.
		</p>
		<p class="how-to-purchase-bonds-paragraph">
			For common questions about investing in OVDP and their answers, visit the
			<a
				class="text-link"
				href="/src/en/faq.html"
				title="Link to the Frequently Asked Questions page"
				>Frequently Asked Questions page</a
			>.
		</p>
		<p>
			If you have questions about buying or selling OVDP,
			<a
				class="text-link"
				href="/src/en/contact-us.html"
				title="Link to the Contact Us page"
				>contact us</a
			>, and we will assist you as a broker in resolving this matter!
		</p>
	</div>
	<include
		src="./en/partials/investor-account-laptop.html"
		locals='{"header": "You can open an account and purchase government bonds (OVDP) remotely in your Investor Account"}'
	></include>
</section>
