<section class="how-to-purchase-apple-stocks-section">
	<div class="container how-to-purchase-apple-stocks-container">
		<h3 class="superheader">Stocks</h3>
		<h1 class="section-header">How and Where to Buy Apple Stocks?</h1>
		<h4 class="subheader how-to-purchase-apple-stocks-subheader">
			Ukrainian investors can buy Apple stocks both in Ukraine and abroad on US
			stock exchanges
		</h4>
		<p class="how-to-purchase-apple-stocks-paragraph">
			Investment Firm "BTC Broker" has provided both opportunities to invest in
			the stocks of foreign issuers: as a broker on domestic stock exchanges and
			as a sub-broker offering access to international stock markets through a
			foreign partner broker for its clients.
		</p>
		<p class="how-to-purchase-apple-stocks-paragraph">
			However, after the full-scale russian invasion of Ukraine, the service of
			investing in foreign issuers became limited due to the current martial law
			legislation and corresponding NBU currency restrictions on the transfer of
			capital abroad.
		</p>
		<p class="how-to-purchase-apple-stocks-paragraph">
			Currently, BTС Broker offers its clients a convenient and advanced web
			platform,
			<a
				class="text-link"
				target="_blank"
				href="https://trading.btc-broker.com/uk/"
				title="Link to the Investor Account web page"
				>the Investor Account</a
			>
			<strong
				>, where you can, among other things, buy or sell Apple shares</strong
			>. However, please note that the availability of foreign securities
			approved for circulation in Ukraine by the NSSMC is very limited.
			Therefore, the continuous availability of Apple shares in the Investor
			Account is not guaranteed!
		</p>
		<p>
			If you have any further questions regarding the purchase of foreign issuer
			stocks, please feel free to
			<a
				class="text-link"
				href="/src/en/contact-us.html"
				title="Link to the Contact Us page"
				>contact us</a
			>
			in any way that is convenient for you.
		</p>
	</div>
	<include
		src="./en/partials/investor-account-laptop.html"
		locals='{"header": "You can open an account and purchase Apple stocks remotely in your Investor Account"}'
	></include>
</section>
