<section class="investor-account-laptop-section">
	<div class="container investor-account-laptop-container">
		<div class="investor-account-laptop-description-container">
			<h3 class="superheader">The BTC Broker Web App</h3>
			<h2 class="section-header investor-account-laptop-description-header">
				{{ header }}
			</h2>
			<h4 class="subheader investor-account-laptop-description-subheader">
				Join now
			</h4>
			<a
				href="https://trading.btc-broker.com/"
				class="button-primary investor-account-laptop-description-button"
				>Get Started</a
			>
		</div>
	</div>
</section>
