<section class="mentions-in-media-section">
	<div class="container mentions-in-media-container">
		<h3 class="superheader">About Us</h3>
		<h1 class="section-header">Mentions in Media</h1>
		<ul class="mentions-in-media-cards-list">
			<li class="mentions-in-media-cards-item">
				<h2 class="mentions-in-media-cards-date">April 2, 2025</h2>
				<div class="flex-wrp">
					<div class="image-thumb">
						<img
							src="/src/images/top-income-liga.jpg"
							alt="Top Ukrainian Trading Companies by Revenue in 2024. How Much They
							Earned and What Influenced It"
						/>
					</div>
					<div class="mentions-in-media-cards-text-wrp">
						<p class="mentions-in-media-cards-paragraph">
							"Top Ukrainian Trading Companies by Revenue in 2024. How Much They
							Earned and What Influenced It" –
							<a
								href="https://finance.liga.net/ua/ekonomika/infografica/top-ukrainskykh-treyderskykh-kompaniy-za-dokhodom-u-2024-rotsi-skilky-zarobyly-ta-shcho-na-tse-vplynulo"
								class="text-link"
								target="_blank"
								rel="noopener noreferrer nofollow"
								>An analytical review by LIGA.net</a
							>
							included "BTC Broker" as a leader in the domestic stock market.
						</p>
						<p class="mentions-in-media-cards-paragraph">
							Roman Osypov, the director of the investment firm, responded to
							LIGA.net journalist's question about what influenced the brokerage
							business in 2024 in general, and "BTC Broker" in particular.
						</p>
					</div>
				</div>
			</li>
			<li class="mentions-in-media-cards-item">
				<h2 class="mentions-in-media-cards-date">April 1, 2025</h2>
				<div class="flex-wrp">
					<div class="image-thumb">
						<img
							src="/src/images/btc-broker-leader.jpg"
							alt="Based on the
						results of 2024, «BTC Broker» entered the top three"
						/>
					</div>
					<div class="mentions-in-media-cards-text-wrp">
						<p class="mentions-in-media-cards-paragraph">
							"Based on the results of 2024, "BTC Broker" entered the top three
							leaders among clearing participants in the Ukrainian stock market
							at
							<a
								href="https://settlement.com.ua/periodical-publications/news/%D0%BE%D0%B3%D0%BB%D1%8F%D0%B4-%D1%80%D0%B8%D0%BD%D0%BA%D1%96%D0%B2-%D1%86%D1%96%D0%BD%D0%BD%D0%B8%D1%85-%D0%BF%D0%B0%D0%BF%D0%B5%D1%80%D1%96%D0%B2-%D1%82%D0%B0-%D0%B4%D0%B5%D1%80%D0%B8%D0%B2%D0%B0%D1%82%D0%B8%D0%B2%D1%96%D0%B2-%D0%B7%D0%B0-2024-%D1%80%D1%96%D0%BA.html"
								class="text-link"
								target="_blank"
								rel="noopener noreferrer nofollow"
								>PJSC "Settlement Center"</a
							>
							– taking the honorable second place!
						</p>
						<p class="mentions-in-media-cards-paragraph">
							We sincerely thank every client who entrusted us with conducting
							their transactions in the stock market!
						</p>
						<p class="mentions-in-media-cards-paragraph">
							Great thanks to the Defense Forces of Ukraine for the opportunity
							to work and do business in an unconquered country!!!
						</p>
						<p class="mentions-in-media-cards-paragraph">
							We remind you that you can contribute to the defeat of russia and
							support the Armed Forces of Ukraine by
							<a
								href="https://t.me/btcbroker_news/72"
								class="text-link"
								target="_blank"
								rel="noopener noreferrer nofollow"
								>purchasing military bonds</a
							>!
						</p>
					</div>
				</div>
			</li>
			<li class="mentions-in-media-cards-item">
				<h2 class="mentions-in-media-cards-date">January 27, 2025</h2>
				<div class="flex-wrp">
					<div class="image-thumb">
						<img
							src="/src/images/liga-net-explored-the-state.jpg"
							alt="“BTC Broker” continues to support Ukraine's Defense Forces!"
						/>
					</div>
					<div class="mentions-in-media-cards-text-wrp">
						<p class="mentions-in-media-cards-paragraph">
							The online publication LIGA.net explored the state of the
							Ukrainian stock market and the trading of local issuers' shares on
							domestic exchanges. Experts from "BTC Broker" and other industry
							colleagues provided insights.
						</p>
						<p class="mentions-in-media-cards-paragraph">
							Read more in the article:
							<a
								href="https://finance.liga.net/ua/stock/article/nedootsineni-i-malodostupni-yak-prodaiutsia-aktsii-ukrainskykh-kompaniy/"
								class="text-link"
								target="_blank"
								rel="noopener noreferrer nofollow"
								>"Undervalued and Hard to Access: How Ukrainian Companies’
								Stocks Are Traded."</a
							>
						</p>
					</div>
				</div>
			</li>
			<li class="mentions-in-media-cards-item">
				<h2 class="mentions-in-media-cards-date">December 12, 2024</h2>
				<div class="flex-wrp">
					<div class="image-thumb">
						<img
							src="/src/images/bus-for-andrii-taran.jpg"
							alt="“BTC Broker” continues to support Ukraine's Defense Forces!"
						/>
					</div>
					<div class="mentions-in-media-cards-text-wrp">
						<p class="mentions-in-media-cards-paragraph">
							“BTC Broker” continues to support Ukraine's Defense Forces! On St.
							Nicholas Day, the company
							<a
								href="https://www.facebook.com/share/p/1iq6he4LiK8L5MNX/"
								class="text-link"
								target="_blank"
								rel="noopener noreferrer nofollow"
								>completed a fundraiser for a modified vehicle</a
							>
							for the 3rd Company of the 8th Separate Rifle Battalion, 78th
							Regiment of the Air Assault Forces, where their trader Andriy
							Taran serves.
						</p>
						<p class="mentions-in-media-cards-paragraph">
							Supporting Ukrainian soldiers and the economy during this time is
							one of the most critical responsibilities for any business.
						</p>
						<p class="mentions-in-media-cards-paragraph-zero-margin">
							Glory to Ukraine!
						</p>
						<p class="mentions-in-media-cards-paragraph">
							Glory to the heroes!
						</p>
					</div>
				</div>
			</li>
			<li class="mentions-in-media-cards-item">
				<h2 class="mentions-in-media-cards-date">December 3, 2024</h2>
				<div class="flex-wrp">
					<div class="image-thumb">
						<img
							src="/src/images/corp-bonds-how-to-make-26.jpg"
							alt="Corporate Bonds: How to Earn 26% Annually in Hryvnia and Up to
								8% in Dollars!"
						/>
					</div>
					<div class="mentions-in-media-cards-text-wrp">
						<p class="mentions-in-media-cards-paragraph">
							<strong
								>"Corporate Bonds: How to Earn 26% Annually in Hryvnia and Up to
								8% in Dollars!"</strong
							>
							- this title introduces an insightful review of the corporate bond
							market published by Minfin, featuring expert commentary from "BTC
							Broker".
						</p>
						<p class="mentions-in-media-cards-paragraph">
							The article explores alternatives to government bonds (OVDPs),
							identifies the most active issuers in the corporate bond market,
							and discusses the yields available for this type of security. For
							these details and more, refer to
							<a
								href="https://minfin.com.ua/ua/currency/articles/korporativni-obligaciyi-yak-zarobiti-26-richnih-u-grivni-i-do-8--u-dolari/"
								class="text-link"
								target="_blank"
								rel="noopener noreferrer nofollow"
								>the article by Minfin</a
							>.
						</p>
					</div>
				</div>
			</li>
			<li class="mentions-in-media-cards-item">
				<h2 class="mentions-in-media-cards-date">November 21, 2024</h2>
				<div class="flex-wrp">
					<div class="image-thumb">
						<img
							src="/src/images/forbes-2024.jpg"
							alt="Forbes Ukraine, in its article, conducted retrospective
							calculations of the returns from government bonds (OVDPs)"
						/>
					</div>
					<div class="mentions-in-media-cards-text-wrp">
						<p class="mentions-in-media-cards-paragraph">
							Forbes Ukraine, in its article, conducted retrospective
							calculations of the returns from government bonds (OVDPs),
							deposits, and currency as of late May and early October. In both
							cases, OVDPs proved to be the most profitable investment option.
						</p>
						<p class="mentions-in-media-cards-paragraph">
							"BTC Broker" confirms that OVDPs remain one of the most lucrative
							investments during the war!
						</p>
						<p class="mentions-in-media-cards-paragraph">
							You can read the full Forbes article about the OVDP market,
							including comments from "BTC Broker," via the
							<a
								href="https://forbes.ua/money/ovdp-zamist-dolara-ta-depozitiv-de-kupuvati-derzhavni-obligatsii-ta-yak-na-nikh-zarobiti-rozbir-20112024-24946"
								class="text-link"
								target="_blank"
								rel="noopener noreferrer nofollow"
								>following link</a
							>.
						</p>
					</div>
				</div>
			</li>
			<li class="mentions-in-media-cards-item">
				<h2 class="mentions-in-media-cards-date">October 15, 2024</h2>
				<div class="flex-wrp">
					<div class="image-thumb">
						<img
							src="/src/images/zabka-go-market.jpg"
							alt="The Polish retailer Żabka is entering the Warsaw Stock Exchange"
						/>
					</div>
					<div class="mentions-in-media-cards-text-wrp">
						<p class="mentions-in-media-cards-paragraph">
							The Polish retailer "Żabka" is entering the Warsaw Stock Exchange,
							and experts from the investment firm "BTC Broker" helped
							journalists from Minfin explore whether buying shares in this
							company is advisable. You can read the full article via the
							<a
								href="https://minfin.com.ua/ua/currency/articles/naybilsha-torgovelna-merezha-v-polschi-provodit-ipo-chi-varto-kupuvati-yiyi-akciyi/"
								class="text-link"
								target="_blank"
								rel="noopener noreferrer nofollow"
								>provided link</a
							>.
						</p>
					</div>
				</div>
			</li>
			<li class="mentions-in-media-cards-item">
				<h2 class="mentions-in-media-cards-date">August 9, 2024</h2>
				<div class="flex-wrp">
					<div class="image-thumb">
						<img
							src="/src/images/invest-bag.jpg"
							alt="Stock photo with a portfolio, calculator, money, gold bars, and a tablet with charts"
						/>
					</div>
					<div class="mentions-in-media-cards-text-wrp">
						<p class="mentions-in-media-cards-paragraph">
							"The Hryvnia is devaluing: what to change in your investment
							portfolio" — under this title, an article was published in
							<a
								href="https://minfin.com.ua/ua/invest/articles/grivna-devalviruet-chto-izmenit-v-svoem-portfele-investiciy/"
								class="text-link"
								target="_blank"
								rel="noopener noreferrer nofollow"
								>the online edition of Minfin</a
							>
							at the beginning of August, featuring comments from "BTC Broker"
							and other stock market experts. The article discusses which
							savings instruments are currently most relevant for short- and
							long-term portfolios and how they have changed due to the
							devaluation of the Hryvnia. You can learn more from the article.
						</p>
					</div>
				</div>
			</li>
			<li class="mentions-in-media-cards-item">
				<h2 class="mentions-in-media-cards-date">July 11, 2024</h2>
				<div class="flex-wrp">
					<div class="image-thumb">
						<img
							src="/src/images/volunteer-roma.jpg"
							alt="Roman Osypov delivers drones to the Armed Forces of Ukraine"
						/>
					</div>
					<div class="mentions-in-media-cards-text-wrp">
						<p class="mentions-in-media-cards-paragraph">
							One of the primary responsibilities of businesses during the war
							is to support our Defense Forces and volunteers in their crucial
							efforts, which are vital for achieving victory over the russian
							occupiers. Therefore, "BTC Broker" has provided some
							"non-financial instruments" to our military for the destruction of
							the enemy!
							<a
								href="https://www.facebook.com/100000821585601/videos/453585617430026/"
								class="text-link"
								target="_blank"
								rel="noopener noreferrer nofollow"
								>Source – Facebook</a
							>
						</p>
					</div>
				</div>
			</li>
			<li class="mentions-in-media-cards-item">
				<h2 class="mentions-in-media-cards-date">May 28, 2024</h2>
				<div class="flex-wrp">
					<div class="image-thumb">
						<img
							src="/src/images/ovdp-investments.jpg"
							alt="The text 'ОВДП' on a background of quotes"
						/>
					</div>
					<div class="mentions-in-media-cards-text-wrp">
						<p class="mentions-in-media-cards-paragraph">
							"Investing in Government Bonds: How to Create the Perfect
							Portfolio" - This article from
							<a
								href="https://minfin.com.ua/ua/currency/articles/yak-zbilshiti-dohidnist-ta-zahistiti-groshi-investuyuchi-v-ovdp/"
								class="text-link"
								target="_blank"
								rel="noopener noreferrer nofollow"
								>the online publication Minfin</a
							>, featuring expert commentary from BTC Broker, addresses
							intriguing questions such as: In which currency should you form a
							government bonds (OVDP) portfolio? What should the currency
							proportions be? Which maturity terms are preferable for OVDP? Find
							out more, including insights from our market colleagues, in the
							full article.
						</p>
					</div>
				</div>
			</li>
			<li class="mentions-in-media-cards-item">
				<h2 class="mentions-in-media-cards-date">May 26, 2024</h2>
				<div class="flex-wrp">
					<div class="image-thumb">
						<img
							src="/src/images/31st-chestnut-run.jpg"
							alt="BTC Broker Employees Running with the Ukrainian Flag in Hand"
						/>
					</div>
					<div class="mentions-in-media-cards-text-wrp">
						<p class="mentions-in-media-cards-paragraph">
							BTC Broker employees traditionally participated in the annual
							charity event "Run Under the Chestnuts" on Kyiv Day.
						</p>
						<p class="mentions-in-media-cards-paragraph">
							Every year, the run raises awareness about congenital heart
							defects and solutions, attracting the attention of Ukrainians and
							major media outlets.
						</p>
						<p class="mentions-in-media-cards-paragraph">
							<a
								href="https://probig.in.ua/"
								class="text-link"
								target="_blank"
								rel="noopener noreferrer nofollow"
								>The charitable organization "BF 'Run Under the Chestnuts'"</a
							>
							purchases necessary equipment for the Scientific and Practical
							Medical Center for Pediatric Cardiology and Cardiac Surgery of the
							Ministry of Health of Ukraine.
						</p>
					</div>
				</div>
			</li>
			<li class="mentions-in-media-cards-item">
				<h2 class="mentions-in-media-cards-date">May 9, 2024</h2>
				<div class="flex-wrp">
					<div class="image-thumb">
						<img
							src="/src/images/minfin-corporate-bonds.jpg"
							alt="Banknotes and Coins"
						/>
					</div>
					<div class="mentions-in-media-cards-text-wrp">
						<p class="mentions-in-media-cards-paragraph">
							<a
								href="https://minfin.com.ua/ua/currency/articles/korporativni-obligaciyi-chi-vigidnishi-voni-za-ovdp-ta-chim-rizikue-investor/"
								class="text-link"
								target="_blank"
								rel="noopener noreferrer nofollow"
								>The online publication "Minfin"</a
							>
							features an article with comments from BTC Broker on the Ukrainian
							corporate bond market during the war. The article discusses
							interest rates on corporate bonds, notable issuers in the market,
							how to purchase these securities, and much more.
						</p>
					</div>
				</div>
			</li>
			<li class="mentions-in-media-cards-item">
				<h2 class="mentions-in-media-cards-date">October 18, 2022</h2>
				<div class="flex-wrp">
					<div class="image-thumb">
						<img src="/src/images/diia-warbonds.jpg" alt="War Bonds in Diia" />
					</div>
					<div class="mentions-in-media-cards-text-wrp">
						<p class="mentions-in-media-cards-paragraph">
							<a
								href="https://forbes.ua/news/ukraintsi-kupili-cherez-zastosunok-diya-viyskovi-ovdp-na-sumu-50-mln-grn-18102022-9087"
								class="text-link"
								target="_blank"
								rel="noopener noreferrer nofollow"
								>The online publication Forbes</a
							>
							discusses the Ministry of Digital Transformation's launch of the
							ability to purchase war bonds through the Diia app. BTC Broker's
							comments on collaborating to distribute military government bonds
							(OVDP) through Diia are also featured.
						</p>
					</div>
				</div>
			</li>
			<li class="mentions-in-media-cards-item">
				<h2 class="mentions-in-media-cards-date">March 15, 2022</h2>
				<div class="flex-wrp">
					<div class="image-thumb">
						<img
							src="/src/images/e-pravda-img.jpg"
							alt="A group of soldiers at a training ground"
						/>
					</div>
					<div class="mentions-in-media-cards-text-wrp">
						<p class="mentions-in-media-cards-paragraph">
							"Supporting Our Own to Avoid Feeding Others. How Financial
							Victories Are Forged in Wars" -
							<a
								href="https://www.epravda.com.ua/publications/2022/03/15/684077/"
								class="text-link"
								target="_blank"
								rel="noopener noreferrer nofollow"
								>An article in "Economic Truth"</a
							>
							discusses the importance of launching tools like war bonds and
							includes comments from Roman Osypov, the director of BTC Broker,
							on how and where to purchase military OVDP.
						</p>
					</div>
				</div>
			</li>
			<li class="mentions-in-media-cards-item">
				<h2 class="mentions-in-media-cards-date">December 3, 2021</h2>
				<div class="flex-wrp">
					<div class="image-thumb">
						<img
							src="/src/images/bond-ua-app.jpg"
							alt="Two mobile phones with bond.UA app on the screens"
						/>
					</div>
					<div class="mentions-in-media-cards-text-wrp">
						<p class="mentions-in-media-cards-paragraph">
							Director and Co-owner of "BTC Broker" Roman Osypov informed
							<a
								href="https://interfax.com.ua/news/economic/783883.html"
								class="text-link"
								target="_blank"
								rel="noopener noreferrer nofollow"
								>the Interfax-Ukraine agency</a
							>
							that the investment mobile app called Bond.UA is currently in the
							testing phase and will be launched "in the coming weeks."
						</p>
					</div>
				</div>
			</li>
			<li class="mentions-in-media-cards-item">
				<h2 class="mentions-in-media-cards-date">July 30, 2019</h2>
				<div class="flex-wrp">
					<div class="image-thumb">
						<img
							src="/src/images/apple-stocks-youtube.jpg"
							alt="Roman Osypov at the press conference dedicated to the first Apple shares in Ukraine"
						/>
					</div>
					<div class="mentions-in-media-cards-text-wrp">
						<p class="mentions-in-media-cards-paragraph">
							On July 30, 2019, at the press center of the
							<a
								href="https://www.youtube.com/live/MmrRDq7keO4?si=MpQbFlmkhSbXHND2"
								class="text-link"
								target="_blank"
								rel="noopener noreferrer nofollow"
								>Interfax-Ukraine news agency</a
							>, Roman Osypov, director of "BTC Broker" LLC, participated in a
							press conference on "Apple Inc. shares on the Ukrainian Exchange."
							This marked the first step in introducing a new class of long-term
							investment instruments, initiated by BTC Broker.
						</p>
					</div>
				</div>
			</li>
		</ul>
	</div>
</section>
