<section class="partners-section">
	<div class="container partners-container">
		<h3 class="superheader">About Us</h3>
		<h1 class="section-header">Our Partners</h1>
		<ul class="partners-cards-list">
			<li class="partners-cards-item">
				<a
					href="https://militarybonds.diia.gov.ua/"
					class="partners-cards-link"
					target="_blank"
					rel="noopener noreferrer nofollow"
				>
					<div class="partners-cards-image-wrapper">
						<img
							class="partners-cards-logo"
							src="/src/images/svg/DiiaLogo.svg"
							alt="Diia app logo"
						/>
					</div>
					<div class="partners-cards-description-wrapper">
						<p>
							Remote client verification before opening a brokerage account,
							purchase of military government bonds (OVDP) on the Diia
							marketplace
						</p>
					</div>
				</a>
			</li>
			<li class="partners-cards-item">
				<a
					href="https://www.ux.ua/"
					class="partners-cards-link"
					target="_blank"
					rel="noopener noreferrer nofollow"
				>
					<div class="partners-cards-image-wrapper">
						<img
							class="partners-cards-logo"
							src="/src/images/svg/ukrainian_exchange_logo.svg"
							alt="Ukrainian Exchange logo"
						/>
					</div>
					<div class="partners-cards-description-wrapper">
						<p>
							One of the most technologically advanced exchanges, offering
							access to the SPOT sections (market for stocks, bonds, and other
							securities) and the derivatives market (futures, options, and
							other derivatives)
						</p>
					</div>
				</a>
			</li>
			<li class="partners-cards-item">
				<a
					href="https://privatbank.ua/"
					class="partners-cards-link"
					target="_blank"
					rel="noopener noreferrer nofollow"
				>
					<div class="partners-cards-image-wrapper">
						<img
							class="partners-cards-logo"
							src="/src/images/svg/privatbank_logo.svg"
							alt="PrivatBank logo"
						/>
					</div>
					<div class="partners-cards-description-wrapper">
						<p>
							A systematic state bank that allows BTC Broker clients to top up
							and withdraw funds through the Bond.UA mobile app with a single
							click
						</p>
					</div>
				</a>
			</li>
			<li class="partners-cards-item">
				<a
					href="https://bond.ua/"
					class="partners-cards-link"
					target="_blank"
					rel="noopener noreferrer nofollow"
				>
					<div class="partners-cards-image-wrapper">
						<img
							class="partners-cards-logo"
							src="/src/images/svg/bond_ua_logo.svg"
							alt="BondUA app logo"
						/>
					</div>
					<div class="partners-cards-description-wrapper">
						<p>
							A fintech mobile app for investing, created in collaboration with
							our company and "Bond.UA" LLC. It offers fully remote account
							opening and one-click buying/selling of securities
						</p>
					</div>
				</a>
			</li>
			<li class="partners-cards-item">
				<a
					href="https://pfts.ua/"
					class="partners-cards-link"
					target="_blank"
					rel="noopener noreferrer nofollow"
				>
					<div class="partners-cards-image-wrapper">
						<img
							class="partners-cards-logo"
							src="/src/images/svg/pfts-logo.svg"
							alt="PFTS logo"
						/>
					</div>
					<div class="partners-cards-description-wrapper">
						<p>
							One of the oldest stock exchanges since Ukraine's independence and
							a leader in OVDP trading volumes. This enables "BTC Broker" to
							execute large-volume transactions at the best market prices for
							its clients
						</p>
					</div>
				</a>
			</li>
			<li class="partners-cards-item">
				<a
					href="https://www.ii-bank.com.ua/uk/corporate-clients"
					class="partners-cards-link"
					target="_blank"
					rel="noopener noreferrer nofollow"
				>
					<div class="partners-cards-image-wrapper">
						<img
							class="partners-cards-logo"
							src="/src/images/svg/mib-logo.svg"
							alt="International Investment Bank's logo"
						/>
					</div>
					<div class="partners-cards-description-wrapper">
						<p>
							The bank offers a wide range of banking services for both legal
							entities and individuals, and most importantly, it understands the
							regulatory specifics and peculiarities of working in the stock
							market for its clients
						</p>
					</div>
				</a>
			</li>
		</ul>
	</div>
</section>
