<section class="price-section">
	<div class="container price-container">
		<ul class="price-cards-list">
			<li class="price-card price-card-with-label">
				<div class="price-card-header">
					<h3 class="superheader price-card-superheader">
						Excerpt from tariffs
					</h3>
					<h4 class="price-card-title">Bond<sup>.ua</sup></h4>
				</div>
				<div class="price-card-body">
					<ul class="price-card-benefits-list">
						<li class="price-card-benefits-item">
							<div class="list-icon-wrapper">
								<svg
									class="price-card-benefits-icon"
									width="24"
									height="24"
									fill="none"
								>
									<use
										href="/src/images/svg/symbol-defs.svg#icon-done-check"
									></use>
								</svg>
							</div>
							<p>Account opening - 0 UAH</p>
						</li>
						<li class="price-card-benefits-item">
							<div class="list-icon-wrapper">
								<svg
									class="price-card-benefits-icon"
									width="24"
									height="24"
									fill="none"
								>
									<use
										href="/src/images/svg/symbol-defs.svg#icon-done-check"
									></use>
								</svg>
							</div>
							<p>Purchase/sale of government bonds - 0 UAH</p>
						</li>
						<li class="price-card-benefits-item">
							<div class="list-icon-wrapper">
								<svg
									class="price-card-benefits-icon"
									width="24"
									height="24"
									fill="none"
								>
									<use
										href="/src/images/svg/symbol-defs.svg#icon-done-check"
									></use>
								</svg>
							</div>
							<p>Purchase/sale of shares of Ukrainian issuers - 0 UAH</p>
						</li>
						<li class="price-card-benefits-item">
							<div class="list-icon-wrapper">
								<svg
									class="price-card-benefits-icon"
									width="24"
									height="24"
									fill="none"
								>
									<use
										href="/src/images/svg/symbol-defs.svg#icon-done-check"
									></use>
								</svg>
							</div>
							<p>Purchase/sale of shares of foreign issuers - 0 UAH</p>
						</li>
						<li class="price-card-benefits-item">
							<div class="list-icon-wrapper">
								<svg
									class="price-card-benefits-icon"
									width="24"
									height="24"
									fill="none"
								>
									<use
										href="/src/images/svg/symbol-defs.svg#icon-done-check"
									></use>
								</svg>
							</div>
							<p>Custody of government bonds - 0 UAH</p>
						</li>
					</ul>
				</div>
				<div class="price-card-footer">
					<a href="/pricing" class="button-secondary price-card-button"
						>All tariffs
						<svg
							class="price-card-benefits-icon"
							class="button-secondary-icon"
							width="24"
							height="24"
						>
							<use
								href="/src/images/svg/symbol-defs.svg#icon-secondary-button-arrow"
							></use>
						</svg>
					</a>
				</div>
				<img
					class="best-choice-label"
					src="/src/images/svg/best-choice-label.svg"
					alt="Best choice label"
				/>
			</li>
			<li class="price-card">
				<div class="price-card-header">
					<h3 class="superheader price-card-superheader">
						Excerpt from tariffs
					</h3>
					<h4 class="price-card-title">Standart</h4>
				</div>
				<div class="price-card-body">
					<ul class="price-card-benefits-list">
						<li class="price-card-benefits-item">
							<div class="list-icon-wrapper">
								<svg
									class="price-card-benefits-icon"
									width="24"
									height="24"
									fill="none"
								>
									<use
										href="/src/images/svg/symbol-defs.svg#icon-done-check"
									></use>
								</svg>
							</div>
							<p>Opening a securities account - FREE</p>
						</li>
						<li class="price-card-benefits-item">
							<div class="list-icon-wrapper">
								<svg
									class="price-card-benefits-icon"
									width="24"
									height="24"
									fill="none"
								>
									<use
										href="/src/images/svg/symbol-defs.svg#icon-done-check"
									></use>
								</svg>
							</div>
							<p>
								Purchase/sale of government bonds on the organized market - 0.1%
								but not less than 500.00 UAH
							</p>
						</li>
						<li class="price-card-benefits-item">
							<div class="list-icon-wrapper">
								<svg
									class="price-card-benefits-icon"
									width="24"
									height="24"
									fill="none"
								>
									<use
										href="/src/images/svg/symbol-defs.svg#icon-done-check"
									></use>
								</svg>
							</div>
							<p>
								Purchase/sale of corporate securities on the organized market -
								0.1% but not less than 350.00 UAH
							</p>
						</li>
						<li class="price-card-benefits-item">
							<div class="list-icon-wrapper">
								<svg
									class="price-card-benefits-icon"
									width="24"
									height="24"
									fill="none"
								>
									<use
										href="/src/images/svg/symbol-defs.svg#icon-done-check"
									></use>
								</svg>
							</div>
							<p>
								Purchase/sale of corporate securities, government bonds, and
								promissory notes on the unorganized market - 0.3% but not less
								than 1,000.00 UAH
							</p>
						</li>
					</ul>
				</div>
				<div class="price-card-footer">
					<a href="/pricing" class="button-secondary price-card-button"
						>All tariffs
						<svg
							class="price-card-benefits-icon"
							class="button-secondary-icon"
							width="24"
							height="24"
						>
							<use
								href="/src/images/svg/symbol-defs.svg#icon-secondary-button-arrow"
							></use>
						</svg>
					</a>
				</div>
			</li>
		</ul>
		<div class="price-description-container">
			<div class="price-description-wrapper">
				<h3 class="superheader">Other tariffs</h3>
				<h2 class="section-header">Full list of tariffs</h2>
				<p class="price-description-text">
					We have developed optimal client-oriented tariffs for our discerning
					customers. You can review them by following the link below
				</p>
				<a
					href="/src/en/pricing.html"
					class="button-primary price-description-button"
					>All tariffs</a
				>
			</div>
			<img
				class="price-description-illustration"
				src="/src/images/illustration-price-section.svg"
				alt="Documents folder"
			/>
		</div>
	</div>
</section>
