<section class="repo-section">
	<div class="container repo-container">
		<h3 class="superheader">Services</h3>
		<h1 class="section-header repo-header">
			REPO Transaction: In Simple Terms
		</h1>
		<h4 class="subheader repo-subheader">
			As previously mentioned, a REPO transaction, in economic terms, is a
			credit operation where securities are used as collateral
		</h4>
		<h2 class="chapter-header">Key Parameters for REPO Transactions:</h2>
		<p class="repo-paragraph">
			For a participant providing funds or securities in a REPO transaction, the
			financial result is the difference between the amounts of the first and
			second parts of the deal, which depends on the interest rate (expressed as
			an annual percentage) and the duration between the first and second parts
			(similar to a bank loan).
		</p>
		<p class="repo-paragraph">
			The party providing funds or securities assumes the risk of
			non-performance of the second part of the REPO deal by the other party if
			the market price of the securities significantly changes. Therefore,
			<strong class="strong-text"
				>securities are usually taken as collateral at a price below the current
				market value on the day of the REPO deal.</strong
			>
			The difference between the price of one security in the first part of the
			REPO deal and the current market price is called the "price adjustment".
		</p>
		<h2 class="chapter-header">Advantages of REPO:</h2>
		<ul class="repo-description-list">
			<li class="repo-description-item">
				<div class="repo-icon-wrapper">
					<svg class="repo-description-icon" width="24" height="24" fill="none">
						<use href="/src/images/svg/symbol-defs.svg#icon-done-check"></use>
					</svg>
				</div>
				<p>Higher yield compared to short-term bank deposits</p>
			</li>
			<li class="repo-description-item">
				<div class="repo-icon-wrapper">
					<svg class="repo-description-icon" width="24" height="24" fill="none">
						<use href="/src/images/svg/symbol-defs.svg#icon-done-check"></use>
					</svg>
				</div>
				<p>
					Ability to place funds for short periods — from a week — unlike bank
					deposits
				</p>
			</li>
			<li class="repo-description-item">
				<div class="repo-icon-wrapper">
					<svg class="repo-description-icon" width="24" height="24" fill="none">
						<use href="/src/images/svg/symbol-defs.svg#icon-done-check"></use>
					</svg>
				</div>
				<p>
					Collateral for providing funds can be in the form of government bonds
					(OVDP) or other reliable securities
				</p>
			</li>
			<li class="repo-description-item">
				<div class="repo-icon-wrapper">
					<svg class="repo-description-icon" width="24" height="24" fill="none">
						<use href="/src/images/svg/symbol-defs.svg#icon-done-check"></use>
					</svg>
				</div>
				<p>No personal income tax on income from OVDP transactions</p>
			</li>
			<li class="repo-description-item">
				<div class="repo-icon-wrapper">
					<svg class="repo-description-icon" width="24" height="24" fill="none">
						<use href="/src/images/svg/symbol-defs.svg#icon-done-check"></use>
					</svg>
				</div>
				<p>
					Technological efficiency — REPO transactions can be executed through
					the Exchange Trading System
				</p>
			</li>
			<li class="repo-description-item">
				<div class="repo-icon-wrapper">
					<svg class="repo-description-icon" width="24" height="24" fill="none">
						<use href="/src/images/svg/symbol-defs.svg#icon-done-check"></use>
					</svg>
				</div>
				<p>
					The stock exchange ensures the "delivery versus payment" principle
				</p>
			</li>
			<li class="repo-description-item">
				<div class="repo-icon-wrapper">
					<svg class="repo-description-icon" width="24" height="24" fill="none">
						<use href="/src/images/svg/symbol-defs.svg#icon-done-check"></use>
					</svg>
				</div>
				<p>
					After completing the first or second part of the transaction, both
					parties can immediately use the received asset to participate in
					exchange trading
				</p>
			</li>
		</ul>
		<p>
			If you have any questions regarding REPO transactions, please
			<a
				class="text-link"
				href="/src/en/contact-us.html"
				title="Link to the Contact Us page"
				>contact us</a
			>, and our specialists will consult you.
		</p>
	</div>
</section>
