<section class="repo-section">
	<div class="container repo-container">
		<h3 class="superheader">Послуги</h3>
		<h1 class="section-header repo-header">Операція РЕПО. Простими словами</h1>
		<h4 class="subheader repo-subheader">
			Як вже зазначалося раніше - за своєю економічною суттю операція РЕПО — це
			кредитна операція, в якій цінні папери використовуються як забезпечення
		</h4>
		<h2 class="chapter-header">Основні параметри за операціями РЕПО:</h2>
		<p>
			Для учасника, який надає кошти або цінні папери в рамках операції РЕПО,
			фінансовим результатом є різниця між сумою першої та другої частини угоди,
			що залежить від відсоткової ставки (вираженої у відсотках річних), а також
			від строку між виконанням першої та другої частин угоди (тобто аналог
			банківського кредиту - взяли кредит/погасили кредит або надали кредитні
			кошти/повернули вам кредитні кошти).
		</p>
		<p class="repo-paragraph">
			Сторона, що надає свої кошти або цінні папери, погоджується на ризик
			невиконання другої частини угоди РЕПО іншою стороною у разі значної зміни
			ринкової ціни на папери, надані у РЕПО або одержані як застава. Тому,
			зазвичай
			<strong class="strong-text"
				>цінні папери беруться як застава за ціною нижче поточної ринкової
				вартості на день укладання угоди РЕПО, а у разі надання цінних паперів
				їх ціна в першій частині угоди РЕПО приймається трохи вище поточної
				ринкової вартості.</strong
			>
			Різниця між вартістю одного цінного паперу в першій частині угоди РЕПО та
			поточною ринковою ціною називається "поправкою до ціни".
		</p>
		<h2 class="chapter-header">Переваги РЕПО:</h2>
		<ul class="repo-description-list">
			<li class="repo-description-item">
				<div class="repo-icon-wrapper">
					<svg class="repo-description-icon" width="24" height="24" fill="none">
						<use href="/src/images/svg/symbol-defs.svg#icon-done-check"></use>
					</svg>
				</div>
				<p>Вища дохідність за короткотермінові банківські депозити</p>
			</li>
			<li class="repo-description-item">
				<div class="repo-icon-wrapper">
					<svg class="repo-description-icon" width="24" height="24" fill="none">
						<use href="/src/images/svg/symbol-defs.svg#icon-done-check"></use>
					</svg>
				</div>
				<p>
					На відміну від банківських депозитів можливість розміщення коштів на
					короткий період — від тижня
				</p>
			</li>
			<li class="repo-description-item">
				<div class="repo-icon-wrapper">
					<svg class="repo-description-icon" width="24" height="24" fill="none">
						<use href="/src/images/svg/symbol-defs.svg#icon-done-check"></use>
					</svg>
				</div>
				<p>
					Застава під надання коштів може бути у вигляді ОВДП або інших надійних
					цінних паперів
				</p>
			</li>
			<li class="repo-description-item">
				<div class="repo-icon-wrapper">
					<svg class="repo-description-icon" width="24" height="24" fill="none">
						<use href="/src/images/svg/symbol-defs.svg#icon-done-check"></use>
					</svg>
				</div>
				<p>Відсутність податку на доходи фізичних осіб при роботі з ОВДП</p>
			</li>
			<li class="repo-description-item">
				<div class="repo-icon-wrapper">
					<svg class="repo-description-icon" width="24" height="24" fill="none">
						<use href="/src/images/svg/symbol-defs.svg#icon-done-check"></use>
					</svg>
				</div>
				<p>
					Технологічність — можливість виконання операції РЕПО через Торгову
					систему біржі
				</p>
			</li>
			<li class="repo-description-item">
				<div class="repo-icon-wrapper">
					<svg class="repo-description-icon" width="24" height="24" fill="none">
						<use href="/src/images/svg/symbol-defs.svg#icon-done-check"></use>
					</svg>
				</div>
				<p>
					Фондова біржа забезпечує виконання принципу "поставка проти платежу"
				</p>
			</li>
			<li class="repo-description-item">
				<div class="repo-icon-wrapper">
					<svg class="repo-description-icon" width="24" height="24" fill="none">
						<use href="/src/images/svg/symbol-defs.svg#icon-done-check"></use>
					</svg>
				</div>
				<p>
					Після завершення першої або другої частини операції обидві сторони
					можуть негайно використовувати отриманий актив для участі в біржових
					торгах
				</p>
			</li>
		</ul>
		<p>
			Якщо у Вас є питання з приводу операцій РЕПО
			<a
				class="text-link"
				href="/contact-us"
				title="Покликання на сторінку зворотнього зв'язку"
				>зверніться до нас за контактами</a
			>
			та наші спеціалісти проконсультують Вас.
		</p>
	</div>
</section>
