<section class="stocks-section">
	<div class="container stocks-container">
		<h3 class="superheader">Services</h3>
		<h1 class="section-header">Stocks. How it works</h1>
		<p class="stocks-paragraph">
			Company stocks can typically be purchased on stock exchanges through
			licensed trading participants—stock brokers, who are legal entities and
			whose activities are regulated by a designated state authority and
			legislation. In Ukraine, this state regulator is the National Securities
			and Stock Market Commission (NSSMC).
		</p>
		<p class="stocks-paragraph">
			Unlike
			<a
				class="text-link"
				href="/bonds"
				title="Покликання на сторінку облігацій"
				>bonds</a
			>, which have a specific term of circulation, ownership of stocks can last
			indefinitely until the investor decides to sell them.
		</p>
		<p class="stocks-paragraph">
			One of the leading stock exchanges in Ukraine is the "Ukrainian Exchange"
			(UX). Before the full-scale Russian invasion, it was possible to buy
			stocks of major Ukrainian companies like "Motor Sich," "Ukrnafta,"
			"Centrenergo," "MHP," "Raiffeisen Bank Aval," and international issuers
			like "Apple" on the UX. Unfortunately, due to the current wartime
			situation in our country, the list of issuers whose stocks can be bought
			has become limited.
		</p>
		<p class="stocks-paragraph">
			Також акції компаній, як і будь-які інші цінні папери (облігації,
			сертифікати інвестиційних фондів, акції біржових фондів (ETF)), через
			фондових брокерів, можна придбати на позабіржовому ринку.
		</p>
		<p>
			Якщо Ви бажаєте продати або купити акції компаній
			<a
				class="text-link"
				href="/contact-us"
				title="Покликання на сторінку зворотнього зв'язку"
				>зверніться до нас за контактами</a
			>
			і ми допоможемо, як брокер, у вирішенні даного питання!
		</p>
	</div>
</section>
