<section class="to-corporations-section">
	<div class="container to-corporations-container">
		<h3 class="superheader">Services</h3>
		<h1 class="section-header">
			Securities Transactions for Legal Entities on the Exchange and
			Over-the-Counter Market
		</h1>
		<h2 class="chapter-header">
			“BTC Broker” – as a licensed investment firm, offers its legal entity
			clients a wide range of services in the domestic stock market, including:
		</h2>
		<ul class="to-corporations-description-list">
			<li class="to-corporations-description-item">
				<div class="to-corporations-icon-wrapper">
					<svg
						class="to-corporations-description-icon"
						width="24"
						height="24"
						fill="none"
					>
						<use href="/symbol-defs.svg#icon-done-check"></use>
					</svg>
				</div>
				<p>
					Securities trading services, conducting financial instrument
					transactions under brokerage and dealer licenses
				</p>
			</li>
			<li class="to-corporations-description-item">
				<div class="to-corporations-icon-wrapper">
					<svg
						class="to-corporations-description-icon"
						width="24"
						height="24"
						fill="none"
					>
						<use href="/symbol-defs.svg#icon-done-check"></use>
					</svg>
				</div>
				<p>
					Executing trading operations on various exchanges (UX, Perspectiva)
					and the over-the-counter market, including buying and selling stocks,
					bonds, and other financial instruments
				</p>
			</li>
			<li class="to-corporations-description-item">
				<div class="to-corporations-icon-wrapper">
					<svg
						class="to-corporations-description-icon"
						width="24"
						height="24"
						fill="none"
					>
						<use href="/symbol-defs.svg#icon-done-check"></use>
					</svg>
				</div>
				<p>
					Providing access to current stock market data, transaction reports,
					exchange news, and other information to facilitate financial
					instrument transactions
				</p>
			</li>
			<li class="to-corporations-description-item">
				<div class="to-corporations-icon-wrapper">
					<svg
						class="to-corporations-description-icon"
						width="24"
						height="24"
						fill="none"
					>
						<use href="/symbol-defs.svg#icon-done-check"></use>
					</svg>
				</div>
				<p>
					Processing one-time orders to buy and sell securities according to
					client specifications
				</p>
			</li>
			<li class="to-corporations-description-item">
				<div class="to-corporations-icon-wrapper">
					<svg
						class="to-corporations-description-icon"
						width="24"
						height="24"
						fill="none"
					>
						<use href="/symbol-defs.svg#icon-done-check"></use>
					</svg>
				</div>
				<p>Assisting in selling your corporate bonds among our client base</p>
			</li>
			<li class="to-corporations-description-item">
				<div class="to-corporations-icon-wrapper">
					<svg
						class="to-corporations-description-icon"
						width="24"
						height="24"
						fill="none"
					>
						<use href="/symbol-defs.svg#icon-done-check"></use>
					</svg>
				</div>
				<p>
					Depository services (view the list of required documents for opening a
					securities account and tariffs
					<a
						class="text-link"
						href="/src/en/depositary.html"
						title="Link to the Depositary page"
						>via this link</a
					>)
				</p>
			</li>
		</ul>
		<p class="to-corporations-paragraph">
			Any questions you may have can be discussed
			<a
				class="text-link"
				href="/src/en/contact-us.html"
				title="Link to the Contact Us page"
				>by contacting us</a
			>
			in a way that is convenient for you
		</p>
		<p class="to-corporations-paragraph">
			<a
				class="text-link"
				href="/src/en/pricing.html"
				title="Link to the Pricing page"
				>View our tariffs</a
			>
		</p>
		<p>
			<a
				class="text-link"
				href="/src/en/licenses.html"
				title="Link to the Licenses page"
				>View the list of licenses of our investment firm</a
			>
			for operating in the Ukrainian stock market
		</p>
	</div>
</section>
