<section class="to-insurance-section">
	<div class="container to-insurance-container">
		<h3 class="superheader">Services</h3>
		<h1 class="section-header">
			Purchase/sale of securities and other financial instruments for insurance
			companies
		</h1>
		<h2 class="chapter-header">
			Currently, "BTC Broker" LLC offers insurance companies the following
			services
			<a
				class="text-link"
				href="/src/en/licenses.html"
				title="Link to the Lisenses page"
				>under the licenses</a
			>
			(brokerage, sub-brokerage, dealer, and others) issued by the National
			Securities and Stock Market Commission:
		</h2>
		<ul class="to-insurance-description-list">
			<li class="to-insurance-description-item">
				<div class="to-insurance-icon-wrapper">
					<svg
						class="to-insurance-description-icon"
						width="24"
						height="24"
						fill="none"
					>
						<use href="/symbol-defs.svg#icon-done-check"></use>
					</svg>
				</div>
				<p>Brokerage services, providing securities trading services</p>
			</li>
			<li class="to-insurance-description-item">
				<div class="to-insurance-icon-wrapper">
					<svg
						class="to-insurance-description-icon"
						width="24"
						height="24"
						fill="none"
					>
						<use href="/symbol-defs.svg#icon-done-check"></use>
					</svg>
				</div>
				<p>
					Opening accounts in PJSC "Settlement Center" for technical trading
					capabilities on exchanges
				</p>
			</li>
			<li class="to-insurance-description-item">
				<div class="to-insurance-icon-wrapper">
					<svg
						class="to-insurance-description-icon"
						width="24"
						height="24"
						fill="none"
					>
						<use href="/symbol-defs.svg#icon-done-check"></use>
					</svg>
				</div>
				<p>Access to domestic exchanges, including UX, Perspectiva</p>
			</li>
			<li class="to-insurance-description-item">
				<div class="to-insurance-icon-wrapper">
					<svg
						class="to-insurance-description-icon"
						width="24"
						height="24"
						fill="none"
					>
						<use href="/symbol-defs.svg#icon-done-check"></use>
					</svg>
				</div>
				<p>
					Conducting securities purchase/sale transactions on the
					over-the-counter market and access to all stock market instruments
				</p>
			</li>
			<li class="to-insurance-description-item">
				<div class="to-insurance-icon-wrapper">
					<svg
						class="to-insurance-description-icon"
						width="24"
						height="24"
						fill="none"
					>
						<use href="/symbol-defs.svg#icon-done-check"></use>
					</svg>
				</div>
				<p>
					<a
						class="text-link"
						href="/src/en/repo.html"
						title="Link to the Repo page"
						>Conducting REPO transactions</a
					>
					(providing funds secured by securities)
				</p>
			</li>
			<li class="to-insurance-description-item">
				<div class="to-insurance-icon-wrapper">
					<svg
						class="to-insurance-description-icon"
						width="24"
						height="24"
						fill="none"
					>
						<use href="/symbol-defs.svg#icon-done-check"></use>
					</svg>
				</div>
				<p>
					Providing necessary informational support for making informed
					investment decisions
				</p>
			</li>
		</ul>
		<p class="to-insurance-paragraph">
			For more detailed information,
			<a
				class="text-link"
				href="/src/en/contact-us.html"
				title="Link to the Contact Us page"
				>please contact us</a
			>. We will be happy to answer all your questions!
		</p>
		<p>
			Or review
			<a
				class="text-link"
				href="/src/en/pricing.html"
				title="Link to the Pricing page"
				>the tariffs of "BTC Broker" LLC</a
			>
		</p>
	</div>
</section>
