<section class="about-btc-broker-section">
	<div class="container about-btc-broker-container">
		<h3 class="superheader">Компанія</h3>
		<h1 class="section-header about-btc-broker-header">Про БТС Брокер</h1>
		<p class="about-btc-broker-paragraph">
			<strong class="strong-text">На сьогоднішній день</strong> інвестиційна
			фірма “БТС Брокер” входить в першу п'ятірку вітчизняних фондових брокерів
			на Українській біржі, як за обсягами торгів цінними паперами, так і за
			кількістю активних клієнтів - фізичних та юридичних осіб.
		</p>
		<p class="about-btc-broker-paragraph">
			Початково компанія була
			<strong class="strong-text">заснована у 2011 році</strong>, як ТОВ "Довіра
			Кастоді Брок", спеціалізувалася на торгівлі цінними паперами та
			депозитарній діяльності.
		</p>
		<p class="about-btc-broker-paragraph">
			<strong class="strong-text">У 2017 році</strong> ТОВ "Довіра Кастоді Брок"
			була придбана новими власниками та зазнала ребрендингу, змінивши назву на
			ТОВ "БТС Брокер".
		</p>
		<p class="about-btc-broker-paragraph">
			<strong class="strong-text">В 2019 році</strong> "БТС Брокер" став однією
			з небагатьох українських інвестиційних фірм, котра почала надавати доступ
			на біржі США для українських інвесторів, як субброкер через іноземного
			брокера-партнера. Та
			<a
				class="text-link"
				href="https://www.youtube.com/live/MmrRDq7keO4?si=hvcknFT6R1ayT4bu"
				title="Покликання на сторінку youtube з відео конференції з приводу акцій Apple в Україні"
				target="_blank"
				rel="noopener noreferrer nofollow"
				aria-label="youtube"
				>першою інвест-фірмою, котра завела акції іноземної компанії Apple</a
			>
			для лістингу на Українській біржі і виступала по даному емітенту
			маркет-мейкером.
		</p>
		<p class="about-btc-broker-paragraph">
			<strong class="strong-text"
				>З початку повномасштабного вторгнення росії в Україну</strong
			>, - “БТС Брокер” не тільки зберіг персонал, як основний актив нашої
			інвестиційної фірми, а й в перші місяці війни, попри тяжкість ситуації в
			країні, постійно був на зв'язку зі своїми клієнтами обслуговуючи їх
			діяльність на фондовому ринку.
		</p>
		<p class="about-btc-broker-paragraph">
			<strong class="strong-text">З жовтня 2022 року</strong> інвестиційна фірма
			“БТС Брокер” стала першим брокером, котрий почав надавати можливість
			купівлі військових облігацій через застосунок Дія, відразу, як тільки
			Мінцифри запустило дану послугу.
		</p>
		<p class="about-btc-broker-paragraph">
			<strong class="strong-text">З лютого 2024 року</strong> ТОВ “БТС Брокер”
			<a
				class="text-link"
				href="https://www.nssmc.gov.ua/document/?id=15502869"
				title="Покликання на сторінку НКЦПФР з рішенням"
				target="_blank"
				rel="noopener noreferrer nofollow"
				aria-label="nssmc"
				>офіційно визнаний</a
			>
			Національною комісією з цінних паперів та фондового ринку (НКЦПФР)
			критично важливим для функціонування економіки та забезпечення
			життєдіяльності населення в особливий період.
		</p>
		<p class="about-btc-broker-paragraph">
			<strong class="strong-text">На даний момент</strong> наша інвестиційна
			фірма має всі необхідні
			<a
				class="text-link"
				href="/licenses"
				title="Покликання на сторінку youtube з відео конференції з приводу акцій Apple в Україні"
				>ліцензії та дозволи від НКЦПФР</a
			>
			на повноцінну професійну діяльність на ринку капіталів України, як брокер,
			дилер та депозитарна установа.
		</p>
		<p class="about-btc-broker-paragraph-margin">
			<strong class="strong-text">Основним завданням “БТС Брокер”</strong> є
			надання якісних фінансових послуг та консультацій на фондовому ринку, як
			приватним інвесторам, так і корпоративним клієнтам.
		</p>
		<h2 class="chapter-header">
			Чому вибирають інвестиційну фірму “БТС Брокер”:
		</h2>
		<ul class="about-btc-broker-description-list">
			<li class="about-btc-broker-description-item">
				<div class="about-btc-broker-icon-wrapper">
					<svg
						class="about-btc-broker-description-icon"
						width="24"
						height="24"
						fill="none"
					>
						<use href="/src/images/svg/symbol-defs.svg#icon-done-check"></use>
					</svg>
				</div>
				<p>
					На сьогодні ми є швидко зростаючим за об'ємами торгів фондовим
					брокером, котрий розуміє запити своїх клієнтів і віднаходе компетентні
					рішення для їх реалізації на ринку капіталів
				</p>
			</li>
			<li class="about-btc-broker-description-item">
				<div class="about-btc-broker-icon-wrapper">
					<svg
						class="about-btc-broker-description-icon"
						width="24"
						height="24"
						fill="none"
					>
						<use href="/src/images/svg/symbol-defs.svg#icon-done-check"></use>
					</svg>
				</div>
				<p>
					Ми присутні на трьох основних вітчизняних фондових біржах: УБ, ПФТС,
					Перспектива
				</p>
			</li>
			<li class="about-btc-broker-description-item">
				<div class="about-btc-broker-icon-wrapper">
					<svg
						class="about-btc-broker-description-icon"
						width="24"
						height="24"
						fill="none"
					>
						<use href="/src/images/svg/symbol-defs.svg#icon-done-check"></use>
					</svg>
				</div>
				<p>
					Ми маємо практичний досвід та необхідні компетенції в роботі на
					закордонних фондових ринках
				</p>
			</li>
			<li class="about-btc-broker-description-item">
				<div class="about-btc-broker-icon-wrapper">
					<svg
						class="about-btc-broker-description-icon"
						width="24"
						height="24"
						fill="none"
					>
						<use href="/src/images/svg/symbol-defs.svg#icon-done-check"></use>
					</svg>
				</div>
				<p>
					Ми є технологічним вітчизняним брокером, котрий пропонує доступ до
					інвестицій на фондовому ринку через мобільний застосунок BondUA
				</p>
			</li>
		</ul>
		<p>
			Для того щоб стати нашим клієнтом
			<a
				class="text-link"
				href="/contact-us"
				title="Покликання на сторінку зворотнього зв'язку"
				>зверніться до нас за контактами</a
			>
			та наші спеціалісти проконсультують Вас.
		</p>
	</div>
</section>
