<section class="accounting-section">
	<div class="container accounting-container">
		<div class="tabs-content-wrapper">
			<div class="tabs-element-wrapper">
				<h3 class="superheader">Регуляторна інформація</h3>
				<h1 class="section-header accounting-header">
					Річна фінансова звітність та аудиторський висновок
				</h1>
				<h4 class="subheader accounting-subheader">Звітність по роках</h4>
				<ul class="tabs-list">
					<li class="tabs-item">
						<button
							type="button"
							data-option="first"
							class="tabs-button active"
						>
							2020
						</button>
					</li>
					<li class="tabs-item">
						<button type="button" data-option="second" class="tabs-button">
							2019
						</button>
					</li>
					<li class="tabs-item">
						<button type="button" data-option="third" class="tabs-button">
							2018
						</button>
					</li>
				</ul>
				<ul class="accounting-pdf-files-list tab-content visible">
					<li class="accounting-pdf-files-item">
						<div class="list-icon-wrapper">
							<svg
								class="accounting-pdf-files-icon"
								width="24"
								height="24"
								fill="none"
							>
								<use href="/src/images/svg/symbol-defs.svg#icon-file-pdf"></use>
							</svg>
						</div>
						<a
							href="https://btc-broker.com/upload/documents/accounting/2020/2020_balans.pdf"
							target="_blank"
							class="text-link"
							>Баланс</a
						>
					</li>
					<li class="accounting-pdf-files-item">
						<div class="list-icon-wrapper">
							<svg
								class="accounting-pdf-files-icon"
								width="24"
								height="24"
								fill="none"
							>
								<use href="/src/images/svg/symbol-defs.svg#icon-file-pdf"></use>
							</svg>
						</div>
						<a
							href="https://btc-broker.com/upload/documents/accounting/2020/2020_fin_rez.pdf"
							target="_blank"
							class="text-link"
							>Звіт про фінансові результати</a
						>
					</li>
					<li class="accounting-pdf-files-item">
						<div class="list-icon-wrapper">
							<svg
								class="accounting-pdf-files-icon"
								width="24"
								height="24"
								fill="none"
							>
								<use href="/src/images/svg/symbol-defs.svg#icon-file-pdf"></use>
							</svg>
						</div>
						<a
							href="https://btc-broker.com/upload/documents/accounting/2020/2020_ruh_koshtiv.pdf"
							target="_blank"
							class="text-link"
							>Звіт про рух грошових коштів</a
						>
					</li>
					<li class="accounting-pdf-files-item">
						<div class="list-icon-wrapper">
							<svg
								class="accounting-pdf-files-icon"
								width="24"
								height="24"
								fill="none"
							>
								<use href="/src/images/svg/symbol-defs.svg#icon-file-pdf"></use>
							</svg>
						</div>
						<a
							href="https://btc-broker.com/upload/documents/accounting/2020/2020_kapital.pdf"
							target="_blank"
							class="text-link"
							>Звіт про власний капітал</a
						>
					</li>
					<li class="accounting-pdf-files-item">
						<div class="list-icon-wrapper">
							<svg
								class="accounting-pdf-files-icon"
								width="24"
								height="24"
								fill="none"
							>
								<use href="/src/images/svg/symbol-defs.svg#icon-file-pdf"></use>
							</svg>
						</div>
						<a
							href="https://btc-broker.com/upload/documents/accounting/2020/2020_primitki.pdf"
							target="_blank"
							class="text-link"
							>Примітки до фінансової звітності</a
						>
					</li>
					<li class="accounting-pdf-files-item">
						<div class="list-icon-wrapper">
							<svg
								class="accounting-pdf-files-icon"
								width="24"
								height="24"
								fill="none"
							>
								<use href="/src/images/svg/symbol-defs.svg#icon-file-pdf"></use>
							</svg>
						</div>
						<a
							href="https://btc-broker.com/upload/documents/accounting/2020/2020_audit.pdf"
							target="_blank"
							class="text-link"
							>Аудиторський висновок</a
						>
					</li>
				</ul>
				<ul class="accounting-pdf-files-list tab-content">
					<li class="accounting-pdf-files-item">
						<div class="list-icon-wrapper">
							<svg
								class="accounting-pdf-files-icon"
								width="24"
								height="24"
								fill="none"
							>
								<use href="/src/images/svg/symbol-defs.svg#icon-file-pdf"></use>
							</svg>
						</div>
						<a
							href="https://btc-broker.com/upload/documents/accounting/2019/2019_balans.pdf"
							target="_blank"
							class="text-link"
							>Баланс</a
						>
					</li>
					<li class="accounting-pdf-files-item">
						<div class="list-icon-wrapper">
							<svg
								class="accounting-pdf-files-icon"
								width="24"
								height="24"
								fill="none"
							>
								<use href="/src/images/svg/symbol-defs.svg#icon-file-pdf"></use>
							</svg>
						</div>
						<a
							href="https://btc-broker.com/upload/documents/accounting/2019/2019_fin_rez.pdf"
							target="_blank"
							class="text-link"
							>Звіт про фінансові результати</a
						>
					</li>
					<li class="accounting-pdf-files-item">
						<div class="list-icon-wrapper">
							<svg
								class="accounting-pdf-files-icon"
								width="24"
								height="24"
								fill="none"
							>
								<use href="/src/images/svg/symbol-defs.svg#icon-file-pdf"></use>
							</svg>
						</div>
						<a
							href="https://btc-broker.com/upload/documents/accounting/2019/2019_ruh_koshtiv.pdf"
							target="_blank"
							class="text-link"
							>Звіт про рух грошових коштів</a
						>
					</li>
					<li class="accounting-pdf-files-item">
						<div class="list-icon-wrapper">
							<svg
								class="accounting-pdf-files-icon"
								width="24"
								height="24"
								fill="none"
							>
								<use href="/src/images/svg/symbol-defs.svg#icon-file-pdf"></use>
							</svg>
						</div>
						<a
							href="https://btc-broker.com/upload/documents/accounting/2019/2019_kapital.pdf"
							target="_blank"
							class="text-link"
							>Звіт про власний капітал</a
						>
					</li>
					<li class="accounting-pdf-files-item">
						<div class="list-icon-wrapper">
							<svg
								class="accounting-pdf-files-icon"
								width="24"
								height="24"
								fill="none"
							>
								<use href="/src/images/svg/symbol-defs.svg#icon-file-pdf"></use>
							</svg>
						</div>
						<a
							href="https://btc-broker.com/upload/documents/accounting/2019/2019_primitki.pdf"
							target="_blank"
							class="text-link"
							>Примітки до фінансової звітності</a
						>
					</li>
					<li class="accounting-pdf-files-item">
						<div class="list-icon-wrapper">
							<svg
								class="accounting-pdf-files-icon"
								width="24"
								height="24"
								fill="none"
							>
								<use href="/src/images/svg/symbol-defs.svg#icon-file-pdf"></use>
							</svg>
						</div>
						<a
							href="https://btc-broker.com/upload/documents/accounting/2019/2019_audit.pdf"
							target="_blank"
							class="text-link"
							>Аудиторський висновок</a
						>
					</li>
				</ul>
				<ul class="accounting-pdf-files-list tab-content">
					<li class="accounting-pdf-files-item">
						<div class="list-icon-wrapper">
							<svg
								class="accounting-pdf-files-icon"
								width="24"
								height="24"
								fill="none"
							>
								<use href="/src/images/svg/symbol-defs.svg#icon-file-pdf"></use>
							</svg>
						</div>
						<a
							href="https://btc-broker.com/upload/documents/accounting/2018/Баланс на 31 грудня 2018.pdf"
							target="_blank"
							class="text-link"
							>Баланс</a
						>
					</li>
					<li class="accounting-pdf-files-item">
						<div class="list-icon-wrapper">
							<svg
								class="accounting-pdf-files-icon"
								width="24"
								height="24"
								fill="none"
							>
								<use href="/src/images/svg/symbol-defs.svg#icon-file-pdf"></use>
							</svg>
						</div>
						<a
							href="https://btc-broker.com/upload/documents/accounting/2018/Звіт про фінансові результати 2018.pdf"
							target="_blank"
							class="text-link"
							>Звіт про фінансові результати</a
						>
					</li>
					<li class="accounting-pdf-files-item">
						<div class="list-icon-wrapper">
							<svg
								class="accounting-pdf-files-icon"
								width="24"
								height="24"
								fill="none"
							>
								<use href="/src/images/svg/symbol-defs.svg#icon-file-pdf"></use>
							</svg>
						</div>
						<a
							href="https://btc-broker.com/upload/documents/accounting/2018/Звіт про рух грошових коштів за 2018 р.pdf"
							target="_blank"
							class="text-link"
							>Звіт про рух грошових коштів</a
						>
					</li>
					<li class="accounting-pdf-files-item">
						<div class="list-icon-wrapper">
							<svg
								class="accounting-pdf-files-icon"
								width="24"
								height="24"
								fill="none"
							>
								<use href="/src/images/svg/symbol-defs.svg#icon-file-pdf"></use>
							</svg>
						</div>
						<a
							href="https://btc-broker.com/upload/documents/accounting/2018/Звіт про власний капітал 2018 р.pdf"
							target="_blank"
							class="text-link"
							>Звіт про власний капітал</a
						>
					</li>
					<li class="accounting-pdf-files-item">
						<div class="list-icon-wrapper">
							<svg
								class="accounting-pdf-files-icon"
								width="24"
								height="24"
								fill="none"
							>
								<use href="/src/images/svg/symbol-defs.svg#icon-file-pdf"></use>
							</svg>
						</div>
						<a
							href="https://btc-broker.com/upload/documents/accounting/2018/Priminti_2018_scan.pdf"
							target="_blank"
							class="text-link"
							>Примітки до фінансової звітності</a
						>
					</li>
					<li class="accounting-pdf-files-item">
						<div class="list-icon-wrapper">
							<svg
								class="accounting-pdf-files-icon"
								width="24"
								height="24"
								fill="none"
							>
								<use href="/src/images/svg/symbol-defs.svg#icon-file-pdf"></use>
							</svg>
						</div>
						<a
							href="https://btc-broker.com/upload/documents/accounting/2018/Звіт незалежного аудитора.pdf"
							target="_blank"
							class="text-link"
							>Аудиторський висновок</a
						>
					</li>
				</ul>
			</div>
			<img
				class="accounting-section-illustration"
				src="/src/images/illustration-accounting-section-2.svg"
				alt="Руки на паперах зі звітністю"
			/>
		</div>
	</div>
</section>
