<section class="banking-details-section">
	<div class="container banking-details-container">
		<h3 class="superheader">Реквізити</h3>
		<h1 class="section-header banking-details-header">
			Перелік банківських рахунків
		</h1>
		<p class="banking-details-paragraph">
			<span class="blue-attention-text">!!</span> Для вашої зручності всі
			значення реквізитів копіюються при клікі/тапі на значення
			<span class="blue-attention-text">!!</span>
		</p>
		<div class="banking-details-description-content-wrapper">
			<div class="banking-details-description-wrapper">
				<ul class="banking-details-list">
					<li class="banking-details-item">
						<div class="banking-details-logo-wrapper">
							<img
								class="banking-details-logo"
								src="/src/images/svg/mib-logo.svg"
								alt="Логотип Міжнародного Інвестиційного Банку"
							/>
						</div>
						<div class="banking-details-item-description-wrapper">
							<h3 class="banking-details-item-title">
								Основні банківські реквізити
							</h3>
							<p class="banking-details-item-text">
								Отримувач:
								<span class="banking-details-item-strong-text"
									>ТОВ "БТС Брокер"</span
								>
							</p>
							<p class="banking-details-item-text">
								Код ЄДРПОУ:
								<span class="banking-details-item-strong-text">37686943</span>
							</p>
							<p class="banking-details-item-text">
								Банк:
								<span class="banking-details-item-strong-text"
									>АТ Міжнародний інвестиційний банк</span
								>
							</p>
							<p class="banking-details-item-text">
								Рахунок в форматі IBAN:
								<span class="banking-details-item-strong-text"
									>UA393805820000026504011626544</span
								>
							</p>
							<p class="banking-details-item-text">
								Призначення платежу:
								<span class="banking-details-item-strong-text"
									>На купівлю фінансових інструментів згідно генерального
									договору №
									<span class="banking-details-item-light-text"
										>номер вашого генерального договора</span
									>
									від
									<span class="banking-details-item-light-text"
										>дата укладання договору</span
									>, Прізвище Ім'я По-батькові, без ПДВ</span
								>
							</p>
						</div>
					</li>
					<li class="banking-details-item">
						<div class="banking-details-logo-wrapper">
							<img
								class="banking-details-logo"
								src="/src/images/svg/privatbank_logo.svg"
								alt="Логотип Приват Банку"
							/>
						</div>
						<div class="banking-details-item-description-wrapper">
							<h3 class="banking-details-item-title">
								Реквізити для поповнення рахунку застосунку Bond.UA
							</h3>
							<p class="banking-details-item-text">
								Отримувач:
								<span class="banking-details-item-strong-text"
									>ТОВ "БТС Брокер"</span
								>
							</p>
							<p class="banking-details-item-text">
								Код ЄДРПОУ:
								<span class="banking-details-item-strong-text">37686943</span>
							</p>
							<p class="banking-details-item-text">
								Банк:
								<span class="banking-details-item-strong-text"
									>АТ Приватбанк</span
								>
							</p>
							<p class="banking-details-item-text">
								Рахунок в форматі IBAN:
								<span class="banking-details-item-strong-text"
									>UA383052990000026508005000834</span
								>
							</p>
							<p class="banking-details-item-text">
								Призначення платежу:
								<span class="banking-details-item-strong-text"
									>На купівлю фінансових інструментів згідно генерального
									договору №
									<span class="banking-details-item-light-text"
										>номер вашого генерального договора</span
									>
									від
									<span class="banking-details-item-light-text"
										>дата укладання договору</span
									>, Прізвище Ім'я По-батькові, без ПДВ</span
								>
							</p>
						</div>
					</li>
					<li class="banking-details-item">
						<div class="banking-details-logo-wrapper">
							<img
								class="banking-details-logo"
								src="/src/images/svg/sense-bank-logo.svg"
								alt="Логотип Sense Bank"
							/>
						</div>
						<div class="banking-details-item-description-wrapper">
							<h3 class="banking-details-item-title">
								Реквізити для оплати за депозитарні послуги
							</h3>
							<p class="banking-details-item-text">
								Отримувач:
								<span class="banking-details-item-strong-text"
									>ТОВ "БТС Брокер"</span
								>
							</p>
							<p class="banking-details-item-text">
								Код ЄДРПОУ:
								<span class="banking-details-item-strong-text">37686943</span>
							</p>
							<p class="banking-details-item-text">
								Банк:
								<span class="banking-details-item-strong-text"
									>АТ СЕНС БАНК</span
								>
							</p>
							<p class="banking-details-item-text">
								Рахунок в форматі IBAN:
								<span class="banking-details-item-strong-text"
									>UA553003460000026502093465901</span
								>
							</p>
							<p class="banking-details-item-text">
								Призначення платежу:
								<span class="banking-details-item-strong-text"
									>За депозитарні послуги згідно з Актом-рахунком №
									<span class="banking-details-item-light-text"
										>номер вашого акта-рахунку</span
									>
									від
									<span class="banking-details-item-light-text"
										>дата укладання акта-рахунку</span
									>, без ПДВ</span
								>
							</p>
						</div>
					</li>
				</ul>
			</div>
			<img
				class="banking-details-section-illustration"
				src="/src/images/illustration-banking-details-section.svg"
				alt="Мальований чоловічок сидить з ноутбуком"
			/>
		</div>
	</div>
</section>
