<section class="bonds-section">
	<div class="container bonds-container">
		<h3 class="superheader">Послуги</h3>
		<h1 class="section-header bonds-header">
			Облігації внутрішньої державної позики – ОВДП
		</h1>
		<h4 class="subheader bonds-subheader">
			Найкращий інвестиційний інструмент з 100% гарантією держави та дохідністю
			більшою за банківський депозит – доступний для громадян, бізнесу та
			іноземних інвесторів
		</h4>
		<p class="bonds-paragraph">
			Наразі на фондовому ринку України облігації внутрішньої державної позики
			(ОВДП) розділені за назвою на два види: ОВДП та Військові ОВДП. Останні –
			це ті ж самі державні облігації з усіма стандартними параметрами ОВДП, але
			з приставкою “Військові”, тому що почали розміщуватися під час війни.
		</p>
		<p class="bonds-paragraph">
			<a
				class="text-link"
				target="_blank"
				href="https://bank.gov.ua/ua/markets/t-bills"
				title="Покликання на сторінку НБУ на статтю про ОВДП"
				>Близько 80% інвесторів в державні облігації</a
			>
			– це українські банки та НБУ. Тобто гроші, які вкладники банків розміщують
			на депозитах, зокрема інвестуються банками в ОВДП, але під більш високий
			відсоток, ніж виплачується за депозитами своїм клієнтам.
			<strong class="strong-text"
				>Відповідно тільки з даного кейса (дохідність) можна побачити вигідність
				інвестування в ОВДП!</strong
			>
		</p>
		<h2 class="chapter-header">
			Крім високих відсотків (дохідності) у ОВДП є ряд інших переваг:
		</h2>
		<ul class="bonds-description-list">
			<li class="bonds-description-item">
				<div class="bonds-icon-wrapper">
					<svg
						class="bonds-description-icon"
						width="24"
						height="24"
						fill="none"
					>
						<use href="/symbol-defs.svg#icon-done-check"></use>
					</svg>
				</div>
				<p>
					Відсутність податку на доходи фізичних осіб у розмірі 18% та воєнного
					збору у розмірі 1,5%
				</p>
			</li>
			<li class="bonds-description-item">
				<div class="bonds-icon-wrapper">
					<svg
						class="bonds-description-icon"
						width="24"
						height="24"
						fill="none"
					>
						<use href="/symbol-defs.svg#icon-done-check"></use>
					</svg>
				</div>
				<p>Висока ліквідність на будь-який об'єм</p>
			</li>
			<li class="bonds-description-item">
				<div class="bonds-icon-wrapper">
					<svg
						class="bonds-description-icon"
						width="24"
						height="24"
						fill="none"
					>
						<use href="/symbol-defs.svg#icon-done-check"></use>
					</svg>
				</div>
				<p>
					Можливість швидкого продажу (повного або часткового) без втрати
					накопичених відсотків (як при розірванні банківського депозиту)
				</p>
			</li>
			<li class="bonds-description-item">
				<div class="bonds-icon-wrapper">
					<svg
						class="bonds-description-icon"
						width="24"
						height="24"
						fill="none"
					>
						<use href="/symbol-defs.svg#icon-done-check"></use>
					</svg>
				</div>
				<p>Широкий вибір термінів інвестування (місяць і більше)</p>
			</li>
			<li class="bonds-description-item">
				<div class="bonds-icon-wrapper">
					<svg
						class="bonds-description-icon"
						width="24"
						height="24"
						fill="none"
					>
						<use href="/symbol-defs.svg#icon-done-check"></use>
					</svg>
				</div>
				<p>Можливість швидкого реінвестування виплат (повністю або частково)</p>
			</li>
			<li class="bonds-description-item">
				<div class="bonds-icon-wrapper">
					<svg
						class="bonds-description-icon"
						width="24"
						height="24"
						fill="none"
					>
						<use href="/symbol-defs.svg#icon-done-check"></use>
					</svg>
				</div>
				<p>
					Можливість укладати угоди РЕПО під заставу ОВДП (узнати більше
					<a class="text-link" href="/repo" title="Покликання на сторінку РЕПО"
						>тут</a
					>)
				</p>
			</li>
			<li class="bonds-description-item">
				<div class="bonds-icon-wrapper">
					<svg
						class="bonds-description-icon"
						width="24"
						height="24"
						fill="none"
					>
						<use href="/symbol-defs.svg#icon-done-check"></use>
					</svg>
				</div>
				<p>
					Можливість купляти валютні ОВДП за гривню без будь-яких чинних
					обмежень від НБУ
				</p>
			</li>
		</ul>
		<p>
			Якщо у Вас є питання з приводу інвестування в державні облігації
			<a
				class="text-link"
				href="/contact-us"
				title="Покликання на сторінку зворотнього зв'язку"
				>зверніться до нас за контактами</a
			>
			та наші спеціалісти проконсультують Вас.
		</p>
	</div>
	<include
		src="./partials/investor-account-laptop.html"
		locals='{"header": "Відкрити рахунок та купити ОВДП можна дистанційно, через Кабінет Інвестора"}'
	></include>
</section>
