<section class="bonds-quote-section">
	<div class="container bonds-quote-container">
		<h3 class="superheader">Котирування</h3>
		<h1 class="section-header bonds-quote-header">
			Актуальні інвестиційні пропозиції від БТС Брокер
		</h1>
		<p class="bonds-quote-paragraph">
			Котирування є інформаційними. Фінансові інструменти представленні на даній
			сторінці не є індивідуальною інвестиційною рекомендацією!
		</p>
		<h2 class="chapter-header">ОВДП</h2>
		<ul class="bonds-quote-bonds-header-list bonds-header hidden">
			<li class="bonds-quote-bonds-header-item">ISIN</li>
			<li class="bonds-quote-bonds-header-item">Валюта емісії</li>
			<li class="bonds-quote-bonds-header-item">Дата погашення</li>
			<li class="bonds-quote-bonds-header-item">Дохідність продажу</li>
			<li class="bonds-quote-bonds-header-item">Продаж (UAH)</li>
			<li class="bonds-quote-bonds-header-item">Купівля (UAH)</li>
			<li class="bonds-quote-bonds-header-item">Дохідність купівлі</li>
		</ul>
		<!-- Нижче закоментована копія таблиці для ємейлів -->
		<!-- <ul class="bonds-quote-bonds-header-list bonds-header hidden">
			<li class="bonds-quote-bonds-header-item">ISIN</li>
			<li class="bonds-quote-bonds-header-item">Валюта емісії</li>
			<li class="bonds-quote-bonds-header-item">Дата погашення</li>
			<li class="bonds-quote-bonds-header-item">Дохідність продажу</li>
			<li class="bonds-quote-bonds-header-item">Дохідність купівлі</li>
		</ul> -->
		<ul class="bonds-quote-bonds-list bonds-table"></ul>
		<!-- Нижче окрема таблиця для ОЗДП -->
		<h2 class="chapter-header">ОЗДП <span class="asterix">*</span></h2>
		<ul class="bonds-quote-bonds-header-list eurobonds-header hidden">
			<li class="bonds-quote-bonds-header-item">ISIN</li>
			<li class="bonds-quote-bonds-header-item">Валюта емісії</li>
			<li class="bonds-quote-bonds-header-item">Дата погашення</li>
			<li class="bonds-quote-bonds-header-item asterix-warning">
				Дохідність продажу <span class="asterix">**</span>
			</li>
			<li class="bonds-quote-bonds-header-item">Продаж (UAH)</li>
			<li class="bonds-quote-bonds-header-item">Купівля (UAH)</li>
			<li class="bonds-quote-bonds-header-item asterix-warning">
				Дохідність купівлі <span class="asterix">**</span>
			</li>
		</ul>
		<ul class="bonds-quote-bonds-list eurobonds-table low-margin"></ul>

		<p class="red-warning-text">!! Попередження про ризики !!</p>
		<p class="red-warning-text">
			Купівля ОЗДП (Облігацій Зовнішньої Державної Позики) є надризиковим видом
			інвестицій, яка може призвести до часткової або повної втрати капіталу,
			наприклад через дефолт або повторну реструктуризацію зовнішніх зобов'язань
			держави!
		</p>
		<p class="warning-text">
			<span class="asterix">*</span> Єврооблігації України (ОЗДП) номіновані у
			валюті, але купити і продати, через БТС Брокер, їх можна за гривню.
		</p>
		<p class="warning-text high-margin">
			<span class="asterix">**</span> Реструктуризація ОЗДП була завершена
			30.08.2024 року. 13 випусків старих ОЗДП конвертовано в нові облігації
			зовнішньої державної позики - загалом
			<a
				class="text-link"
				href="https://mof.gov.ua/en/ozdp-shho-perebuvajut-v-obigu"
				target="_blank"
				rel="nofollow noreferrer noopener"
				title="Покликання на проспект емісії нових ОЗДП"
				>вісім нових випусків</a
			>. Номінал нових ОЗДП складає 1 дол. США.
		</p>
		<h2 class="chapter-header">Корпоративні облігації</h2>
		<ul class="bonds-quote-bonds-header-list corporate-header hidden">
			<li class="bonds-quote-bonds-header-item">ISIN</li>
			<li class="bonds-quote-bonds-header-item">Валюта емісії</li>
			<li class="bonds-quote-bonds-header-item">Дата погашення</li>
			<li class="bonds-quote-bonds-header-item">Дохідність продажу</li>
			<li class="bonds-quote-bonds-header-item">Продаж (UAH)</li>
			<li class="bonds-quote-bonds-header-item">Купівля (UAH)</li>
			<li class="bonds-quote-bonds-header-item">Дохідність купівлі</li>
		</ul>
		<ul class="bonds-quote-bonds-list corporate-table low-margin"></ul>
		<p>
			Якщо Вас цікавить цінний папір чи інший фінансовий інструмент не
			представлений в списку даної сторінки
			<a
				class="text-link"
				href="/contact-us"
				title="Покликання на сторінку зворотнього зв'язку"
				>зв'яжіться з нами</a
			>
			і ми постараємося вирішити Ваше питання.
		</p>
	</div>
</section>
<include src="./partials/investor-account-laptop.html"></include>
