<section class="brokerage-service-section">
	<div class="container brokerage-service-container">
		<h3 class="superheader">Торгівля фінансовими інструментами</h3>
		<h1 class="section-header brokerage-service-header">
			Інвестиційні послуги
		</h1>
		<h2 class="chapter-header">
			Інвест-фірма ТОВ “БТС Брокер”, як
			<a
				class="text-link"
				href="/licenses"
				title="Покликання на сторінку ліцензій"
				>ліцензований</a
			>
			учасник ринку капіталів України, пропонує своїм клієнтам якісні брокерські
			послуги та конкурентні комісії на фондовому ринку по купівлі продажу:
		</h2>
		<ul class="brokerage-service-description-list">
			<li class="brokerage-service-description-item">
				<div class="brokerage-service-icon-wrapper">
					<svg
						class="brokerage-service-description-icon"
						width="24"
						height="24"
						fill="none"
					>
						<use href="/symbol-defs.svg#icon-done-check"></use>
					</svg>
				</div>
				<p>Акцій</p>
			</li>
			<li class="brokerage-service-description-item">
				<div class="brokerage-service-icon-wrapper">
					<svg
						class="brokerage-service-description-icon"
						width="24"
						height="24"
						fill="none"
					>
						<use href="/symbol-defs.svg#icon-done-check"></use>
					</svg>
				</div>
				<p>Облігацій</p>
			</li>
			<li class="brokerage-service-description-item">
				<div class="brokerage-service-icon-wrapper">
					<svg
						class="brokerage-service-description-icon"
						width="24"
						height="24"
						fill="none"
					>
						<use href="/symbol-defs.svg#icon-done-check"></use>
					</svg>
				</div>
				<p>
					Інших фінансових інструментів, як вітчизняних так і закордонних
					емітентів
				</p>
			</li>
		</ul>
		<div class="brokerage-service-bond-ua-section">
			<h2 class="chapter-header">
				Технологічне рішення для приватних інвесторів
			</h2>
			<p class="brokerage-service-paragraph">
				Для наших клієнтів ми пропонуємо технологічну можливість інвестування
				через веб-застосунок від
				<span class="brokerage-service-strong-text">БТС Брокер</span>
			</p>
			<p class="brokerage-service-paragraph">
				Причому відкриття брокерського рахунку здійснюється дистанційно через
				даний веб-застосунок
				<span class="brokerage-service-strong-text"
					>Кабінет Інвестора в декілька кліків</span
				>
			</p>
			<a
				href="https://trading.btc-broker.com/"
				class="button-primary brokerage-service-button"
				>Почати</a
			>
			<p>
				Також інвест-фірма “БТС Брокер” проводить для своїх клієнтів угоди на
				біржовому та позабіржовому ринку через класичні розпорядження-заявки,
				так звана продаж/купівля цінних паперів “з голосу”
			</p>
		</div>
		<h4 class="chapter-header">
			Ознайомитися з переліком документів для відкриття брокерського рахунку та
			тарифами можна нижче
		</h4>
		<ul class="tabs-list">
			<li class="tabs-item">
				<button type="button" data-option="first" class="tabs-button active">
					Фізична особа
				</button>
			</li>
			<li class="tabs-item">
				<button type="button" data-option="second" class="tabs-button">
					Юридична особа
				</button>
			</li>
		</ul>
		<div class="brokerage-service-content-wrapper">
			<div class="brokerage-service-required-documents-wrapper">
				<div class="tab-content-wrapper tab-content visible">
					<div class="brokerage-service-documents-to-review">
						<h4 class="brokerage-service-group-title">
							Перелік необхідних документів для приєднання до генерального
							договору про надання інвестиційних послуг фізичній особі -
							резиденту
						</h4>
						<ul class="brokerage-service-documents-requirements-list">
							<li class="brokerage-service-documents-item">
								<div class="list-icon-wrapper">
									<svg
										class="brokerage-service-list-done-check-icon"
										width="24"
										height="24"
										fill="none"
									>
										<use href="/symbol-defs.svg#icon-done-check"></use>
									</svg>
								</div>
								<p>
									<span class="brokerage-service-strong-text"
										>Паспорт громадянина України</span
									>
									або паспорт громадянина України з безконтактним електронним
									носієм (або паспорт громадянина іншої держави та Посвідка на
									постійне/тимчасове проживання в Україні)
								</p>
							</li>
							<li class="brokerage-service-documents-item">
								<div class="list-icon-wrapper">
									<svg
										class="brokerage-service-list-done-check-icon"
										width="24"
										height="24"
										fill="none"
									>
										<use href="/symbol-defs.svg#icon-done-check"></use>
									</svg>
								</div>
								<p>
									<span class="brokerage-service-strong-text"
										>Реєстраційний номер облікової картки платника
										податків</span
									>
									(або паспорт громадянина України, в якому проставлено відмітку
									про відмову від прийняття реєстраційного номера облікової
									картки платника податків, чи номер паспорта із записом про
									відмову від прийняття реєстраційного номера облікової картки
									платника податків в електронному безконтактному носії)
								</p>
							</li>
							<li class="brokerage-service-documents-item">
								<div class="list-icon-wrapper">
									<svg
										class="brokerage-service-list-done-check-icon"
										width="24"
										height="24"
										fill="none"
									>
										<use href="/symbol-defs.svg#icon-done-check"></use>
									</svg>
								</div>
								<p>
									<span class="brokerage-service-strong-text"
										>Витяг з Єдиного державного демографічного реєстру</span
									>
									щодо реєстрації місця проживання або Довідка про реєстрацію
									місця проживання особи (Ф-13) або Довідка про реєстрацію місця
									перебування особи (Ф-14) (додається у випадку якщо фізична
									особа має паспорт громадянина України з безконтактним
									електронним носієм)
								</p>
							</li>
							<li class="brokerage-service-documents-item">
								<div class="list-icon-wrapper">
									<svg
										class="brokerage-service-list-done-check-icon"
										width="24"
										height="24"
										fill="none"
									>
										<use href="/symbol-defs.svg#icon-done-check"></use>
									</svg>
								</div>
								<p>
									<span class="brokerage-service-strong-text"
										>Довідка про взяття на облік внутрішньо переміщеної
										особи</span
									>
									(за наявності)
								</p>
							</li>
							<li class="brokerage-service-documents-item">
								<div class="list-icon-wrapper">
									<svg
										class="brokerage-service-list-done-check-icon"
										width="24"
										height="24"
										fill="none"
									>
										<use href="/symbol-defs.svg#icon-done-check"></use>
									</svg>
								</div>
								<p>
									<span class="brokerage-service-strong-text"
										>Виписка або Витяг з Єдиного державного реєстру</span
									>
									юридичних осіб, фізичних осіб-підприємців та громадських
									формувань (для фізичних осіб-підприємців)
								</p>
							</li>
							<li class="brokerage-service-documents-item">
								<div class="list-icon-wrapper">
									<svg
										class="brokerage-service-list-done-check-icon"
										width="24"
										height="24"
										fill="none"
									>
										<use href="/symbol-defs.svg#icon-done-check"></use>
									</svg>
								</div>
								<p>
									<span class="brokerage-service-strong-text"
										>Довідка з банку</span
									>
									про відкриття поточного рахунку
								</p>
							</li>
							<li class="brokerage-service-documents-item">
								<div class="list-icon-wrapper">
									<svg
										class="brokerage-service-list-done-check-icon"
										width="24"
										height="24"
										fill="none"
									>
										<use href="/symbol-defs.svg#icon-done-check"></use>
									</svg>
								</div>
								<p>
									<span class="brokerage-service-strong-text">Опитувальник</span
									>, заповнений відповідно до вимог інвестиційної фірми
								</p>
							</li>
						</ul>
					</div>

					<div class="brokerage-service-documents-to-review">
						<h4 class="brokerage-service-group-title">
							Документи для ознайомлення
						</h4>
						<ul class="brokerage-service-documents-list">
							<li class="brokerage-service-documents-item">
								<div class="list-icon-wrapper">
									<svg
										class="brokerage-service-document-icon"
										width="24"
										height="24"
										fill="none"
									>
										<use href="/symbol-defs.svg#icon-file-text2"></use>
									</svg>
								</div>
								<p class="brokerage-service-document-text">
									Генеральний договір про надання інвестиційних послуг (<a
										href="https://btc-broker.com/upload/documents/brokerage-service/FO/Generalnuy dogovir.pdf"
										target="_blank"
										download
										class="text-link"
										>завантажити
									</a>
									|
									<a
										href="https://btc-broker.com/upload/documents/brokerage-service/FO/Generalnuy dogovir.pdf"
										class="text-link"
										target="_blank"
										rel="noopener noreferrer nofollow"
									>
										переглянути</a
									>)
								</p>
							</li>
							<li class="brokerage-service-documents-item">
								<div class="list-icon-wrapper">
									<svg
										class="brokerage-service-document-icon"
										width="24"
										height="24"
										fill="none"
									>
										<use href="/symbol-defs.svg#icon-file-text2"></use>
									</svg>
								</div>
								<p class="brokerage-service-document-text">
									Індивідуальна частина до генерального договору про надання
									інвестиційних послуг (<a
										href="https://btc-broker.com/upload/documents/brokerage-service/FO/induvid_chastuna_FO.docx"
										target="_blank"
										class="text-link"
										>завантажити
									</a>
									|
									<a
										href="https://btc-broker.com/upload/documents/brokerage-service/FO/induvid_chastuna_FO.pdf"
										class="text-link"
										target="_blank"
										rel="noopener noreferrer nofollow"
									>
										переглянути</a
									>)
								</p>
							</li>
							<li class="brokerage-service-documents-item">
								<div class="list-icon-wrapper">
									<svg
										class="brokerage-service-document-icon"
										width="24"
										height="24"
										fill="none"
									>
										<use href="/symbol-defs.svg#icon-file-text2"></use>
									</svg>
								</div>
								<p class="brokerage-service-document-text">
									Опитувальник для фізичної особи (<a
										href="https://btc-broker.com/upload/documents/brokerage-service/FO/7_Oputyvalnuk FO_fatca.docx"
										target="_blank"
										class="text-link"
										>завантажити
									</a>
									|
									<a
										href="https://btc-broker.com/upload/documents/brokerage-service/FO/7_Oputyvalnuk FO_fatca.pdf"
										class="text-link"
										target="_blank"
										rel="noopener noreferrer nofollow"
									>
										переглянути</a
									>)
								</p>
							</li>
							<li class="brokerage-service-documents-item">
								<div class="list-icon-wrapper">
									<svg
										class="brokerage-service-document-icon"
										width="24"
										height="24"
										fill="none"
									>
										<use href="/symbol-defs.svg#icon-file-text2"></use>
									</svg>
								</div>
								<p class="brokerage-service-document-text">
									Анкета оцінювання клієнта–фізичної особи (<a
										href="https://btc-broker.com/upload/documents/brokerage-service/FO/Anketa klienta FO.docx"
										target="_blank"
										class="text-link"
										>завантажити
									</a>
									|
									<a
										href="https://btc-broker.com/upload/documents/brokerage-service/FO/Anketa klienta FO.pdf"
										class="text-link"
										target="_blank"
										rel="noopener noreferrer nofollow"
									>
										переглянути</a
									>)
								</p>
							</li>
						</ul>
					</div>
					<div class="brokerage-service-documents-to-review">
						<h4 class="brokerage-service-group-title">Переглянути</h4>
						<ul class="brokerage-service-documents-list">
							<li class="brokerage-service-documents-item">
								<div class="list-icon-wrapper">
									<svg
										class="brokerage-service-document-icon"
										width="24"
										height="24"
										fill="none"
									>
										<use href="/symbol-defs.svg#icon-file-text2"></use>
									</svg>
								</div>
								<p class="brokerage-service-document-text">
									Тарифи (<a href="/pricing" class="text-link">переглянути</a>)
								</p>
							</li>
						</ul>
					</div>
				</div>
				<div class="tab-content-wrapper tab-content">
					<div class="brokerage-service-documents-to-review">
						<h4 class="brokerage-service-group-title">
							Перелік необхідних документів для приєднання до генерального
							договору про надання інвестиційних послуг юридичній особі -
							резиденту
						</h4>
						<ul class="brokerage-service-documents-requirements-list">
							<li class="brokerage-service-documents-item">
								<div class="list-icon-wrapper">
									<svg
										class="brokerage-service-list-done-check-icon"
										width="24"
										height="24"
										fill="none"
									>
										<use href="/symbol-defs.svg#icon-done-check"></use>
									</svg>
								</div>
								<p>
									<span class="brokerage-service-strong-text"
										>Зареєстрований установчий документ</span
									>
									та інформація про код доступу (Опис) до результатів надання
									адміністративних послуг. (Положення юридичних осіб публічного
									права, які затверджуються розпорядчими актами Президента
									України, органу державної влади або органу місцевого
									самоврядування, засвідчення не потребують. Юридичні особи
									публічного права, які діють на підставі законів, установчий
									документ не подають. У разі якщо юридична особа діє на
									підставі модельного статуту, подається копія рішення про її
									створення, яке підписується усіма засновниками/рішення
									уповноваженого органу управління юридичної особи про перехід
									на діяльність на підставі модельного статуту з доданням копій
									змін до нього (у разі їх внесення) або інформація про код
									доступу до результатів надання адміністративних послуг)
								</p>
							</li>
							<li class="brokerage-service-documents-item">
								<div class="list-icon-wrapper">
									<svg
										class="brokerage-service-list-done-check-icon"
										width="24"
										height="24"
										fill="none"
									>
										<use href="/symbol-defs.svg#icon-done-check"></use>
									</svg>
								</div>
								<p>
									<span class="brokerage-service-strong-text"
										>Витяг з Єдиного державного реєстру юридичних осіб</span
									>, фізичних осіб-підприємців та громадських формувань
								</p>
							</li>
							<li class="brokerage-service-documents-item">
								<div class="list-icon-wrapper">
									<svg
										class="brokerage-service-list-done-check-icon"
										width="24"
										height="24"
										fill="none"
									>
										<use href="/symbol-defs.svg#icon-done-check"></use>
									</svg>
								</div>
								<p>
									<span class="brokerage-service-strong-text"
										>Документи, що підтверджують призначення на посаду</span
									>
									осіб, що мають право діяти від імені юридичної особи без
									довіреності (протокол, наказ)
								</p>
							</li>
							<li class="brokerage-service-documents-item">
								<div class="list-icon-wrapper">
									<svg
										class="brokerage-service-list-done-check-icon"
										width="24"
										height="24"
										fill="none"
									>
										<use href="/symbol-defs.svg#icon-done-check"></use>
									</svg>
								</div>
								<p>
									<span class="brokerage-service-strong-text">Довіреність</span>
									(якщо від імені юридичної особи діє особа за довіреністю)
								</p>
							</li>
							<li class="brokerage-service-documents-item">
								<div class="list-icon-wrapper">
									<svg
										class="brokerage-service-list-done-check-icon"
										width="24"
										height="24"
										fill="none"
									>
										<use href="/symbol-defs.svg#icon-done-check"></use>
									</svg>
								</div>
								<p>
									<span class="brokerage-service-strong-text"
										>Копія паспорта та довідки про присвоєння ідентифікаційного
										номеру</span
									>
									директора та уповноваженої особи (завірені підписом власника)
								</p>
							</li>
							<li class="brokerage-service-documents-item">
								<div class="list-icon-wrapper">
									<svg
										class="brokerage-service-list-done-check-icon"
										width="24"
										height="24"
										fill="none"
									>
										<use href="/symbol-defs.svg#icon-done-check"></use>
									</svg>
								</div>
								<p>
									Оригінал або копія документа, що містить інформацію щодо
									<span class="brokerage-service-strong-text"
										>реквізитів банківського рахунку</span
									>
								</p>
							</li>
							<li class="brokerage-service-documents-item">
								<div class="list-icon-wrapper">
									<svg
										class="brokerage-service-list-done-check-icon"
										width="24"
										height="24"
										fill="none"
									>
										<use href="/symbol-defs.svg#icon-done-check"></use>
									</svg>
								</div>
								<p>
									<span class="brokerage-service-strong-text"
										>Схематичне зображення структури власності</span
									>
								</p>
							</li>
							<li class="brokerage-service-documents-item">
								<div class="list-icon-wrapper">
									<svg
										class="brokerage-service-list-done-check-icon"
										width="24"
										height="24"
										fill="none"
									>
										<use href="/symbol-defs.svg#icon-done-check"></use>
									</svg>
								</div>
								<p>
									<span class="brokerage-service-strong-text"
										>Фінансова звітність</span
									>
									за останній податковий період
								</p>
							</li>
							<li class="brokerage-service-documents-item">
								<div class="list-icon-wrapper">
									<svg
										class="brokerage-service-list-done-check-icon"
										width="24"
										height="24"
										fill="none"
									>
										<use href="/symbol-defs.svg#icon-done-check"></use>
									</svg>
								</div>
								<p>
									<span class="brokerage-service-strong-text">Ліцензії</span>
									(за наявності)
								</p>
							</li>
							<li class="brokerage-service-documents-item">
								<div class="list-icon-wrapper">
									<svg
										class="brokerage-service-list-done-check-icon"
										width="24"
										height="24"
										fill="none"
									>
										<use href="/symbol-defs.svg#icon-done-check"></use>
									</svg>
								</div>
								<p>
									<span class="brokerage-service-strong-text"
										>Опитувальник юридичної особи</span
									>
									для проведення ідентифікації
								</p>
							</li>
							<li class="brokerage-service-documents-item">
								<div class="list-icon-wrapper">
									<svg
										class="brokerage-service-list-done-check-icon"
										width="24"
										height="24"
										fill="none"
									>
										<use href="/symbol-defs.svg#icon-done-check"></use>
									</svg>
								</div>
								<p>
									<span class="brokerage-service-strong-text"
										>Інші документи</span
									>
									та інформацію, необхідні для перевірки відповідно до вимог
									підпункту 69.8.2 пункту 69.8 статті 69 Податкового Кодексу
									України статусу податкового резидентства юридичної особи та
									податкового резидентства її кінцевих бенефіціарних власників.
									Такими документами можуть бути, зокрема, але не винятково: для
									юридичної особи-резидента: довідка або сертифікат про сплату
									податків в іноземній країні, тощо; для фізичної особи -
									кінцевого бенефіціарного власника юридичної особи-резидента:
									паспорт громадянина України або іншої країни; посвідка на
									постійне або тимчасове проживання в Україні або інших країнах;
									імміграційні картки; довідки з прикордонних служб України та
									інших країн; паспорт для виїзду за кордон, в якому містяться
									відмітки про перетину кордону України та кордонів інших країн;
									відомості про нараховані доходи та утримані податки в Україні
									та інших країнах; документи, які підтверджують реєстрацію
									фізичної особи як суб’єкта господарювання або самозайнятою
									особою в Україні або інших країнах
								</p>
							</li>
						</ul>
					</div>

					<div class="brokerage-service-documents-to-review">
						<h4 class="brokerage-service-group-title">
							Документи для ознайомлення
						</h4>
						<ul class="brokerage-service-documents-list">
							<li class="brokerage-service-documents-item">
								<div class="list-icon-wrapper">
									<svg
										class="brokerage-service-document-icon"
										width="24"
										height="24"
										fill="none"
									>
										<use href="/symbol-defs.svg#icon-file-text2"></use>
									</svg>
								</div>
								<p class="brokerage-service-document-text">
									Генеральний договір про надання інвестиційних послуг (<a
										href="https://btc-broker.com/upload/documents/brokerage-service/UO/Generalnuy dogovir.pdf"
										target="_blank"
										download
										class="text-link"
										>завантажити
									</a>
									|
									<a
										href="https://btc-broker.com/upload/documents/brokerage-service/UO/Generalnuy dogovir.pdf"
										class="text-link"
										target="_blank"
										rel="noopener noreferrer nofollow"
									>
										переглянути</a
									>)
								</p>
							</li>
							<li class="brokerage-service-documents-item">
								<div class="list-icon-wrapper">
									<svg
										class="brokerage-service-document-icon"
										width="24"
										height="24"
										fill="none"
									>
										<use href="/symbol-defs.svg#icon-file-text2"></use>
									</svg>
								</div>
								<p class="brokerage-service-document-text">
									Індивідуальна частина до генерального договору про надання
									інвестиційних послуг (<a
										href="https://btc-broker.com/upload/documents/brokerage-service/UO/induvid_chastuna_UO.docx"
										target="_blank"
										class="text-link"
										>завантажити
									</a>
									|
									<a
										href="https://btc-broker.com/upload/documents/brokerage-service/UO/induvid_chastuna_UO.pdf"
										class="text-link"
										target="_blank"
										rel="noopener noreferrer nofollow"
									>
										переглянути</a
									>)
								</p>
							</li>
							<li class="brokerage-service-documents-item">
								<div class="list-icon-wrapper">
									<svg
										class="brokerage-service-document-icon"
										width="24"
										height="24"
										fill="none"
									>
										<use href="/symbol-defs.svg#icon-file-text2"></use>
									</svg>
								</div>
								<p class="brokerage-service-document-text">
									Опитувальник для юридичної особи (<a
										href="https://btc-broker.com/upload/documents/brokerage-service/UO/Oputyvalnuk UO_fatca.docx"
										target="_blank"
										class="text-link"
										>завантажити
									</a>
									|
									<a
										href="https://btc-broker.com/upload/documents/brokerage-service/UO/Oputyvalnuk UO_fatca.pdf"
										class="text-link"
										target="_blank"
										rel="noopener noreferrer nofollow"
									>
										переглянути</a
									>)
								</p>
							</li>
							<li class="brokerage-service-documents-item">
								<div class="list-icon-wrapper">
									<svg
										class="brokerage-service-document-icon"
										width="24"
										height="24"
										fill="none"
									>
										<use href="/symbol-defs.svg#icon-file-text2"></use>
									</svg>
								</div>
								<p class="brokerage-service-document-text">
									Анкета оцінювання клієнта–юридичної особи (<a
										href="https://btc-broker.com/upload/documents/brokerage-service/UO/Anketa klienta UO.docx"
										target="_blank"
										class="text-link"
										>завантажити
									</a>
									|
									<a
										href="https://btc-broker.com/upload/documents/brokerage-service/UO/Anketa klienta UO.pdf"
										class="text-link"
										target="_blank"
										rel="noopener noreferrer nofollow"
									>
										переглянути</a
									>)
								</p>
							</li>
						</ul>
					</div>
					<div class="brokerage-service-documents-to-review">
						<h4 class="brokerage-service-group-title">Переглянути</h4>
						<ul class="brokerage-service-documents-list">
							<li class="brokerage-service-documents-item">
								<div class="list-icon-wrapper">
									<svg
										class="brokerage-service-document-icon"
										width="24"
										height="24"
										fill="none"
									>
										<use href="/symbol-defs.svg#icon-file-text2"></use>
									</svg>
								</div>
								<p class="brokerage-service-document-text">
									Тарифи (<a href="/pricing" class="text-link">переглянути</a>)
								</p>
							</li>
						</ul>
					</div>
				</div>
			</div>
			<div class="brokerage-service-better-exp-offer">
				<h4 class="brokerage-service-better-exp-title">Відкрити рахунок</h4>
				<p class="brokerage-service-better-exp-text">
					Рахунок у цінних паперах в Депозитарній установі БТС Брокер фізична
					особа може відкрити онлайн через Кабінет Інвестора
				</p>
				<a
					href="https://trading.btc-broker.com/"
					class="button-secondary price-card-button"
					>Відкрити рахунок
					<svg
						class="price-card-benefits-icon"
						class="button-secondary-icon"
						width="24"
						height="24"
					>
						<use href="/symbol-defs.svg#icon-secondary-button-arrow"></use>
					</svg>
				</a>
			</div>
		</div>
	</div>
</section>
