<section class="coming-soon-section">
	<div class="container coming-soon-container">
		<h3 class="superheader">Тут буде щось корисне...</h3>
		<h2 class="section-header coming-soon-header">
			Ця сторінка ще в розробці...
		</h2>
		<h4 class="subheader coming-soon-subheader">
			Ми зовсім скоро додамо сюди інформацію, яку ви шукаєте. А до того часу, ви
			можете
			<a href="/src/contact-us.html" class="text-link">написати нам напряму</a>,
			ми з радістю відповімо!
		</h4>
		<div class="coming-soon-content-wrapper">
			<img
				class="coming-soon-section-illustration"
				src="/src/images/illustration-coming-soon-section.svg"
				alt="Пошук документів в шухляді"
			/>
		</div>
	</div>
</section>
