<section class="consulting-section">
	<div class="container consulting-container">
		<h3 class="superheader">Послуги</h3>
		<h1 class="section-header consulting-header">Консультування</h1>
		<h2 class="chapter-header">
			Інвестиційна фірма “БТС Брокер” своїм клієнтам поточним та потенційним
			пропонує професійні консультаційні послуги пов'язані з:
		</h2>
		<ul class="consulting-description-list">
			<li class="consulting-description-item">
				<div class="consulting-icon-wrapper">
					<svg
						class="consulting-description-icon"
						width="24"
						height="24"
						fill="none"
					>
						<use href="/src/images/svg/symbol-defs.svg#icon-done-check"></use>
					</svg>
				</div>
				<p>
					Проведенням інвестиційних досліджень фондових ринків (вітчизняних та
					закордонних)
				</p>
			</li>
			<li class="consulting-description-item">
				<div class="consulting-icon-wrapper">
					<svg
						class="consulting-description-icon"
						width="24"
						height="24"
						fill="none"
					>
						<use href="/src/images/svg/symbol-defs.svg#icon-done-check"></use>
					</svg>
				</div>
				<p>
					Фінансовим аналізом емітентів, акцій та облігацій, що торгуються на
					біржах, як в Україні так і закордоном
				</p>
			</li>
			<li class="consulting-description-item">
				<div class="consulting-icon-wrapper">
					<svg
						class="consulting-description-icon"
						width="24"
						height="24"
						fill="none"
					>
						<use href="/src/images/svg/symbol-defs.svg#icon-done-check"></use>
					</svg>
				</div>
				<p>
					Допомогою у формуванні інвест-портфеля згідно з запитом та
					ризик-профілем клієнта
				</p>
			</li>
			<li class="consulting-description-item">
				<div class="consulting-icon-wrapper">
					<svg
						class="consulting-description-icon"
						width="24"
						height="24"
						fill="none"
					>
						<use href="/src/images/svg/symbol-defs.svg#icon-done-check"></use>
					</svg>
				</div>
				<p>
					Аналізом та супроводженням вже існуючого інвестиційного портфеля з
					метою його покращення та оптимізації дохідності
				</p>
			</li>
			<li class="consulting-description-item">
				<div class="consulting-icon-wrapper">
					<svg
						class="consulting-description-icon"
						width="24"
						height="24"
						fill="none"
					>
						<use href="/src/images/svg/symbol-defs.svg#icon-done-check"></use>
					</svg>
				</div>
				<p>
					Наданням будь-яких інших загальних рекомендацій, пов’язаних з
					проведенням операцій з фінансовими інструментами на біржових та
					позабіржових ринках, як України, так і закордонних
				</p>
			</li>
		</ul>
		<p class="consulting-paragraph">
			<strong class="strong-text">Наша місія</strong>, як брокера – полягає в
			тому, щоб зробити Ваш інвестиційний шлях на фондовому ринку, більш
			надійним, зручним та, що найважливіше, прибутковим, забезпечуючи наших
			клієнтів необхідними інструментами та знаннями для досягнення їх
			фінансових цілей.
		</p>
		<p class="consulting-paragraph">
			<strong class="strong-text">Дана послуга підходить</strong>, як для людей,
			котрі інвестують на українському фондовому ринку, так і для інвесторів,
			котрі вже мають відкриті брокерські рахунки у закордонних брокерів.
			Послуга також підходить, як новачкам, так і інвесторам з досвідом.
		</p>
		<p>
			Якщо у Вас є питання пов'язані з інвестиціями на фондовому ринку,
			<a
				class="text-link"
				href="/contact-us"
				title="Покликання на сторінку зворотнього зв'язку"
				>можете зв'язатися з нами у будь-який зручний для Вас спосіб</a
			>.
		</p>
	</div>
</section>
