<section class="depositary-section">
	<div class="container depositary-container">
		<h3 class="superheader">Зберігання цінних паперів</h3>
		<h1 class="section-header depositary-header">Депозитарні послуги</h1>
		<h2 class="chapter-header">
			ТОВ “БТС Брокер”, як
			<a
				class="text-link"
				href="/licenses"
				title="Покликання на сторінку ліцензій"
				>ліцензований</a
			>
			учасник ринку капіталів України, крім брокерських послуг пропонує своїм
			клієнтам, як фізичним, так і юридичним особам послуги Депозитарної
			установи, а саме:
		</h2>
		<ul class="depositary-description-list">
			<li class="depositary-description-item">
				<div class="depositary-icon-wrapper">
					<svg
						class="depositary-description-icon"
						width="24"
						height="24"
						fill="none"
					>
						<use href="/src/images/svg/symbol-defs.svg#icon-done-check"></use>
					</svg>
				</div>
				<p>Відкриття та обслуговування рахунків у цінних паперах</p>
			</li>
			<li class="depositary-description-item">
				<div class="depositary-icon-wrapper">
					<svg
						class="depositary-description-icon"
						width="24"
						height="24"
						fill="none"
					>
						<use href="/src/images/svg/symbol-defs.svg#icon-done-check"></use>
					</svg>
				</div>
				<p>Ведення обліку прав на цінні папери на рахунках у цінних паперах</p>
			</li>
			<li class="depositary-description-item">
				<div class="depositary-icon-wrapper">
					<svg
						class="depositary-description-icon"
						width="24"
						height="24"
						fill="none"
					>
						<use href="/src/images/svg/symbol-defs.svg#icon-done-check"></use>
					</svg>
				</div>
				<p>
					Депозитарне обслуговування операцій з цінними паперами (акціями, ОВДП,
					муніципальними, корпоративними), включаючи зарахування, списання,
					переказ, блокування та розблокування
				</p>
			</li>
			<li class="depositary-description-item">
				<div class="depositary-icon-wrapper">
					<svg
						class="depositary-description-icon"
						width="24"
						height="24"
						fill="none"
					>
						<use href="/src/images/svg/symbol-defs.svg#icon-done-check"></use>
					</svg>
				</div>
				<p>
					Інформаційне обслуговування депонентів, таке як надання виписок з
					рахунку у цінних паперах, інформація про емітентів, надання довідок та
					інше
				</p>
			</li>
			<li class="depositary-description-item">
				<div class="depositary-icon-wrapper">
					<svg
						class="depositary-description-icon"
						width="24"
						height="24"
						fill="none"
					>
						<use href="/src/images/svg/symbol-defs.svg#icon-done-check"></use>
					</svg>
				</div>
				<p>
					Отримання доходів з цінних паперів (дивідендів, відсотків, сум від
					погашення) з подальшим їх перерахуванням на грошові рахунки депонентів
					(клієнтів)
				</p>
			</li>
			<li class="depositary-description-item">
				<div class="depositary-icon-wrapper">
					<svg
						class="depositary-description-icon"
						width="24"
						height="24"
						fill="none"
					>
						<use href="/src/images/svg/symbol-defs.svg#icon-done-check"></use>
					</svg>
				</div>
				<p>
					Надання інших послуг, що відповідають чинному законодавству України у
					сфері депозитарної діяльності депозитарної установи
				</p>
			</li>
		</ul>
		<h4 class="chapter-header">
			Ознайомитися з переліком документів для відкриття рахунку в цінних паперах
			та нашими тарифами, як Депозитарної установи, можна нижче
		</h4>
		<ul class="tabs-list">
			<li class="tabs-item">
				<button type="button" data-option="first" class="tabs-button active">
					Фізична особа
				</button>
			</li>
			<li class="tabs-item">
				<button type="button" data-option="second" class="tabs-button">
					Юридична особа
				</button>
			</li>
		</ul>
		<div class="depositary-content-wrapper">
			<div class="depositary-required-documents-wrapper">
				<div class="tab-content-wrapper tab-content visible">
					<div class="depositary-documents-to-review">
						<h4 class="depositary-group-title">
							Необхідні документи для відкриття рахунку у цінних паперах
							фізичній особі - резиденту
						</h4>
						<ul class="depositary-documents-requirements-list">
							<li class="depositary-documents-item">
								<div class="list-icon-wrapper">
									<svg
										class="depositary-list-done-check-icon"
										width="24"
										height="24"
										fill="none"
									>
										<use
											href="/src/images/svg/symbol-defs.svg#icon-done-check"
										></use>
									</svg>
								</div>
								<p>
									<span class="depositary-documents-strong-text"
										>Заява про приєднання</span
									>
									до умов договору про обслуговування рахунку у цінних паперах
									(2 примірника)
								</p>
							</li>
							<li class="depositary-documents-item">
								<div class="list-icon-wrapper">
									<svg
										class="depositary-list-done-check-icon"
										width="24"
										height="24"
										fill="none"
									>
										<use
											href="/src/images/svg/symbol-defs.svg#icon-done-check"
										></use>
									</svg>
								</div>
								<p>
									<span class="depositary-documents-strong-text"
										>Заява на відкриття рахунку</span
									>
									у цінних паперах
								</p>
							</li>
							<li class="depositary-documents-item">
								<div class="list-icon-wrapper">
									<svg
										class="depositary-list-done-check-icon"
										width="24"
										height="24"
										fill="none"
									>
										<use
											href="/src/images/svg/symbol-defs.svg#icon-done-check"
										></use>
									</svg>
								</div>
								<p>
									<span class="depositary-documents-strong-text"
										>Картка із зразком підпису</span
									>
									розпорядника рахунку в цінних паперах, яка підписана в
									присутності спеціаліста депозитарної установи або засвідчена
									нотаріально
								</p>
							</li>
							<li class="depositary-documents-item">
								<div class="list-icon-wrapper">
									<svg
										class="depositary-list-done-check-icon"
										width="24"
										height="24"
										fill="none"
									>
										<use
											href="/src/images/svg/symbol-defs.svg#icon-done-check"
										></use>
									</svg>
								</div>
								<p>
									<span class="depositary-documents-strong-text"
										>Копія документа, що засвідчує реєстрацію фізичної особи у
										Державному реєстрі фізичних осіб - платників податків (для
										резидентів).</span
									>
									Якщо фізична особа - резидент, яка через свої релігійні
									переконання відмовляється від прийняття реєстраційного номера
									облікової картки платника податків та повідомила про це
									відповідний орган державної податкової служби і в паспорті
									якої зроблено відмітку про право здійснювати будь-які платежі
									за серією та номером паспорта, то копія документа, що
									засвідчує реєстрацію фізичної особи у Державному реєстрі
									фізичних осіб - платників податків, не вимагається
								</p>
							</li>
							<li class="depositary-documents-item">
								<div class="list-icon-wrapper">
									<svg
										class="depositary-list-done-check-icon"
										width="24"
										height="24"
										fill="none"
									>
										<use
											href="/src/images/svg/symbol-defs.svg#icon-done-check"
										></use>
									</svg>
								</div>
								<p>
									<span class="depositary-documents-strong-text"
										>Копія паспорта</span
									>
									(прізвище, ім’я, по батькові, дата народження, серія та номер
									паспорта, дата видачі, орган, що видав, місце проживання). У
									випадку, коли рахунок відкривається представником за
									дорученням, депозитарній установі пред'являється паспорт
									представника або інший документ, що посвідчує особу
									представника відповідно до вимог законодавства, та надається
									копія паспорта депонента або іншого документа, що посвідчує
									особу депонента відповідно до вимог законодавства, нотаріально
									засвідчена
								</p>
							</li>
							<li class="depositary-documents-item">
								<div class="list-icon-wrapper">
									<svg
										class="depositary-list-done-check-icon"
										width="24"
										height="24"
										fill="none"
									>
										<use
											href="/src/images/svg/symbol-defs.svg#icon-done-check"
										></use>
									</svg>
								</div>
								<p>
									<span class="depositary-documents-strong-text"
										>Копія свідоцтва про реєстрацію</span
									>
									фізичної особи - підприємця, яка засвідчена нотаріально або
									працівником депозитарної установи в разі пред'явлення
									оригіналу (при наявності)
								</p>
							</li>
							<li class="depositary-documents-item">
								<div class="list-icon-wrapper">
									<svg
										class="depositary-list-done-check-icon"
										width="24"
										height="24"
										fill="none"
									>
										<use
											href="/src/images/svg/symbol-defs.svg#icon-done-check"
										></use>
									</svg>
								</div>
								<p>
									<span class="depositary-documents-strong-text"
										>Опитувальник</span
									>, заповнений відповідно до вимог депозитарної установи
								</p>
							</li>
						</ul>
					</div>

					<div class="depositary-documents-to-review">
						<h4 class="depositary-group-title">Документи для ознайомлення</h4>
						<ul class="depositary-documents-list">
							<li class="depositary-documents-item">
								<div class="list-icon-wrapper">
									<svg
										class="depositary-document-icon"
										width="24"
										height="24"
										fill="none"
									>
										<use
											href="/src/images/svg/symbol-defs.svg#icon-file-text2"
										></use>
									</svg>
								</div>
								<p class="depositary-document-text">
									Заява приєднання до умов договору (<a
										href="https://btc-broker.com/upload/documents/depositary/FO/1_ZP_FO.doc"
										target="_blank"
										class="text-link"
										>завантажити
									</a>
									|
									<a
										href="https://btc-broker.com/upload/documents/depositary/FO/1_ZP_FO.pdf"
										class="text-link"
										target="_blank"
										rel="noopener noreferrer nofollow"
									>
										переглянути</a
									>)
								</p>
							</li>
							<li class="depositary-documents-item">
								<div class="list-icon-wrapper">
									<svg
										class="depositary-document-icon"
										width="24"
										height="24"
										fill="none"
									>
										<use
											href="/src/images/svg/symbol-defs.svg#icon-file-text2"
										></use>
									</svg>
								</div>
								<p class="depositary-document-text">
									Заява на відкриття рахунку у цінних паперах (<a
										href="https://btc-broker.com/upload/documents/depositary/FO/2_ZV_FO.doc"
										target="_blank"
										class="text-link"
										>завантажити
									</a>
									|
									<a
										href="https://btc-broker.com/upload/documents/depositary/FO/2_ZV_FO.pdf"
										class="text-link"
										target="_blank"
										rel="noopener noreferrer nofollow"
									>
										переглянути</a
									>)
								</p>
							</li>
							<li class="depositary-documents-item">
								<div class="list-icon-wrapper">
									<svg
										class="depositary-document-icon"
										width="24"
										height="24"
										fill="none"
									>
										<use
											href="/src/images/svg/symbol-defs.svg#icon-file-text2"
										></use>
									</svg>
								</div>
								<p class="depositary-document-text">
									Картка зразка підпису розпорядника рахунку (<a
										href="https://btc-broker.com/upload/documents/depositary/FO/3_KZP_FO.doc"
										target="_blank"
										class="text-link"
										>завантажити
									</a>
									|
									<a
										href="https://btc-broker.com/upload/documents/depositary/FO/3_KZP_FO.pdf"
										class="text-link"
										target="_blank"
										rel="noopener noreferrer nofollow"
									>
										переглянути</a
									>)
								</p>
							</li>
							<li class="depositary-documents-item">
								<div class="list-icon-wrapper">
									<svg
										class="depositary-document-icon"
										width="24"
										height="24"
										fill="none"
									>
										<use
											href="/src/images/svg/symbol-defs.svg#icon-file-text2"
										></use>
									</svg>
								</div>
								<p class="depositary-document-text">
									Анкета-опитувальник для фізичної особи (<a
										href="https://btc-broker.com/upload/documents/depositary/FO/7_OP_FO.docx"
										target="_blank"
										class="text-link"
										>завантажити
									</a>
									|
									<a
										href="https://btc-broker.com/upload/documents/depositary/FO/7_OP_FO.pdf"
										class="text-link"
										target="_blank"
										rel="noopener noreferrer nofollow"
									>
										переглянути</a
									>)
								</p>
							</li>
						</ul>
					</div>
					<div class="depositary-documents-to-review">
						<h4 class="depositary-group-title">Переглянути</h4>
						<ul class="depositary-documents-list">
							<li class="depositary-documents-item">
								<div class="list-icon-wrapper">
									<svg
										class="depositary-document-icon"
										width="24"
										height="24"
										fill="none"
									>
										<use
											href="/src/images/svg/symbol-defs.svg#icon-file-text2"
										></use>
									</svg>
								</div>
								<p class="depositary-document-text">
									Публічна пропозиція ТОВ "БТС Брокер" (<a
										href="https://btc-broker.com/upload/documents/depositary/FO/PP_FO_new_fatca.doc"
										target="_blank"
										class="text-link"
										>завантажити
									</a>
									|
									<a
										href="https://btc-broker.com/upload/documents/depositary/FO/PP_FO_new_fatca.pdf"
										class="text-link"
										target="_blank"
										rel="noopener noreferrer nofollow"
									>
										переглянути</a
									>)
								</p>
							</li>
							<li class="depositary-documents-item">
								<div class="list-icon-wrapper">
									<svg
										class="depositary-document-icon"
										width="24"
										height="24"
										fill="none"
									>
										<use
											href="/src/images/svg/symbol-defs.svg#icon-file-text2"
										></use>
									</svg>
								</div>
								<p class="depositary-document-text">
									Тарифи (<a href="/pricing" class="text-link">переглянути</a>)
								</p>
							</li>
						</ul>
					</div>
				</div>
				<div class="tab-content-wrapper tab-content">
					<div class="depositary-documents-to-review">
						<h4 class="depositary-group-title">
							Необхідні документи для відкриття рахунку у цінних паперах
							юридичній особі - резиденту
						</h4>
						<ul class="depositary-documents-requirements-list">
							<li class="depositary-documents-item">
								<div class="list-icon-wrapper">
									<svg
										class="depositary-list-done-check-icon"
										width="24"
										height="24"
										fill="none"
									>
										<use
											href="/src/images/svg/symbol-defs.svg#icon-done-check"
										></use>
									</svg>
								</div>
								<p>
									<span class="depositary-documents-strong-text"
										>Заява про приєднання</span
									>
									до умов договору про обслуговування рахунку у цінних паперах
									(2 примірника)
								</p>
							</li>
							<li class="depositary-documents-item">
								<div class="list-icon-wrapper">
									<svg
										class="depositary-list-done-check-icon"
										width="24"
										height="24"
										fill="none"
									>
										<use
											href="/src/images/svg/symbol-defs.svg#icon-done-check"
										></use>
									</svg>
								</div>
								<p>
									<span class="depositary-documents-strong-text"
										>Заява на відкриття рахунку</span
									>
									у цінних паперах
								</p>
							</li>
							<li class="depositary-documents-item">
								<div class="list-icon-wrapper">
									<svg
										class="depositary-list-done-check-icon"
										width="24"
										height="24"
										fill="none"
									>
										<use
											href="/src/images/svg/symbol-defs.svg#icon-done-check"
										></use>
									</svg>
								</div>
								<p>
									<span class="depositary-documents-strong-text"
										>Копія зареєстрованого установчого документа</span
									>, яка засвідчена підписом уповноваженої особи та печаткою
									такої юридичної особи. Додатково має бути надана інформація
									щодо дати проведення державним реєстратором реєстрації
									відповідного установчого документа. Юридичні особи -
									резиденти, установчі документи яких оприлюднені на порталі
									електронних сервісів (через який здійснюється доступ до
									відомостей Єдиного державного реєстру юридичних осіб, фізичних
									осіб - підприємців та громадських формувань), замість копії
									установчого документа можуть надати депозитарній установі
									інформацію про код доступу до результатів надання
									адміністративних послуг, який надає доступ до копіювання
									опублікованого установчого документа. Положення юридичних осіб
									публічного права, які затверджуються розпорядчими актами
									Президента України, органу державної влади або органу
									місцевого самоврядування, засвідчення не потребують. Юридичні
									особи публічного права, які діють на підставі законів,
									установчий документ не подають. У разі якщо юридична особа діє
									на підставі модельного статуту, подається копія рішення про її
									створення, яке підписується усіма засновниками/рішення
									уповноваженого органу управління юридичної особи про перехід
									на діяльність на підставі модельного статуту з доданням копій
									змін до нього (у разі їх внесення) або інформація про код
									доступу до результатів надання адміністративних послуг. Копія
									установчого документа юридичної особи, має бути засвідчена
									підписом уповноваженої особи та печаткою такої юридичної
									особи. Додатково має бути надана інформація щодо дати
									проведення державним реєстратором реєстрації відповідного
									установчого документа
								</p>
							</li>
							<li class="depositary-documents-item">
								<div class="list-icon-wrapper">
									<svg
										class="depositary-list-done-check-icon"
										width="24"
										height="24"
										fill="none"
									>
										<use
											href="/src/images/svg/symbol-defs.svg#icon-done-check"
										></use>
									</svg>
								</div>
								<p>
									<span class="depositary-documents-strong-text"
										>Довіреність розпоряднику рахунку у цінних паперах</span
									>, видана та підписана керівником юридичної особи і засвідчена
									печаткою цієї юридичної особи, якщо розпорядником рахунку не є
									керівник юридичної особи
								</p>
							</li>
							<li class="depositary-documents-item">
								<div class="list-icon-wrapper">
									<svg
										class="depositary-list-done-check-icon"
										width="24"
										height="24"
										fill="none"
									>
										<use
											href="/src/images/svg/symbol-defs.svg#icon-done-check"
										></use>
									</svg>
								</div>
								<p>
									<span class="depositary-documents-strong-text"
										>Картка із зразками підписів розпорядників рахунку в цінних
										паперах та відбитка печатки</span
									>, затверджена керівником або іншою уповноваженою особою
									юридичної особи. Якщо карта із зразками підписів розпорядників
									рахунку в цінних паперах та відбитка печатки затверджена
									уповноваженою особою юридичної особи, що не є її керівником,
									то для відкриття рахунку надаються документи, які
									підтверджують повноваження такої особи
								</p>
							</li>
							<li class="depositary-documents-item">
								<div class="list-icon-wrapper">
									<svg
										class="depositary-list-done-check-icon"
										width="24"
										height="24"
										fill="none"
									>
										<use
											href="/src/images/svg/symbol-defs.svg#icon-done-check"
										></use>
									</svg>
								</div>
								<p>
									<span class="depositary-documents-strong-text"
										>Копія документа, що підтверджує призначення або обрання на
										посаду</span
									>
									осіб, що мають право діяти від імені юридичної особи без
									довіреності, засвідчена підписом керівника або розпорядника
									рахунку (у разі наявності відповідних повноважень) та печаткою
									юридичної особи
								</p>
							</li>
							<li class="depositary-documents-item">
								<div class="list-icon-wrapper">
									<svg
										class="depositary-list-done-check-icon"
										width="24"
										height="24"
										fill="none"
									>
										<use
											href="/src/images/svg/symbol-defs.svg#icon-done-check"
										></use>
									</svg>
								</div>
								<p>
									Для кожного розпорядника рахунку
									<span class="depositary-documents-strong-text"
										>копія довідки про ідентифікаційний код платника
										податків</span
									>, засвідчена нотаріально чи органом, який видав цю довідку,
									або ксерокопія за умови пред’явлення оригіналу, копія паспорта
									(прізвище, ім’я, по батькові, дата народження, серія та номер,
									дата видачі, орган, що видав, місце проживання)
								</p>
							</li>
							<li class="depositary-documents-item">
								<div class="list-icon-wrapper">
									<svg
										class="depositary-list-done-check-icon"
										width="24"
										height="24"
										fill="none"
									>
										<use
											href="/src/images/svg/symbol-defs.svg#icon-done-check"
										></use>
									</svg>
								</div>
								<p>
									<span class="depositary-documents-strong-text"
										>Оригінал або належним чином засвідчена копія документа, що
										містить інформацію щодо реквізитів банку</span
									>, в якому відкрито поточний рахунок , та номер цього рахунку
									(таким документом може бути письмовий документ, створений
									юридичною особою та підписаний особою, що відповідно до
									установчих документів має право діяти від імені юридичної
									особи без довіреності (або її уповноваженою особою), яка є
									розпорядником рахунку, та засвідчений печаткою юридичної
									особи)
								</p>
							</li>
							<li class="depositary-documents-item">
								<div class="list-icon-wrapper">
									<svg
										class="depositary-list-done-check-icon"
										width="24"
										height="24"
										fill="none"
									>
										<use
											href="/src/images/svg/symbol-defs.svg#icon-done-check"
										></use>
									</svg>
								</div>
								<p>
									<span class="depositary-documents-strong-text"
										>Копія фінансової звітності (баланс, звіт про фінансові
										результати тощо)</span
									>, що надавалась по закінченню останнього звітного періоду у
									відповідні органи, засвідчена підписом керівника
									(уповноваженої ним посадової особи) та печаткою юридичної
									особи
								</p>
							</li>
							<li class="depositary-documents-item">
								<div class="list-icon-wrapper">
									<svg
										class="depositary-list-done-check-icon"
										width="24"
										height="24"
										fill="none"
									>
										<use
											href="/src/images/svg/symbol-defs.svg#icon-done-check"
										></use>
									</svg>
								</div>
								<p>
									<span class="depositary-documents-strong-text"
										>Опитувальник юридичної особи</span
									>
									для проведення ідентифікації
								</p>
							</li>
							<li class="depositary-documents-item">
								<div class="list-icon-wrapper">
									<svg
										class="depositary-list-done-check-icon"
										width="24"
										height="24"
										fill="none"
									>
										<use
											href="/src/images/svg/symbol-defs.svg#icon-done-check"
										></use>
									</svg>
								</div>
								<p>
									<span class="depositary-documents-strong-text"
										>Схематичне зображення структури власності</span
									>
								</p>
							</li>
							<li class="depositary-documents-item">
								<div class="list-icon-wrapper">
									<svg
										class="depositary-list-done-check-icon"
										width="24"
										height="24"
										fill="none"
									>
										<use
											href="/src/images/svg/symbol-defs.svg#icon-done-check"
										></use>
									</svg>
								</div>
								<p>
									<span class="depositary-documents-strong-text"
										>Інші документи</span
									>, визначені законодавством України, у тому числі, документи
									та іншу інформацію, необхідні для перевірки депозитарною
									установою відповідно до вимог підпункту 69.8.2 пункту 69.8
									статті 69 Податкового Кодексу України статусу податкового
									резидентства юридичної особи та податкового резидентства її
									кінцевих бенефіціарних власників
								</p>
							</li>
						</ul>
					</div>

					<div class="depositary-documents-to-review">
						<h4 class="depositary-group-title">Документи для ознайомлення</h4>
						<ul class="depositary-documents-list">
							<li class="depositary-documents-item">
								<div class="list-icon-wrapper">
									<svg
										class="depositary-document-icon"
										width="24"
										height="24"
										fill="none"
									>
										<use
											href="/src/images/svg/symbol-defs.svg#icon-file-text2"
										></use>
									</svg>
								</div>
								<p class="depositary-document-text">
									Заява приєднання до умов договору (<a
										href="https://btc-broker.com/upload/documents/depositary/UO/1_ZP_UO.doc"
										target="_blank"
										class="text-link"
										>завантажити
									</a>
									|
									<a
										href="https://btc-broker.com/upload/documents/depositary/UO/1_ZP_UO.pdf"
										class="text-link"
										target="_blank"
										rel="noopener noreferrer nofollow"
									>
										переглянути</a
									>)
								</p>
							</li>
							<li class="depositary-documents-item">
								<div class="list-icon-wrapper">
									<svg
										class="depositary-document-icon"
										width="24"
										height="24"
										fill="none"
									>
										<use
											href="/src/images/svg/symbol-defs.svg#icon-file-text2"
										></use>
									</svg>
								</div>
								<p class="depositary-document-text">
									Заява на відкриття рахунку у цінних паперах (<a
										href="https://btc-broker.com/upload/documents/depositary/UO/2_ZV_UO.doc"
										target="_blank"
										class="text-link"
										>завантажити
									</a>
									|
									<a
										href="https://btc-broker.com/upload/documents/depositary/UO/2_ZV_UO.pdf"
										class="text-link"
										target="_blank"
										rel="noopener noreferrer nofollow"
									>
										переглянути</a
									>)
								</p>
							</li>
							<li class="depositary-documents-item">
								<div class="list-icon-wrapper">
									<svg
										class="depositary-document-icon"
										width="24"
										height="24"
										fill="none"
									>
										<use
											href="/src/images/svg/symbol-defs.svg#icon-file-text2"
										></use>
									</svg>
								</div>
								<p class="depositary-document-text">
									Довіреність розпорядника рахунку (<a
										href="https://btc-broker.com/upload/documents/depositary/UO/5_D_UO.doc"
										target="_blank"
										class="text-link"
										>завантажити
									</a>
									|
									<a
										href="https://btc-broker.com/upload/documents/depositary/UO/5_D_UO.pdf"
										class="text-link"
										target="_blank"
										rel="noopener noreferrer nofollow"
									>
										переглянути</a
									>)
								</p>
							</li>
							<li class="depositary-documents-item">
								<div class="list-icon-wrapper">
									<svg
										class="depositary-document-icon"
										width="24"
										height="24"
										fill="none"
									>
										<use
											href="/src/images/svg/symbol-defs.svg#icon-file-text2"
										></use>
									</svg>
								</div>
								<p class="depositary-document-text">
									Картка зразка підпису розпорядника рахунку (<a
										href="https://btc-broker.com/upload/documents/depositary/UO/6_KP_UO.doc"
										target="_blank"
										class="text-link"
										>завантажити
									</a>
									|
									<a
										href="https://btc-broker.com/upload/documents/depositary/UO/6_KP_UO.pdf"
										class="text-link"
										target="_blank"
										rel="noopener noreferrer nofollow"
									>
										переглянути</a
									>)
								</p>
							</li>
							<li class="depositary-documents-item">
								<div class="list-icon-wrapper">
									<svg
										class="depositary-document-icon"
										width="24"
										height="24"
										fill="none"
									>
										<use
											href="/src/images/svg/symbol-defs.svg#icon-file-text2"
										></use>
									</svg>
								</div>
								<p class="depositary-document-text">
									Анкета-опитувальник для юридичної особи (<a
										href="https://btc-broker.com/upload/documents/depositary/UO/11_OP_UO.doc"
										target="_blank"
										class="text-link"
										>завантажити
									</a>
									|
									<a
										href="https://btc-broker.com/upload/documents/depositary/UO/11_OP_UO.pdf"
										class="text-link"
										target="_blank"
										rel="noopener noreferrer nofollow"
									>
										переглянути</a
									>)
								</p>
							</li>
							<li class="depositary-documents-item">
								<div class="list-icon-wrapper">
									<svg
										class="depositary-document-icon"
										width="24"
										height="24"
										fill="none"
									>
										<use
											href="/src/images/svg/symbol-defs.svg#icon-file-text2"
										></use>
									</svg>
								</div>
								<p class="depositary-document-text">
									Cхематичне зображення структури власності (<a
										href="https://btc-broker.com/upload/documents/depositary/UO/12_SV_UO.docx"
										target="_blank"
										class="text-link"
										>завантажити
									</a>
									|
									<a
										href="https://btc-broker.com/upload/documents/depositary/UO/12_SV_UO.pdf"
										class="text-link"
										target="_blank"
										rel="noopener noreferrer nofollow"
									>
										переглянути</a
									>)
								</p>
							</li>
						</ul>
					</div>
					<div class="depositary-documents-to-review">
						<h4 class="depositary-group-title">Переглянути</h4>
						<ul class="depositary-documents-list">
							<li class="depositary-documents-item">
								<div class="list-icon-wrapper">
									<svg
										class="depositary-document-icon"
										width="24"
										height="24"
										fill="none"
									>
										<use
											href="/src/images/svg/symbol-defs.svg#icon-file-text2"
										></use>
									</svg>
								</div>
								<p class="depositary-document-text">
									Публічна пропозиція ТОВ "БТС Брокер" (<a
										href="https://btc-broker.com/upload/documents/depositary/UO/PP_UO_new_fatca.doc"
										target="_blank"
										class="text-link"
										>завантажити
									</a>
									|
									<a
										href="https://btc-broker.com/upload/documents/depositary/UO/PP_UO_new_fatca.pdf"
										class="text-link"
										target="_blank"
										rel="noopener noreferrer nofollow"
									>
										переглянути</a
									>)
								</p>
							</li>
							<li class="depositary-documents-item">
								<div class="list-icon-wrapper">
									<svg
										class="depositary-document-icon"
										width="24"
										height="24"
										fill="none"
									>
										<use
											href="/src/images/svg/symbol-defs.svg#icon-file-text2"
										></use>
									</svg>
								</div>
								<p class="depositary-document-text">
									Тарифи (<a href="/pricing" class="text-link">переглянути</a>)
								</p>
							</li>
						</ul>
					</div>
				</div>
			</div>
			<div class="depositary-better-exp-offer">
				<h4 class="depositary-better-exp-title">Веб опитувальник</h4>
				<p class="depositary-better-exp-text">
					Для зручності процесу приєднання ми підготували веб форму
					опитувальника
				</p>
				<a
					href="https://form.btc-broker.com/"
					class="button-secondary price-card-button"
					>Заповнити веб форму
					<svg
						class="price-card-benefits-icon"
						class="button-secondary-icon"
						width="24"
						height="24"
					>
						<use
							href="/src/images/svg/symbol-defs.svg#icon-secondary-button-arrow"
						></use>
					</svg>
				</a>
			</div>
		</div>
	</div>
</section>
