<section class="diia-military-bonds-section">
	<div class="container diia-military-bonds-container">
		<h3 class="superheader">Продукти</h3>
		<h1 class="section-header diia-military-bonds-header">
			ДІЯ військові облігації
		</h1>
		<h4 class="subheader diia-military-bonds-subheader">
			Інвестиції через мобільний застосунок Дія - це дієвий спосіб під час війни
			підтримати нашу країну та ЗСУ, придбавши Військові облігації (<a
				class="text-link"
				href="/bonds"
				title="Покликання на сторінку ОВДП"
				>чим вони відрізняються від звичайних ОВДП</a
			>)
		</h4>
		<p class="diia-military-bonds-paragraph">
			Сам спосіб інвестування через застосунок Дія доволі простий та майже нічим
			не відрізняється від купівлі ОВДП через інші брокерські застосунки окрім
			того, що Дія не є брокерською компанією, а виступає зручним маркет-плейсом
			для інвесторів та своїх партнерів – ліцензованих інвестиційних фірм,
			включаючи і лідера українського фондового ринку “БТС Брокер” (фін.тех.
			“BondUA” в Дія).
		</p>
		<h2 class="chapter-header">Як це виглядає:</h2>
		<p class="diia-military-bonds-paragraph">
			На даному маркет-плейсі, в застосунку Дія, інвестор вибирає облігацію, їх
			кількість та брокерську компанію через котру він бажає придбати дані цінні
			папери.
		</p>
		<p class="diia-military-bonds-paragraph">
			Після автоматичної обробки документів та проведення операції купівлі
			облігацій цінні папери відобразяться на брокерському рахунку інвестора.
			Про що він буде знати через той же застосунок Дія. Та отримає на свій
			e-mail виписку від брокера, що засвідчує проведення операції. Як правило
			вся операція займає не більше доби.
		</p>
		<p>
			Якщо у Вас залишились ще питання, стосовно інвестицій на фондовому ринку -
			можете їх задати зв'язавшись,
			<a
				class="text-link"
				href="/contact-us"
				title="Покликання на сторінку зворотнього зв'язку"
				>у будь-який зручний для Вас спосіб</a
			>.
		</p>
	</div>
</section>
