<section class="documents-section">
	<div class="container documents-container">
		<h3 class="superheader">Для ознайомлення</h3>
		<h1 class="section-header documents-header">Внутрішні документи</h1>
		<h4 class="subheader documents-subheader">
			Регламенти, положення та інші документи
		</h4>
		<div class="documents-content-wrapper">
			<div class="documents-required-documents-wrapper">
				<ul class="documents-documents-requirements-list">
					<li class="documents-documents-item">
						<div class="list-icon-wrapper">
							<svg
								class="documents-document-icon"
								width="24"
								height="24"
								fill="none"
							>
								<use
									href="/src/images/svg/symbol-defs.svg#icon-file-text2"
								></use>
							</svg>
						</div>
						<p class="documents-document-text">
							Регламент надання послуг комісіонера на підставі генерального
							договору про надання інвестиційних послуг (<i
								>Цей документ незабаром буде доступний для ознайомлення</i
							>)
						</p>
						<!-- <p class="documents-document-text">
							Регламент надання послуг комісіонера на підставі генерального
							договору про надання інвестиційних послуг (<a
								href="https://btc-broker.com/upload/documents/depositary/FO/1_ZP_FO.doc"
								target="_blank"
								class="text-link"
								>завантажити
							</a>
							|
							<a
								href="https://btc-broker.com/upload/documents/depositary/FO/1_ZP_FO.pdf"
								class="text-link"
								target="_blank"
								rel="noopener noreferrer nofollow"
							>
								переглянути</a
							>)
						</p> -->
					</li>
					<li class="documents-documents-item">
						<div class="list-icon-wrapper">
							<svg
								class="documents-document-icon"
								width="24"
								height="24"
								fill="none"
							>
								<use
									href="/src/images/svg/symbol-defs.svg#icon-file-text2"
								></use>
							</svg>
						</div>
						<p class="documents-document-text">
							Регламент надання послуг комісіонеру в рамках здійснення
							брокерського обслуговування (<i
								>Цей документ незабаром буде доступний для ознайомлення</i
							>)
						</p>
						<!-- <p class="documents-document-text">
							Регламент надання послуг комісіонеру в рамках здійснення
							брокерського обслуговування (<a
								href="https://btc-broker.com/upload/documents/depositary/FO/1_ZP_FO.doc"
								target="_blank"
								class="text-link"
								>завантажити
							</a>
							|
							<a
								href="https://btc-broker.com/upload/documents/depositary/FO/1_ZP_FO.pdf"
								class="text-link"
								target="_blank"
								rel="noopener noreferrer nofollow"
							>
								переглянути</a
							>)
						</p> -->
					</li>
					<li class="documents-documents-item">
						<div class="list-icon-wrapper">
							<svg
								class="documents-document-icon"
								width="24"
								height="24"
								fill="none"
							>
								<use
									href="/src/images/svg/symbol-defs.svg#icon-file-text2"
								></use>
							</svg>
						</div>
						<p class="documents-document-text">
							Положення (політика) щодо конфлікту інтересів та особистих угод
							ТОВ «БТС Брокер» (<i
								>Цей документ незабаром буде доступний для ознайомлення</i
							>)
						</p>
						<!-- <p class="documents-document-text">
							Положення (політика) щодо конфлікту інтересів та особистих угод
							ТОВ «БТС Брокер» (<a
								href="https://btc-broker.com/upload/documents/depositary/FO/1_ZP_FO.doc"
								target="_blank"
								class="text-link"
								>завантажити
							</a>
							|
							<a
								href="https://btc-broker.com/upload/documents/depositary/FO/1_ZP_FO.pdf"
								class="text-link"
								target="_blank"
								rel="noopener noreferrer nofollow"
							>
								переглянути</a
							>)
						</p> -->
					</li>
					<li class="documents-documents-item">
						<div class="list-icon-wrapper">
							<svg
								class="documents-document-icon"
								width="24"
								height="24"
								fill="none"
							>
								<use
									href="/src/images/svg/symbol-defs.svg#icon-file-text2"
								></use>
							</svg>
						</div>
						<p class="documents-document-text">
							Положення (політика) з питань винагороди ТОВ «БТС Брокер» (<i
								>Цей документ незабаром буде доступний для ознайомлення</i
							>)
						</p>
						<!-- <p class="documents-document-text">
							Положення (політика) з питань винагороди ТОВ «БТС Брокер» (<a
								href="https://btc-broker.com/upload/documents/depositary/FO/1_ZP_FO.doc"
								target="_blank"
								class="text-link"
								>завантажити
							</a>
							|
							<a
								href="https://btc-broker.com/upload/documents/depositary/FO/1_ZP_FO.pdf"
								class="text-link"
								target="_blank"
								rel="noopener noreferrer nofollow"
							>
								переглянути</a
							>)
						</p> -->
					</li>
					<li class="documents-documents-item">
						<div class="list-icon-wrapper">
							<svg
								class="documents-document-icon"
								width="24"
								height="24"
								fill="none"
							>
								<use
									href="/src/images/svg/symbol-defs.svg#icon-file-text2"
								></use>
							</svg>
						</div>
						<p class="documents-document-text">
							Положення про порядок розгляду скарг та інших звернень клієнтів,
							потенційних клієнтів та професійних учасників фондового ринку ТОВ
							«БТС Брокер» (<i
								>Цей документ незабаром буде доступний для ознайомлення</i
							>)
						</p>
						<!-- <p class="documents-document-text">
							Положення про порядок розгляду скарг та інших звернень клієнтів,
							потенційних клієнтів та професійних учасників фондового ринку ТОВ
							«БТС Брокер» (<a
								href="https://btc-broker.com/upload/documents/depositary/FO/1_ZP_FO.doc"
								target="_blank"
								class="text-link"
								>завантажити
							</a>
							|
							<a
								href="https://btc-broker.com/upload/documents/depositary/FO/1_ZP_FO.pdf"
								class="text-link"
								target="_blank"
								rel="noopener noreferrer nofollow"
							>
								переглянути</a
							>)
						</p> -->
					</li>
					<li class="documents-documents-item">
						<div class="list-icon-wrapper">
							<svg
								class="documents-document-icon"
								width="24"
								height="24"
								fill="none"
							>
								<use
									href="/src/images/svg/symbol-defs.svg#icon-file-text2"
								></use>
							</svg>
						</div>
						<p class="documents-document-text">
							Внутрішнє положення депозитарної установи (<i
								>Цей документ незабаром буде доступний для ознайомлення</i
							>)
						</p>
						<!-- <p class="documents-document-text">
							Внутрішнє положення депозитарної установи (<a
								href="https://btc-broker.com/upload/documents/depositary/FO/1_ZP_FO.doc"
								target="_blank"
								class="text-link"
								>завантажити
							</a>
							|
							<a
								href="https://btc-broker.com/upload/documents/depositary/FO/1_ZP_FO.pdf"
								class="text-link"
								target="_blank"
								rel="noopener noreferrer nofollow"
							>
								переглянути</a
							>)
						</p> -->
					</li>
					<li class="documents-documents-item">
						<div class="list-icon-wrapper">
							<svg
								class="documents-document-icon"
								width="24"
								height="24"
								fill="none"
							>
								<use
									href="/src/images/svg/symbol-defs.svg#icon-file-text2"
								></use>
							</svg>
						</div>
						<p class="documents-document-text">
							Повідомлення про обробку персональних даних (<a
								href="https://btc-broker.com/upload/documents/documents/Повідомлення_про_обробку_персональних_даних.pdf"
								target="_blank"
								class="text-link"
								download
								>завантажити
							</a>
							|
							<a
								href="https://btc-broker.com/upload/documents/documents/Повідомлення_про_обробку_персональних_даних.pdf"
								class="text-link"
								target="_blank"
								rel="noopener noreferrer nofollow"
							>
								переглянути</a
							>)
						</p>
					</li>
					<li class="documents-documents-item">
						<div class="list-icon-wrapper">
							<svg
								class="documents-document-icon"
								width="24"
								height="24"
								fill="none"
							>
								<use
									href="/src/images/svg/symbol-defs.svg#icon-file-text2"
								></use>
							</svg>
						</div>
						<p class="documents-document-text">
							Відомості для клієнта або потенційного клієнта згідно ст.7 ЗУ «Про
							фінансові послуги та фінансові компанії» (<a
								href="https://btc-broker.com/upload/documents/documents/Відомості_згідно_Закону_про_фінкомпаніі.pdf"
								target="_blank"
								class="text-link"
								download
								>завантажити
							</a>
							|
							<a
								href="https://btc-broker.com/upload/documents/documents/Відомості_згідно_Закону_про_фінкомпаніі.pdf"
								class="text-link"
								target="_blank"
								rel="noopener noreferrer nofollow"
							>
								переглянути</a
							>)
						</p>
					</li>
				</ul>
			</div>
			<img
				class="documents-section-illustration"
				src="/src/images/illustration-documents-section.svg"
				alt="Пошук документів в шухляді"
			/>
		</div>
	</div>
</section>
