<section class="expertise-section">
	<div class="container expertise-container">
		<img
			class="expertise-illustration"
			src="/src/images/illustration-expertise-section.webp"
			alt="Планшет з графіком акцій компанії Еппл"
		/>
		<div class="expertise-description-container">
			<h3 class="superheader">Що ми робимо</h3>
			<h2 class="section-header expertise-description-header">
				Інвестиційна компанія з найкращими послугами та конкурентними тарифами
			</h2>
			<div class="accordion">
				<div class="accordion-panel">
					<h3 id="panel1-title">
						<button
							class="accordion-trigger"
							aria-expanded="true"
							aria-controls="accordion1-content"
						>
							<div class="accordion-icon-wrapper">
								<svg
									class="accordion-icon"
									width="24"
									height="12"
									viewBox="0 0 12 12"
									fill="none"
									xmlns="http://www.w3.org/2000/svg"
								>
									<line
										x1="1"
										y1="6"
										x2="11"
										y2="6"
										stroke-width="2"
										stroke-linecap="round"
										stroke-linejoin="round"
										class="line horizontal"
									/>
									<line
										x1="6"
										y1="1"
										x2="6"
										y2="11"
										stroke-width="2"
										stroke-linecap="round"
										stroke-linejoin="round"
										class="line vertical"
									/>

									<!-- If you do not specify the stroke
       color the line will not be visible -->
								</svg>
							</div>
							Депозитарні послуги
						</button>
					</h3>
					<div
						class="accordion-content"
						role="region"
						aria-labelledby="panel1-title"
						aria-hidden="false"
						id="panel1-content"
					>
						<div>
							<p class="accordion-content-text">
								Відкриття та обслуговування рахунків у цінних паперах для
								юридичних і фізичних осіб (резидентів та нерезидентів).
							</p>
						</div>
					</div>
				</div>

				<div class="accordion-panel">
					<h3 id="panel2-title">
						<button
							class="accordion-trigger"
							aria-expanded="false"
							aria-controls="accordion2-content"
						>
							<div class="accordion-icon-wrapper">
								<svg
									class="accordion-icon"
									width="24"
									height="12"
									viewBox="0 0 12 12"
									fill="none"
									xmlns="http://www.w3.org/2000/svg"
								>
									<line
										x1="1"
										y1="6"
										x2="11"
										y2="6"
										stroke-width="2"
										stroke-linecap="round"
										stroke-linejoin="round"
										class="line horizontal"
									/>
									<line
										x1="6"
										y1="1"
										x2="6"
										y2="11"
										stroke-width="2"
										stroke-linecap="round"
										stroke-linejoin="round"
										class="line vertical"
									/>

									<!-- If you do not specify the stroke
       color the line will not be visible -->
								</svg>
							</div>
							Інвестиційні послуги
						</button>
					</h3>
					<div
						class="accordion-content"
						role="region"
						aria-labelledby="panel2-title"
						aria-hidden="true"
						id="panel2-content"
					>
						<div>
							<p class="accordion-content-text">
								Виконання разових заявок клієнтів на купівлю або продаж цінних
								паперів на підставі укладених договір доручення або договорів
								комісії.
							</p>
						</div>
					</div>
				</div>

				<div class="accordion-panel">
					<h3 id="panel3-title">
						<button
							class="accordion-trigger"
							aria-expanded="false"
							aria-controls="accordion3-content"
						>
							<div class="accordion-icon-wrapper">
								<svg
									class="accordion-icon"
									width="24"
									height="12"
									viewBox="0 0 12 12"
									fill="none"
									xmlns="http://www.w3.org/2000/svg"
								>
									<line
										x1="1"
										y1="6"
										x2="11"
										y2="6"
										stroke-width="2"
										stroke-linecap="round"
										stroke-linejoin="round"
										class="line horizontal"
									/>
									<line
										x1="6"
										y1="1"
										x2="6"
										y2="11"
										stroke-width="2"
										stroke-linecap="round"
										stroke-linejoin="round"
										class="line vertical"
									/>

									<!-- If you do not specify the stroke
       color the line will not be visible -->
								</svg>
							</div>
							Консультування
						</button>
					</h3>
					<div
						class="accordion-content"
						role="region"
						aria-labelledby="panel3-title"
						aria-hidden="true"
						class="accordion-content"
						id="panel3-content"
					>
						<div>
							<p class="accordion-content-text">
								Ми надаємо кваліфіковану консультацію з питань здійснення
								операцій із цінними паперами.
							</p>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>
