<section class="faq-global-section">
	<div class="container faq-global-container">
		<h3 class="superheader">Інформація</h3>
		<h1 class="section-header faq-global-header">Поширені запитання</h1>
		<h4 class="subheader faq-global-subheader">
			На цій сторінці зібрані найбільш поширені запитання і відповіді на них.
			Якщо не знайшли запитання, відповідь на яке вас цікавить, на сторінці
			<a
				class="text-link"
				href="/contact-us"
				title="Покликання на сторінку зворотнього зв'язку"
				>Зворотнього зв'язку</a
			>
			можна поставити його нам напряму
		</h4>
		<div class="accordion faq-global-accordion">
			<div class="accordion-panel">
				<h3 id="panel1-title">
					<button
						class="accordion-trigger"
						aria-expanded="true"
						aria-controls="accordion1-content"
					>
						<div class="accordion-icon-wrapper">
							<svg
								class="accordion-icon"
								width="24"
								height="12"
								viewBox="0 0 12 12"
								fill="none"
								xmlns="http://www.w3.org/2000/svg"
							>
								<line
									x1="1"
									y1="6"
									x2="11"
									y2="6"
									stroke-width="2"
									stroke-linecap="round"
									stroke-linejoin="round"
									class="line horizontal"
								/>
								<line
									x1="6"
									y1="1"
									x2="6"
									y2="11"
									stroke-width="2"
									stroke-linecap="round"
									stroke-linejoin="round"
									class="line vertical"
								/>

								<!-- If you do not specify the stroke
       color the line will not be visible -->
							</svg>
						</div>
						Навіщо потрібен брокер для інвестицій на фондовому ринку?
					</button>
				</h3>
				<div
					class="accordion-content"
					role="region"
					aria-labelledby="panel1-title"
					aria-hidden="false"
					id="panel1-content"
				>
					<div>
						<p class="accordion-content-text">
							Згідно діючого законодавства, як в Україні, так і на закордонних
							ринках, доступ на фондові біржі та операції з фінансовими
							інструментами можуть проводитися тільки через ліцензованих
							посередників юридичних осіб.
							<a
								class="text-link"
								href="/licenses"
								title="Посилання на сторінку наявних ліцензій БТС Брокер"
								>Переглянути ліцензії “БТС Брокер”</a
							>
						</p>
					</div>
				</div>
			</div>

			<div class="accordion-panel">
				<h3 id="panel2-title">
					<button
						class="accordion-trigger"
						aria-expanded="false"
						aria-controls="accordion1-content"
					>
						<div class="accordion-icon-wrapper">
							<svg
								class="accordion-icon"
								width="24"
								height="12"
								viewBox="0 0 12 12"
								fill="none"
								xmlns="http://www.w3.org/2000/svg"
							>
								<line
									x1="1"
									y1="6"
									x2="11"
									y2="6"
									stroke-width="2"
									stroke-linecap="round"
									stroke-linejoin="round"
									class="line horizontal"
								/>
								<line
									x1="6"
									y1="1"
									x2="6"
									y2="11"
									stroke-width="2"
									stroke-linecap="round"
									stroke-linejoin="round"
									class="line vertical"
								/>

								<!-- If you do not specify the stroke
       color the line will not be visible -->
							</svg>
						</div>
						Навіщо потрібна фондова біржа?
					</button>
				</h3>
				<div
					class="accordion-content"
					role="region"
					aria-labelledby="panel2-title"
					aria-hidden="true"
					id="panel2-content"
				>
					<div>
						<p class="accordion-content-text">
							Фондова біржа є центральним майданчиком з купівлі та продажу
							цінних паперів та центром максимальної ліквідності, на котрий
							брокерські компанії виводять своїх клієнтів - фізичних та
							юридичних осіб.
						</p>
						<p class="accordion-content-text">
							Діяльність фондової біржі, як і брокерської компанії - є
							ліцензована та регулюється окремим законом та вимогами до такого
							майданчика
						</p>
					</div>
				</div>
			</div>

			<div class="accordion-panel">
				<h3 id="panel3-title">
					<button
						class="accordion-trigger"
						aria-expanded="false"
						aria-controls="accordion1-content"
					>
						<div class="accordion-icon-wrapper">
							<svg
								class="accordion-icon"
								width="24"
								height="12"
								viewBox="0 0 12 12"
								fill="none"
								xmlns="http://www.w3.org/2000/svg"
							>
								<line
									x1="1"
									y1="6"
									x2="11"
									y2="6"
									stroke-width="2"
									stroke-linecap="round"
									stroke-linejoin="round"
									class="line horizontal"
								/>
								<line
									x1="6"
									y1="1"
									x2="6"
									y2="11"
									stroke-width="2"
									stroke-linecap="round"
									stroke-linejoin="round"
									class="line vertical"
								/>

								<!-- If you do not specify the stroke
       color the line will not be visible -->
							</svg>
						</div>
						Чи можу я робити угоди не на біржі?
					</button>
				</h3>
				<div
					class="accordion-content"
					role="region"
					aria-labelledby="panel3-title"
					aria-hidden="true"
					id="panel3-content"
				>
					<div>
						<p class="accordion-content-text">
							Так, звичайно, угоди можуть проводитися через брокера і на
							позабіржовому ринку з будь-якими фінансовими інструментами
							(акціями, облігаціями тощо). Але треба зважати на ціну та
							ліквідність таких фінансових інструментів на позабіржовому ринку
						</p>
					</div>
				</div>
			</div>

			<div class="accordion-panel">
				<h3 id="panel4-title">
					<button
						class="accordion-trigger"
						aria-expanded="false"
						aria-controls="accordion1-content"
					>
						<div class="accordion-icon-wrapper">
							<svg
								class="accordion-icon"
								width="24"
								height="12"
								viewBox="0 0 12 12"
								fill="none"
								xmlns="http://www.w3.org/2000/svg"
							>
								<line
									x1="1"
									y1="6"
									x2="11"
									y2="6"
									stroke-width="2"
									stroke-linecap="round"
									stroke-linejoin="round"
									class="line horizontal"
								/>
								<line
									x1="6"
									y1="1"
									x2="6"
									y2="11"
									stroke-width="2"
									stroke-linecap="round"
									stroke-linejoin="round"
									class="line vertical"
								/>

								<!-- If you do not specify the stroke
       color the line will not be visible -->
							</svg>
						</div>
						Чим відрізняється інвестування на фондовому ринку від FOREX?
					</button>
				</h3>
				<div
					class="accordion-content"
					role="region"
					aria-labelledby="panel4-title"
					aria-hidden="true"
					id="panel4-content"
				>
					<div>
						<p class="accordion-content-text">
							FOREX, в загальному розумінні, є позабіржовим валютним ринком. У
							країнах бувшого радянського союзу, включаючи Україну, доступ
							громадян до валютного ринку FOREX не регулюється державою, що
							сприяло появі значної кількості "сірих" схем та виникненню
							<a
								class="text-link"
								href="https://www.nssmc.gov.ua/activity/insha-diialnist/zakhyst-investoriv/#tab-2"
								target="_blank"
								rel="nofollow noreferrer noopener"
								title="Посилання на сторінку Національної Комісії з Цінних Паперів та Фондового Ринку зі списком сумнівних інвестиційних проектів"
								>SCAM-брокерів</a
							>
							без будь-яких банківських, брокерських ліцензій та
							відповідальності перед клієнтом.
						</p>
						<p class="accordion-content-text">
							Основні гравці на ринку FOREX - це банки та їх клієнти
							експортери/імпортери, котрим потрібно закуповувати валюту або
							хеджувати свої валютні ризики по бізнес- контрактам
						</p>
					</div>
				</div>
			</div>

			<div class="accordion-panel">
				<h3 id="panel5-title">
					<button
						class="accordion-trigger"
						aria-expanded="false"
						aria-controls="accordion1-content"
					>
						<div class="accordion-icon-wrapper">
							<svg
								class="accordion-icon"
								width="24"
								height="12"
								viewBox="0 0 12 12"
								fill="none"
								xmlns="http://www.w3.org/2000/svg"
							>
								<line
									x1="1"
									y1="6"
									x2="11"
									y2="6"
									stroke-width="2"
									stroke-linecap="round"
									stroke-linejoin="round"
									class="line horizontal"
								/>
								<line
									x1="6"
									y1="1"
									x2="6"
									y2="11"
									stroke-width="2"
									stroke-linecap="round"
									stroke-linejoin="round"
									class="line vertical"
								/>

								<!-- If you do not specify the stroke
       color the line will not be visible -->
							</svg>
						</div>
						Які технічні можливості на сьогодні є для інвестицій на фондовому
						ринку України?
					</button>
				</h3>
				<div
					class="accordion-content"
					role="region"
					aria-labelledby="panel5-title"
					aria-hidden="true"
					id="panel5-content"
				>
					<div>
						<p class="accordion-content-text">
							На сьогодні інвест-фірма “БТС Брокер” у співпраці зі своїм
							партнером ТОВ "Бонд.ЮА", для фізичних осіб дає можливість
							інвестувати в акції та облігації через інвестиційний мобільний
							додаток “Bond UA”
						</p>
					</div>
				</div>
			</div>

			<div class="accordion-panel">
				<h3 id="panel6-title">
					<button
						class="accordion-trigger"
						aria-expanded="false"
						aria-controls="accordion1-content"
					>
						<div class="accordion-icon-wrapper">
							<svg
								class="accordion-icon"
								width="24"
								height="12"
								viewBox="0 0 12 12"
								fill="none"
								xmlns="http://www.w3.org/2000/svg"
							>
								<line
									x1="1"
									y1="6"
									x2="11"
									y2="6"
									stroke-width="2"
									stroke-linecap="round"
									stroke-linejoin="round"
									class="line horizontal"
								/>
								<line
									x1="6"
									y1="1"
									x2="6"
									y2="11"
									stroke-width="2"
									stroke-linecap="round"
									stroke-linejoin="round"
									class="line vertical"
								/>

								<!-- If you do not specify the stroke
       color the line will not be visible -->
							</svg>
						</div>
						Чи потрібно мені приїздити у ваш офіс для відкриття брокерського
						рахунку?
					</button>
				</h3>
				<div
					class="accordion-content"
					role="region"
					aria-labelledby="panel6-title"
					aria-hidden="true"
					id="panel6-content"
				>
					<div>
						<p class="accordion-content-text">
							Ні - приїздити в офіс не обов'язково (хоча ми раді будемо бачити
							всіх наших клієнтів)! Реєстрація та відкриття рахунку проходять
							дистанційно, або за заявкою
							<a
								class="text-link"
								href="https://form.btc-broker.com/"
								title="Посилання на сторінку форми реєстрації"
								>на сторінці нашого сайту</a
							>, або завантаживши на мобільний телефон застосунок “Bond UA” (для
							<a
								class="text-link"
								href="https://play.google.com/store/apps/details?id=com.bond.bondua"
								target="_blank"
								rel="nofollow noreferrer noopener"
								title="Завантажити застосунок на Google Play"
								>Android</a
							>, для
							<a
								class="text-link"
								href="https://apps.apple.com/us/app/bond-ua/id1617621292"
								target="_blank"
								rel="nofollow noreferrer noopener"
								title="Завантажити застосунок на App Store"
								>Apple</a
							>) та пройшовши реєстрацію за допомогою нього
						</p>
					</div>
				</div>
			</div>

			<div class="accordion-panel">
				<h3 id="panel7-title">
					<button
						class="accordion-trigger"
						aria-expanded="false"
						aria-controls="accordion1-content"
					>
						<div class="accordion-icon-wrapper">
							<svg
								class="accordion-icon"
								width="24"
								height="12"
								viewBox="0 0 12 12"
								fill="none"
								xmlns="http://www.w3.org/2000/svg"
							>
								<line
									x1="1"
									y1="6"
									x2="11"
									y2="6"
									stroke-width="2"
									stroke-linecap="round"
									stroke-linejoin="round"
									class="line horizontal"
								/>
								<line
									x1="6"
									y1="1"
									x2="6"
									y2="11"
									stroke-width="2"
									stroke-linecap="round"
									stroke-linejoin="round"
									class="line vertical"
								/>

								<!-- If you do not specify the stroke
       color the line will not be visible -->
							</svg>
						</div>
						Як виглядає облігація внутрішньої державної позики, тобто як я можу
						зрозуміти, що я реально маю облігацію?
					</button>
				</h3>
				<div
					class="accordion-content"
					role="region"
					aria-labelledby="panel7-title"
					aria-hidden="true"
					id="panel7-content"
				>
					<div>
						<p class="accordion-content-text">
							Облігації, як і інші цінні папери існують в електронній формі.
							Тому, ваше право власності на облігації підтверджується
							відповідним документом – випискою з рахунку в цінних паперах.
							Такий документ надає ліцензована депозитарна установа, в якій
							зберігаються ваші цінні папери
						</p>
					</div>
				</div>
			</div>

			<div class="accordion-panel">
				<h3 id="panel8-title">
					<button
						class="accordion-trigger"
						aria-expanded="false"
						aria-controls="accordion2-content"
					>
						<div class="accordion-icon-wrapper">
							<svg
								class="accordion-icon"
								width="24"
								height="12"
								viewBox="0 0 12 12"
								fill="none"
								xmlns="http://www.w3.org/2000/svg"
							>
								<line
									x1="1"
									y1="6"
									x2="11"
									y2="6"
									stroke-width="2"
									stroke-linecap="round"
									stroke-linejoin="round"
									class="line horizontal"
								/>
								<line
									x1="6"
									y1="1"
									x2="6"
									y2="11"
									stroke-width="2"
									stroke-linecap="round"
									stroke-linejoin="round"
									class="line vertical"
								/>

								<!-- If you do not specify the stroke
       color the line will not be visible -->
							</svg>
						</div>
						Які реальні гарантії захисту ОВДП, якщо рахунок в банку чи у брокера
						заблокують?
					</button>
				</h3>
				<div
					class="accordion-content"
					role="region"
					aria-labelledby="panel8-title"
					aria-hidden="true"
					id="panel8-content"
				>
					<div>
						<p class="accordion-content-text">
							Всі цінні папери зберігаються окремо від активів брокера та не
							підлягають блокуванню за зобов’язаннями брокера. У разі блокування
							рахунку брокера, права власності на цінні папери клієнтів
							залишаються недоторканими. Клієнту буде надано можливість
							перевести свої до іншої депозитарної установи
						</p>
					</div>
				</div>
			</div>

			<div class="accordion-panel">
				<h3 id="panel9-title">
					<button
						class="accordion-trigger"
						aria-expanded="false"
						aria-controls="accordion3-content"
					>
						<div class="accordion-icon-wrapper">
							<svg
								class="accordion-icon"
								width="24"
								height="12"
								viewBox="0 0 12 12"
								fill="none"
								xmlns="http://www.w3.org/2000/svg"
							>
								<line
									x1="1"
									y1="6"
									x2="11"
									y2="6"
									stroke-width="2"
									stroke-linecap="round"
									stroke-linejoin="round"
									class="line horizontal"
								/>
								<line
									x1="6"
									y1="1"
									x2="6"
									y2="11"
									stroke-width="2"
									stroke-linecap="round"
									stroke-linejoin="round"
									class="line vertical"
								/>

								<!-- If you do not specify the stroke
       color the line will not be visible -->
							</svg>
						</div>
						В чому реальна різниця Брокера та Банка первинного дилера?
					</button>
				</h3>
				<div
					class="accordion-content"
					role="region"
					aria-labelledby="panel9-title"
					aria-hidden="true"
					class="accordion-content"
					id="panel9-content"
				>
					<div>
						<p class="accordion-content-text">
							БТС Брокер купує та продає ОВДП на вторинному ринку, ми не маємо
							прямого доступу до аукціонів які кожного тижня проводить Мінфін.
							На ці аукціони мають доступ лише банки які називаються
							<a
								class="text-link"
								href="https://www.mof.gov.ua/uk/perelik-pervinnih-dileriv"
								target="_blank"
								rel="nofollow noreferrer noopener"
								title="Перелік первинних дилерів на сайті міністерства фінансів України"
								>первинними дилерами</a
							>. Ми також можемо приймати участь в аукціонах, але не напряму, а
							через такий банк
						</p>
					</div>
				</div>
			</div>

			<div class="accordion-panel">
				<h3 id="panel10-title">
					<button
						class="accordion-trigger"
						aria-expanded="false"
						aria-controls="accordion4-content"
					>
						<div class="accordion-icon-wrapper">
							<svg
								class="accordion-icon"
								width="24"
								height="12"
								viewBox="0 0 12 12"
								fill="none"
								xmlns="http://www.w3.org/2000/svg"
							>
								<line
									x1="1"
									y1="6"
									x2="11"
									y2="6"
									stroke-width="2"
									stroke-linecap="round"
									stroke-linejoin="round"
									class="line horizontal"
								/>
								<line
									x1="6"
									y1="1"
									x2="6"
									y2="11"
									stroke-width="2"
									stroke-linecap="round"
									stroke-linejoin="round"
									class="line vertical"
								/>

								<!-- If you do not specify the stroke
       color the line will not be visible -->
							</svg>
						</div>
						В чому перевага/недолік звернення саме до брокера, а не до банку?
					</button>
				</h3>
				<div
					class="accordion-content"
					role="region"
					aria-labelledby="panel10-title"
					aria-hidden="true"
					class="accordion-content"
					id="panel10-content"
				>
					<div>
						<p class="accordion-content-text">
							По суті, вам треба просто порівняти комісії за проведення угоди у
							брокера та у банку. А також дохідності, які вони пропонують. І
							тоді ви для себе побачите, який варіант є більш вигідним. Є лише
							один важливий нюанс – якщо ви збираєтесь купувати через банк, то,
							зазвичай, у вас має бути відкритий банківський рахунок в цьому
							банку, а брокери можуть приймати платежі майже від будь-якого
							банку
						</p>
					</div>
				</div>
			</div>

			<div class="accordion-panel">
				<h3 id="panel11-title">
					<button
						class="accordion-trigger"
						aria-expanded="false"
						aria-controls="accordion5-content"
					>
						<div class="accordion-icon-wrapper">
							<svg
								class="accordion-icon"
								width="24"
								height="12"
								viewBox="0 0 12 12"
								fill="none"
								xmlns="http://www.w3.org/2000/svg"
							>
								<line
									x1="1"
									y1="6"
									x2="11"
									y2="6"
									stroke-width="2"
									stroke-linecap="round"
									stroke-linejoin="round"
									class="line horizontal"
								/>
								<line
									x1="6"
									y1="1"
									x2="6"
									y2="11"
									stroke-width="2"
									stroke-linecap="round"
									stroke-linejoin="round"
									class="line vertical"
								/>

								<!-- If you do not specify the stroke
       color the line will not be visible -->
							</svg>
						</div>
						Чи існує можливість проміжного продажу облігацій перед строком
						погашення та які на це існують обмеження? Яка процедура продажу ОВДП
						та кому їх продають чи повертають?
					</button>
				</h3>
				<div
					class="accordion-content"
					role="region"
					aria-labelledby="panel11-title"
					aria-hidden="true"
					class="accordion-content"
					id="panel11-content"
				>
					<div>
						<p class="accordion-content-text">
							Так, облігації можна продати до погашення. Для цього просто треба
							знайти того хто їх купить. В такому випадку обмеження можуть бути
							лише зі сторони покупця. Наприклад, якщо ви продаєте дуже велику
							кількість облігацій, а покупець буде готовий придбати лише їх
							частину
						</p>
					</div>
				</div>
			</div>

			<div class="accordion-panel">
				<h3 id="panel12-title">
					<button
						class="accordion-trigger"
						aria-expanded="false"
						aria-controls="accordion6-content"
					>
						<div class="accordion-icon-wrapper">
							<svg
								class="accordion-icon"
								width="24"
								height="12"
								viewBox="0 0 12 12"
								fill="none"
								xmlns="http://www.w3.org/2000/svg"
							>
								<line
									x1="1"
									y1="6"
									x2="11"
									y2="6"
									stroke-width="2"
									stroke-linecap="round"
									stroke-linejoin="round"
									class="line horizontal"
								/>
								<line
									x1="6"
									y1="1"
									x2="6"
									y2="11"
									stroke-width="2"
									stroke-linecap="round"
									stroke-linejoin="round"
									class="line vertical"
								/>

								<!-- If you do not specify the stroke
       color the line will not be visible -->
							</svg>
						</div>
						На які строки видають ОВДП?
					</button>
				</h3>
				<div
					class="accordion-content"
					role="region"
					aria-labelledby="panel12-title"
					aria-hidden="true"
					class="accordion-content"
					id="panel12-content"
				>
					<div>
						<p class="accordion-content-text">
							Кожна серія ОВДП має свою дату погашення. Зараз на ринку в
							основному торгуються ОВДП зі строком погашення 2023-2027 рік. Хоча
							держава може випустити облігації з погашенням, наприклад, через 20
							років
						</p>
					</div>
				</div>
			</div>

			<div class="accordion-panel">
				<h3 id="panel13-title">
					<button
						class="accordion-trigger"
						aria-expanded="false"
						aria-controls="accordion7-content"
					>
						<div class="accordion-icon-wrapper">
							<svg
								class="accordion-icon"
								width="24"
								height="12"
								viewBox="0 0 12 12"
								fill="none"
								xmlns="http://www.w3.org/2000/svg"
							>
								<line
									x1="1"
									y1="6"
									x2="11"
									y2="6"
									stroke-width="2"
									stroke-linecap="round"
									stroke-linejoin="round"
									class="line horizontal"
								/>
								<line
									x1="6"
									y1="1"
									x2="6"
									y2="11"
									stroke-width="2"
									stroke-linecap="round"
									stroke-linejoin="round"
									class="line vertical"
								/>

								<!-- If you do not specify the stroke
       color the line will not be visible -->
							</svg>
						</div>
						Які податки сплачуються від інвестицій в облігації внутрішньої
						державної позики?
					</button>
				</h3>
				<div
					class="accordion-content"
					role="region"
					aria-labelledby="panel13-title"
					aria-hidden="true"
					class="accordion-content"
					id="panel13-content"
				>
					<div>
						<p class="accordion-content-text">
							На даний момент, згідно діючого законодавства, прибутки фізичних
							осіб від інвестицій в ОВДП - не оподатковуються.
						</p>
						<p class="accordion-content-text">
							Тобто Ви не сплачуєте ніяких податків з доходів отриманих, як від
							"купівлі-продажу" ОВДП, так і від прибутку отриманого по
							виплаченим купонам (відсоткам) від таких облігацій!
						</p>
					</div>
				</div>
			</div>

			<div class="accordion-panel">
				<h3 id="panel14-title">
					<button
						class="accordion-trigger"
						aria-expanded="false"
						aria-controls="accordion8-content"
					>
						<div class="accordion-icon-wrapper">
							<svg
								class="accordion-icon"
								width="24"
								height="12"
								viewBox="0 0 12 12"
								fill="none"
								xmlns="http://www.w3.org/2000/svg"
							>
								<line
									x1="1"
									y1="6"
									x2="11"
									y2="6"
									stroke-width="2"
									stroke-linecap="round"
									stroke-linejoin="round"
									class="line horizontal"
								/>
								<line
									x1="6"
									y1="1"
									x2="6"
									y2="11"
									stroke-width="2"
									stroke-linecap="round"
									stroke-linejoin="round"
									class="line vertical"
								/>

								<!-- If you do not specify the stroke
       color the line will not be visible -->
							</svg>
						</div>
						Які документи необхідні для купівлі ОВДП в об'ємі більшому за 100
						тисяч грн наприклад
					</button>
				</h3>
				<div
					class="accordion-content"
					role="region"
					aria-labelledby="panel14-title"
					aria-hidden="true"
					class="accordion-content"
					id="panel14-content"
				>
					<div>
						<p class="accordion-content-text">
							Стандартний набір документів для відкриття рахунку в цінних
							паперах: паспорт, РНОКПП тощо. Але якщо сума буде досить великою –
							у вас обов’язково запросять документи, що підтверджують походження
							ваших коштів
						</p>
					</div>
				</div>
			</div>

			<div class="accordion-panel">
				<h3 id="panel15-title">
					<button
						class="accordion-trigger"
						aria-expanded="false"
						aria-controls="accordion9-content"
					>
						<div class="accordion-icon-wrapper">
							<svg
								class="accordion-icon"
								width="24"
								height="12"
								viewBox="0 0 12 12"
								fill="none"
								xmlns="http://www.w3.org/2000/svg"
							>
								<line
									x1="1"
									y1="6"
									x2="11"
									y2="6"
									stroke-width="2"
									stroke-linecap="round"
									stroke-linejoin="round"
									class="line horizontal"
								/>
								<line
									x1="6"
									y1="1"
									x2="6"
									y2="11"
									stroke-width="2"
									stroke-linecap="round"
									stroke-linejoin="round"
									class="line vertical"
								/>

								<!-- If you do not specify the stroke
       color the line will not be visible -->
							</svg>
						</div>
						Як довго зазвичай займає процес придбання облігацій внутрішньої
						державної позики (ОВДП) через брокера?
					</button>
				</h3>
				<div
					class="accordion-content"
					role="region"
					aria-labelledby="panel15-title"
					aria-hidden="true"
					class="accordion-content"
					id="panel15-content"
				>
					<div>
						<div class="accordion-content-text">
							<p>Тут є багато факторів:</p>
							<ul class="faq-global-accordion-list">
								<li class="faq-global-accordion-item">
									<div class="list-icon-wrapper">
										<svg
											class="faq-global-accordion-icon"
											width="24"
											height="24"
											fill="none"
										>
											<use
												href="/src/images/svg/symbol-defs.svg#icon-circle"
											></use>
										</svg>
									</div>
									<p>Чи відкритий у вас уже рахунок у брокера</p>
								</li>
								<li class="faq-global-accordion-item">
									<div class="list-icon-wrapper">
										<svg
											class="faq-global-accordion-icon"
											width="24"
											height="24"
											fill="none"
										>
											<use
												href="/src/images/svg/symbol-defs.svg#icon-circle"
											></use>
										</svg>
									</div>
									<p>Чи ви вже відправляли кошти на брокерський рахунок</p>
								</li>
								<li class="faq-global-accordion-item">
									<div class="list-icon-wrapper">
										<svg
											class="faq-global-accordion-icon"
											width="24"
											height="24"
											fill="none"
										>
											<use
												href="/src/images/svg/symbol-defs.svg#icon-circle"
											></use>
										</svg>
									</div>
									<p>На яку суму ви купуєте</p>
								</li>
								<li class="faq-global-accordion-item">
									<div class="list-icon-wrapper">
										<svg
											class="faq-global-accordion-icon"
											width="24"
											height="24"
											fill="none"
										>
											<use
												href="/src/images/svg/symbol-defs.svg#icon-circle"
											></use>
										</svg>
									</div>
									<p>
										В який спосіб ви купуєте (угода з паперовими документами або
										через мобільний застосунок тощо)
									</p>
								</li>
								<li class="faq-global-accordion-item">
									<div class="list-icon-wrapper">
										<svg
											class="faq-global-accordion-icon"
											width="24"
											height="24"
											fill="none"
										>
											<use
												href="/src/images/svg/symbol-defs.svg#icon-circle"
											></use>
										</svg>
									</div>
									<p>В який день і час ви купуєте</p>
								</li>
								<li class="faq-global-accordion-item">
									<div class="list-icon-wrapper">
										<svg
											class="faq-global-accordion-icon"
											width="24"
											height="24"
											fill="none"
										>
											<use
												href="/src/images/svg/symbol-defs.svg#icon-circle"
											></use>
										</svg>
									</div>
									<p>Яку саме серію ОВДП ви купуєте</p>
								</li>
							</ul>
							<p>
								В залежності від комбінації цих факторів, процес може тривати
								від декількох хвилин до декількох днів
							</p>
						</div>
					</div>
				</div>
			</div>

			<div class="accordion-panel">
				<h3 id="panel16-title">
					<button
						class="accordion-trigger"
						aria-expanded="false"
						aria-controls="accordion10-content"
					>
						<div class="accordion-icon-wrapper">
							<svg
								class="accordion-icon"
								width="24"
								height="12"
								viewBox="0 0 12 12"
								fill="none"
								xmlns="http://www.w3.org/2000/svg"
							>
								<line
									x1="1"
									y1="6"
									x2="11"
									y2="6"
									stroke-width="2"
									stroke-linecap="round"
									stroke-linejoin="round"
									class="line horizontal"
								/>
								<line
									x1="6"
									y1="1"
									x2="6"
									y2="11"
									stroke-width="2"
									stroke-linecap="round"
									stroke-linejoin="round"
									class="line vertical"
								/>

								<!-- If you do not specify the stroke
       color the line will not be visible -->
							</svg>
						</div>
						Як здійснюється комунікація з брокером щодо змін у власницькій
						інформації, адресі чи банківських реквізитах?
					</button>
				</h3>
				<div
					class="accordion-content"
					role="region"
					aria-labelledby="panel16-title"
					aria-hidden="true"
					class="accordion-content"
					id="panel16-content"
				>
					<div>
						<p class="accordion-content-text">
							Документи, що підтверджують зміни щодо реквізитів власника
							надаються будь яким зручним способом: особисто, кур’єром, поштою,
							на e-mail або засобами електронного документообігу
						</p>
					</div>
				</div>
			</div>

			<div class="accordion-panel">
				<h3 id="panel17-title">
					<button
						class="accordion-trigger"
						aria-expanded="false"
						aria-controls="accordion11-content"
					>
						<div class="accordion-icon-wrapper">
							<svg
								class="accordion-icon"
								width="24"
								height="12"
								viewBox="0 0 12 12"
								fill="none"
								xmlns="http://www.w3.org/2000/svg"
							>
								<line
									x1="1"
									y1="6"
									x2="11"
									y2="6"
									stroke-width="2"
									stroke-linecap="round"
									stroke-linejoin="round"
									class="line horizontal"
								/>
								<line
									x1="6"
									y1="1"
									x2="6"
									y2="11"
									stroke-width="2"
									stroke-linecap="round"
									stroke-linejoin="round"
									class="line vertical"
								/>

								<!-- If you do not specify the stroke
       color the line will not be visible -->
							</svg>
						</div>
						Як отримати детальну інформацію про стан своїх облігацій?
					</button>
				</h3>
				<div
					class="accordion-content"
					role="region"
					aria-labelledby="panel17-title"
					aria-hidden="true"
					class="accordion-content"
					id="panel17-content"
				>
					<div>
						<p class="accordion-content-text">
							Ви завжди можете запросити виписку про стан рахунку в цінних
							паперах, в якій ви знайдете весь перелік ваших облігацій, які
							зберігаються у відповідній депозитарній установі
						</p>
					</div>
				</div>
			</div>

			<div class="accordion-panel">
				<h3 id="panel18-title">
					<button
						class="accordion-trigger"
						aria-expanded="false"
						aria-controls="accordion12-content"
					>
						<div class="accordion-icon-wrapper">
							<svg
								class="accordion-icon"
								width="24"
								height="12"
								viewBox="0 0 12 12"
								fill="none"
								xmlns="http://www.w3.org/2000/svg"
							>
								<line
									x1="1"
									y1="6"
									x2="11"
									y2="6"
									stroke-width="2"
									stroke-linecap="round"
									stroke-linejoin="round"
									class="line horizontal"
								/>
								<line
									x1="6"
									y1="1"
									x2="6"
									y2="11"
									stroke-width="2"
									stroke-linecap="round"
									stroke-linejoin="round"
									class="line vertical"
								/>

								<!-- If you do not specify the stroke
       color the line will not be visible -->
							</svg>
						</div>
						Чи є можливість отримання письмових повідомлень про важливі зміни
						або події, пов'язані з облігаціями?
					</button>
				</h3>
				<div
					class="accordion-content"
					role="region"
					aria-labelledby="panel18-title"
					aria-hidden="true"
					class="accordion-content"
					id="panel18-content"
				>
					<div>
						<p class="accordion-content-text">
							Так, відповідні повідомлення буде надсилати вам депозитарна
							установа. Зазвичай, це повідомлення на електронну пошту
						</p>
					</div>
				</div>
			</div>

			<div class="accordion-panel">
				<h3 id="panel19-title">
					<button
						class="accordion-trigger"
						aria-expanded="false"
						aria-controls="accordion13-content"
					>
						<div class="accordion-icon-wrapper">
							<svg
								class="accordion-icon"
								width="24"
								height="12"
								viewBox="0 0 12 12"
								fill="none"
								xmlns="http://www.w3.org/2000/svg"
							>
								<line
									x1="1"
									y1="6"
									x2="11"
									y2="6"
									stroke-width="2"
									stroke-linecap="round"
									stroke-linejoin="round"
									class="line horizontal"
								/>
								<line
									x1="6"
									y1="1"
									x2="6"
									y2="11"
									stroke-width="2"
									stroke-linecap="round"
									stroke-linejoin="round"
									class="line vertical"
								/>

								<!-- If you do not specify the stroke
       color the line will not be visible -->
							</svg>
						</div>
						Чи може облігацією володіти декілька осіб?
					</button>
				</h3>
				<div
					class="accordion-content"
					role="region"
					aria-labelledby="panel19-title"
					aria-hidden="true"
					class="accordion-content"
					id="panel19-content"
				>
					<div>
						<p class="accordion-content-text">
							Однією облігацією можно володіти хоч у десятьох. Є поняття
							спільної власності. То екзотика але таке може трапитися,
							наприклад, при розділі майна або при спадщині
						</p>
					</div>
				</div>
			</div>

			<div class="accordion-panel">
				<h3 id="panel20-title">
					<button
						class="accordion-trigger"
						aria-expanded="false"
						aria-controls="accordion14-content"
					>
						<div class="accordion-icon-wrapper">
							<svg
								class="accordion-icon"
								width="24"
								height="12"
								viewBox="0 0 12 12"
								fill="none"
								xmlns="http://www.w3.org/2000/svg"
							>
								<line
									x1="1"
									y1="6"
									x2="11"
									y2="6"
									stroke-width="2"
									stroke-linecap="round"
									stroke-linejoin="round"
									class="line horizontal"
								/>
								<line
									x1="6"
									y1="1"
									x2="6"
									y2="11"
									stroke-width="2"
									stroke-linecap="round"
									stroke-linejoin="round"
									class="line vertical"
								/>

								<!-- If you do not specify the stroke
       color the line will not be visible -->
							</svg>
						</div>
						Яка мінімальна сума ОВДП у вашій установі?
					</button>
				</h3>
				<div
					class="accordion-content"
					role="region"
					aria-labelledby="panel20-title"
					aria-hidden="true"
					class="accordion-content"
					id="panel20-content"
				>
					<div>
						<p class="accordion-content-text">
							В нашій установі ви може купувати облігації, починаючи від однієї
							штуки
						</p>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>
