<section class="faq-section">
	<div class="container faq-container">
		<h3 class="superheader">Інформація</h3>
		<h2 class="section-header faq-section-header">Поширені запитання</h2>
		<div class="accordion faq-accordion">
			<div class="accordion-panel">
				<h3 id="panel1-title">
					<button
						class="accordion-trigger"
						aria-expanded="true"
						aria-controls="accordion1-content"
					>
						<div class="accordion-icon-wrapper">
							<svg
								class="accordion-icon"
								width="24"
								height="12"
								viewBox="0 0 12 12"
								fill="none"
								xmlns="http://www.w3.org/2000/svg"
							>
								<line
									x1="1"
									y1="6"
									x2="11"
									y2="6"
									stroke-width="2"
									stroke-linecap="round"
									stroke-linejoin="round"
									class="line horizontal"
								/>
								<line
									x1="6"
									y1="1"
									x2="6"
									y2="11"
									stroke-width="2"
									stroke-linecap="round"
									stroke-linejoin="round"
									class="line vertical"
								/>

								<!-- If you do not specify the stroke
       color the line will not be visible -->
							</svg>
						</div>
						Як виглядає облігація внутрішньої державної позики, тобто як я можу
						зрозуміти, що я реально маю облігацію?
					</button>
				</h3>
				<div
					class="accordion-content"
					role="region"
					aria-labelledby="panel1-title"
					aria-hidden="false"
					id="panel1-content"
				>
					<div>
						<p class="accordion-content-text">
							Облігації, як і інші цінні папери існують в електронній формі.
							Тому, ваше право власності на облігації підтверджується
							відповідним документом – випискою з рахунку в цінних паперах.
							Такий документ надає ліцензована депозитарна установа, в якій
							зберігаються ваші цінні папери
						</p>
					</div>
				</div>
			</div>

			<div class="accordion-panel">
				<h3 id="panel2-title">
					<button
						class="accordion-trigger"
						aria-expanded="false"
						aria-controls="accordion2-content"
					>
						<div class="accordion-icon-wrapper">
							<svg
								class="accordion-icon"
								width="24"
								height="12"
								viewBox="0 0 12 12"
								fill="none"
								xmlns="http://www.w3.org/2000/svg"
							>
								<line
									x1="1"
									y1="6"
									x2="11"
									y2="6"
									stroke-width="2"
									stroke-linecap="round"
									stroke-linejoin="round"
									class="line horizontal"
								/>
								<line
									x1="6"
									y1="1"
									x2="6"
									y2="11"
									stroke-width="2"
									stroke-linecap="round"
									stroke-linejoin="round"
									class="line vertical"
								/>

								<!-- If you do not specify the stroke
       color the line will not be visible -->
							</svg>
						</div>
						Які реальні гарантії захисту ОВДП, якщо рахунок в банку чи у брокера
						заблокують?
					</button>
				</h3>
				<div
					class="accordion-content"
					role="region"
					aria-labelledby="panel2-title"
					aria-hidden="true"
					id="panel2-content"
				>
					<div>
						<p class="accordion-content-text">
							Всі цінні папери зберігаються окремо від активів брокера та не
							підлягають блокуванню за зобов’язаннями брокера. У разі блокування
							рахунку брокера, права власності на цінні папери клієнтів
							залишаються недоторканими. Клієнту буде надано можливість
							перевести свої до іншої депозитарної установи
						</p>
					</div>
				</div>
			</div>

			<div class="accordion-panel">
				<h3 id="panel3-title">
					<button
						class="accordion-trigger"
						aria-expanded="false"
						aria-controls="accordion3-content"
					>
						<div class="accordion-icon-wrapper">
							<svg
								class="accordion-icon"
								width="24"
								height="12"
								viewBox="0 0 12 12"
								fill="none"
								xmlns="http://www.w3.org/2000/svg"
							>
								<line
									x1="1"
									y1="6"
									x2="11"
									y2="6"
									stroke-width="2"
									stroke-linecap="round"
									stroke-linejoin="round"
									class="line horizontal"
								/>
								<line
									x1="6"
									y1="1"
									x2="6"
									y2="11"
									stroke-width="2"
									stroke-linecap="round"
									stroke-linejoin="round"
									class="line vertical"
								/>

								<!-- If you do not specify the stroke
       color the line will not be visible -->
							</svg>
						</div>
						В чому реальна різниця Брокера та Банка первинного дилера?
					</button>
				</h3>
				<div
					class="accordion-content"
					role="region"
					aria-labelledby="panel3-title"
					aria-hidden="true"
					class="accordion-content"
					id="panel3-content"
				>
					<div>
						<p class="accordion-content-text">
							БТС Брокер купує та продає ОВДП на вторинному ринку, ми не маємо
							прямого доступу до аукціонів які кожного тижня проводить Мінфін.
							На ці аукціони мають доступ лише банки які називаються
							<a
								class="text-link"
								href="https://www.mof.gov.ua/uk/perelik-pervinnih-dileriv"
								target="_blank"
								rel="nofollow noreferrer noopener"
								title="Перелік первинних дилерів на сайті міністерства фінансів України"
								>первинними дилерами</a
							>. Ми також можемо приймати участь в аукціонах, але не напряму, а
							через такий банк
						</p>
					</div>
				</div>
			</div>

			<div class="accordion-panel">
				<h3 id="panel4-title">
					<button
						class="accordion-trigger"
						aria-expanded="false"
						aria-controls="accordion4-content"
					>
						<div class="accordion-icon-wrapper">
							<svg
								class="accordion-icon"
								width="24"
								height="12"
								viewBox="0 0 12 12"
								fill="none"
								xmlns="http://www.w3.org/2000/svg"
							>
								<line
									x1="1"
									y1="6"
									x2="11"
									y2="6"
									stroke-width="2"
									stroke-linecap="round"
									stroke-linejoin="round"
									class="line horizontal"
								/>
								<line
									x1="6"
									y1="1"
									x2="6"
									y2="11"
									stroke-width="2"
									stroke-linecap="round"
									stroke-linejoin="round"
									class="line vertical"
								/>

								<!-- If you do not specify the stroke
       color the line will not be visible -->
							</svg>
						</div>
						В чому перевага/недолік звернення саме до брокера, а не до банку?
					</button>
				</h3>
				<div
					class="accordion-content"
					role="region"
					aria-labelledby="panel4-title"
					aria-hidden="true"
					class="accordion-content"
					id="panel4-content"
				>
					<div>
						<p class="accordion-content-text">
							По суті, вам треба просто порівняти комісії за проведення угоди у
							брокера та у банку. А також дохідності, які вони пропонують. І
							тоді ви для себе побачите, який варіант є більш вигідним. Є лише
							один важливий нюанс – якщо ви збираєтесь купувати через банк, то,
							зазвичай, у вас має бути відкритий банківський рахунок в цьому
							банку, а брокери можуть приймати платежі майже від будь-якого
							банку
						</p>
					</div>
				</div>
			</div>

			<div class="accordion-panel">
				<h3 id="panel5-title">
					<button
						class="accordion-trigger"
						aria-expanded="false"
						aria-controls="accordion5-content"
					>
						<div class="accordion-icon-wrapper">
							<svg
								class="accordion-icon"
								width="24"
								height="12"
								viewBox="0 0 12 12"
								fill="none"
								xmlns="http://www.w3.org/2000/svg"
							>
								<line
									x1="1"
									y1="6"
									x2="11"
									y2="6"
									stroke-width="2"
									stroke-linecap="round"
									stroke-linejoin="round"
									class="line horizontal"
								/>
								<line
									x1="6"
									y1="1"
									x2="6"
									y2="11"
									stroke-width="2"
									stroke-linecap="round"
									stroke-linejoin="round"
									class="line vertical"
								/>

								<!-- If you do not specify the stroke
       color the line will not be visible -->
							</svg>
						</div>
						Чи існує можливість проміжного продажу облігацій перед строком
						погашення та які на це існують обмеження? Яка процедура продажу ОВДП
						та кому їх продають чи повертають?
					</button>
				</h3>
				<div
					class="accordion-content"
					role="region"
					aria-labelledby="panel5-title"
					aria-hidden="true"
					class="accordion-content"
					id="panel5-content"
				>
					<div>
						<p class="accordion-content-text">
							Так, облігації можна продати до погашення. Для цього просто треба
							знайти того хто їх купить. В такому випадку обмеження можуть бути
							лише зі сторони покупця. Наприклад, якщо ви продаєте дуже велику
							кількість облігацій, а покупець буде готовий придбати лише їх
							частину
						</p>
					</div>
				</div>
			</div>

			<div class="accordion-panel">
				<h3 id="panel6-title">
					<button
						class="accordion-trigger"
						aria-expanded="false"
						aria-controls="accordion6-content"
					>
						<div class="accordion-icon-wrapper">
							<svg
								class="accordion-icon"
								width="24"
								height="12"
								viewBox="0 0 12 12"
								fill="none"
								xmlns="http://www.w3.org/2000/svg"
							>
								<line
									x1="1"
									y1="6"
									x2="11"
									y2="6"
									stroke-width="2"
									stroke-linecap="round"
									stroke-linejoin="round"
									class="line horizontal"
								/>
								<line
									x1="6"
									y1="1"
									x2="6"
									y2="11"
									stroke-width="2"
									stroke-linecap="round"
									stroke-linejoin="round"
									class="line vertical"
								/>

								<!-- If you do not specify the stroke
       color the line will not be visible -->
							</svg>
						</div>
						На які строки видають ОВДП?
					</button>
				</h3>
				<div
					class="accordion-content"
					role="region"
					aria-labelledby="panel6-title"
					aria-hidden="true"
					class="accordion-content"
					id="panel6-content"
				>
					<div>
						<p class="accordion-content-text">
							Кожна серія ОВДП має свою дату погашення. Зараз на ринку в
							основному торгуються ОВДП зі строком погашення 2023-2027 рік. Хоча
							держава може випустити облігації з погашенням, наприклад, через 20
							років
						</p>
					</div>
				</div>
			</div>
		</div>
		<a href="/faq" class="button-secondary faq-button"
			>Всі запитання
			<svg class="button-secondary-icon" width="24" height="24">
				<use
					href="/src/images/svg/symbol-defs.svg#icon-secondary-button-arrow"
				></use>
			</svg>
		</a>
	</div>
</section>
