<footer class="footer">
	<div class="container footer-container">
		<div class="footer-navigation">
			<a href="/"
				><img
					src="/src/images/BTC_broker_logo_white.png"
					alt="BTC Broker logo"
					width="220"
			/></a>
			<address class="address">
				<ul class="address-list">
					<li class="address-item address-item-contacts">
						<div class="footer-address-icon-wrapper">
							<svg width="24" height="24" fill="none">
								<use href="/src/images/svg/symbol-defs.svg#icon-phone"></use>
							</svg>
						</div>
						<div class="contacts-us-wrapper">
							<a href="tel:+380947102606">+38 094 710 26 06</a>
							<a href="mailto:info@btc-broker.com">info@btc-broker.com</a>
						</div>
					</li>
					<li class="address-item address-item-address">
						<div class="footer-address-icon-wrapper">
							<svg width="24" height="24" fill="none">
								<use
									href="/src/images/svg/symbol-defs.svg#icon-location-tag"
								></use>
							</svg>
						</div>
						<a
							class="address-link"
							href="https://maps.app.goo.gl/gY3LxxQUisAjiq5d8"
							target="_blank"
							rel="nofollow noreferrer noopener"
							title="Адреса офіса БТС брокер на мапі гугл мапс"
						>
							Україна, 04070, місто Київ, вул.Іллінська, будинок 8</a
						>
					</li>
				</ul>
			</address>
		</div>
		<div class="footer-license-and-menu">
			<div class="footer-license">
				<div class="footer-btc-broker">
					<p class="footer-btc-broker-title">ТОВ БТС Брокер</p>
					<p>ЄДРПОУ 37686943</p>
				</div>
				<p>
					Інвестиційна фірма, що проводить діяльність з торгівлі фінансовими
					інструментами
				</p>
			</div>
			<div class="footer-menu">
				<div class="footer-menu-item">
					<button type="button" class="footer-menu-trigger">
						Дізнайся більше
						<svg class="footer-menu-icon" width="24" height="24" fill="none">
							<use href="/src/images/svg/symbol-defs.svg#icon-arrow-down"></use>
						</svg>
					</button>
					<div class="footer-menu-submenu-wrapper">
						<ul class="footer-menu-submenu-list">
							<li class="footer-menu-submenu-item">
								<a href="/how-to-purchase-bonds">Як придбати ОВДП в Україні?</a>
							</li>
							<li class="footer-menu-submenu-item">
								<a href="/how-to-purchase-apple-stocks"
									>Як і де купити акції APPLE?</a
								>
							</li>
							<li class="footer-menu-submenu-item">
								<a href="/how-to-invest-to-etf"
									>Як інвестувати в закордонні біржові фонди – ETF</a
								>
							</li>
						</ul>
					</div>
				</div>
				<div class="footer-menu-item">
					<button type="button" class="footer-menu-trigger">
						Продукти
						<svg class="footer-menu-icon" width="24" height="24" fill="none">
							<use href="/src/images/svg/symbol-defs.svg#icon-arrow-down"></use>
						</svg>
					</button>
					<div class="footer-menu-submenu-wrapper">
						<ul class="footer-menu-submenu-list">
							<li class="footer-menu-submenu-item">
								<a href="/brokerage-service">Інвестиційні послуги</a>
							</li>
							<li class="footer-menu-submenu-item">
								<a href="/depositary">Депозитарні послуги</a>
							</li>
							<li class="footer-menu-submenu-item">
								<a
									href="https://bond.ua/"
									target="_blank"
									rel="noopener noreferrer nofollow"
									>Застосунок BOND.UA</a
								>
							</li>
							<li class="footer-menu-submenu-item">
								<a href="/diia-military-bonds">ДІЯ військові облігації</a>
							</li>
						</ul>
					</div>
				</div>
				<div class="footer-menu-item">
					<button type="button" class="footer-menu-trigger">
						Підтримка
						<svg class="footer-menu-icon" width="24" height="24" fill="none">
							<use href="/src/images/svg/symbol-defs.svg#icon-arrow-down"></use>
						</svg>
					</button>
					<div class="footer-menu-submenu-wrapper">
						<ul class="footer-menu-submenu-list">
							<li class="footer-menu-submenu-item">
								<a href="/documents">Внутрішні документи</a>
							</li>
							<li class="footer-menu-submenu-item">
								<a href="/pricing">Тарифи на послуги</a>
							</li>
							<li class="footer-menu-submenu-item">
								<a href="/bonds-quote">Котирування</a>
							</li>
							<li class="footer-menu-submenu-item">
								<a href="/licenses">Ліцензії</a>
							</li>
						</ul>
					</div>
				</div>
			</div>
			<div class="footer-menu-expanded">
				<div class="footer-menu-item-expanded">
					<h3 class="footer-menu-title-expanded">Дізнайся більше</h3>
					<ul class="footer-menu-submenu-list-expanded">
						<li class="footer-menu-submenu-item">
							<a href="/how-to-purchase-bonds">Як придбати ОВДП в Україні?</a>
						</li>
						<li class="footer-menu-submenu-item">
							<a href="/how-to-purchase-apple-stocks"
								>Як і де купити акції APPLE?</a
							>
						</li>
						<li class="footer-menu-submenu-item">
							<a href="/how-to-invest-to-etf"
								>Як інвестувати в закордонні біржові фонди – ETF</a
							>
						</li>
					</ul>
				</div>
				<div class="footer-menu-item-expanded">
					<h3 class="footer-menu-title-expanded">Продукти</h3>
					<ul class="footer-menu-submenu-list-expanded">
						<li class="footer-menu-submenu-item">
							<a href="/brokerage-service">Інвестиційні послуги</a>
						</li>
						<li class="footer-menu-submenu-item">
							<a href="/depositary">Депозитарні послуги</a>
						</li>
						<li class="footer-menu-submenu-item">
							<a
								href="https://bond.ua/"
								target="_blank"
								rel="noopener noreferrer nofollow"
								>Застосунок BOND.UA</a
							>
						</li>
						<li class="footer-menu-submenu-item">
							<a href="/diia-military-bonds">ДІЯ військові облігації</a>
						</li>
					</ul>
				</div>
				<div class="footer-menu-item-expanded">
					<h3 class="footer-menu-title-expanded">Підтримка</h3>
					<ul class="footer-menu-submenu-list-expanded">
						<li class="footer-menu-submenu-item">
							<a href="/documents">Внутрішні документи</a>
						</li>
						<li class="footer-menu-submenu-item">
							<a href="/pricing">Тарифи на послуги</a>
						</li>
						<li class="footer-menu-submenu-item">
							<a href="/bonds-quote">Котирування</a>
						</li>
						<li class="footer-menu-submenu-item">
							<a href="/licenses">Ліцензії</a>
						</li>
					</ul>
				</div>
			</div>
		</div>
		<div class="footer-social">
			<ul class="footer-social-list">
				<li class="footer-social-item">
					<a
						href="https://twitter.com/btc_broker_com"
						class="footer-social-link"
						target="_blank"
						rel="noopener noreferrer nofollow"
						aria-label="twitter"
						><svg class="footer-social-icon" width="24" height="24">
							<use
								href="/src/images/svg/symbol-defs.svg#icon-twitter-new"
							></use></svg
					></a>
				</li>
				<li class="footer-social-item">
					<a
						href="https://www.facebook.com/btcbrokercom/"
						class="footer-social-link"
						target="_blank"
						rel="noopener noreferrer nofollow"
						aria-label="facebook"
						><svg class="footer-social-icon" width="24" height="24">
							<use
								href="/src/images/svg/symbol-defs.svg#icon-facebook"
							></use></svg
					></a>
				</li>
				<li class="footer-social-item">
					<a
						href="https://t.me/btcbroker_news"
						class="footer-social-link"
						target="_blank"
						rel="noopener noreferrer nofollow"
						aria-label="telegram"
						><svg class="footer-social-icon" width="24" height="24">
							<use
								href="/src/images/svg/symbol-defs.svg#icon-telegram"
							></use></svg
					></a>
				</li>
				<li class="footer-social-item">
					<a
						href="https://www.linkedin.com/company/102822600/"
						class="footer-social-link"
						target="_blank"
						rel="noopener noreferrer nofollow"
						aria-label="linkedin"
						><svg class="footer-social-icon" width="24" height="24">
							<use
								href="/src/images/svg/symbol-defs.svg#icon-linkedin"
							></use></svg
					></a>
				</li>
			</ul>
		</div>
	</div>
	<div class="footer-copyright">
		<div class="container">
			<p class="footer-copyright-item">
				ТОВ "БТС Брокер" здійснює професійну діяльність на ринках капіталу з
				торгівлі фінансовими інструментами на підставі державних безстрокових
				ліцензій, що передбачають дилерську, брокерську, субброкерську та
				депозитарну діяльність депозитарної установи. Переглянути ліцензії ТОВ
				"БТС Брокер" можете перейшовши за посиланням на
				<a
					href="https://www.nssmc.gov.ua/licensee/?edrpou=37686943#tab-12"
					class="text-link"
					target="_blank"
					rel="noopener noreferrer nofollow"
					>сайт Національної комісії з цінних паперів та фондового ринку</a
				>
			</p>
			<p class="footer-copyright-item">
				&copy; 2015-2024 – Сайт належить ТОВ БТС БРОКЕР (+38 094 710 26 06)
			</p>
		</div>
	</div>
</footer>
<div class="overlay"></div>
<!--Start of Tawk.to Script-->
<script type="text/javascript">
	var Tawk_API = Tawk_API || {},
		Tawk_LoadStart = new Date();
	(function () {
		var s1 = document.createElement("script"),
			s0 = document.getElementsByTagName("script")[0];
		s1.async = true;
		s1.src = "https://embed.tawk.to/5c782d653341d22d9ce6ab3e/default";
		s1.charset = "UTF-8";
		s1.setAttribute("crossorigin", "*");
		s0.parentNode.insertBefore(s1, s0);
	})();
</script>
<!--End of Tawk.to Script-->
