<header class="header">
	<div class="container header-container">
		<a href="/" class="header-logo"
			><img
				src="/src/images/btc-broker-logo-dark.png"
				alt="BTC Broker logo"
				width="220"
		/></a>
		<nav class="navigation">
			<ul class="header-nav-menu-list">
				<li class="header-nav-menu-item-services">
					<button type="button" class="header-nav-menu-btn">
						Послуги та тарифи
						<svg
							class="header-nav-menu-icon"
							width="24"
							height="24"
							fill="none"
						>
							<use href="/src/images/svg/symbol-defs.svg#icon-arrow-down"></use>
						</svg>
					</button>
					<div class="header-menu-container-services">
						<ul class="header-menu">
							<li class="header-menu-item">
								<h3 class="header-menu-submenu-title">Приватним особам</h3>
								<ul>
									<li class="header-menu-submenu-link">
										<a href="/depositary">Депозитарні послуги</a>
									</li>
									<li class="header-menu-submenu-link">
										<a href="/brokerage-service">Інвестиційні послуги</a>
									</li>
									<li class="header-menu-submenu-link">
										<a href="/consulting">Консультування</a>
									</li>
								</ul>
							</li>
							<li class="header-menu-item">
								<h3 class="header-menu-submenu-title">Корпоративним</h3>
								<ul>
									<li class="header-menu-submenu-link">
										<a href="/to-asset-management-and-foundations"
											>КУА та Фондам</a
										>
									</li>
									<li class="header-menu-submenu-link">
										<a href="/to-insurance-companies">Страховим компаніям</a>
									</li>
									<li class="header-menu-submenu-link">
										<a href="/to-corporations">Юридичним особам</a>
									</li>
								</ul>
							</li>
							<li class="header-menu-item">
								<h3 class="header-menu-submenu-title">Умови надання послуг</h3>
								<ul>
									<li class="header-menu-submenu-link">
										<a href="/pricing">Тарифи на послуги</a>
									</li>
									<li class="header-menu-submenu-link">
										<a href="/documents">Внутрішні документи</a>
									</li>
									<li class="header-menu-submenu-link">
										<a href="/faq">Відповіді на поширені запитання</a>
									</li>
								</ul>
							</li>
						</ul>
					</div>
				</li>
				<li class="header-nav-menu-item-about-us">
					<button type="button" class="header-nav-menu-btn">
						Про нас
						<svg
							class="header-nav-menu-icon"
							width="24"
							height="24"
							fill="none"
						>
							<use href="/src/images/svg/symbol-defs.svg#icon-arrow-down"></use>
						</svg>
					</button>
					<div class="header-menu-container-about-us">
						<ul class="header-menu">
							<li class="header-menu-item">
								<h3 class="header-menu-submenu-title">Основна інформація</h3>
								<ul>
									<li class="header-menu-submenu-link">
										<a href="/accounting">Фін. звітність</a>
									</li>
									<li class="header-menu-submenu-link">
										<a href="/licenses">Ліцензії</a>
									</li>
									<li class="header-menu-submenu-link">
										<a href="/banking-details">Реквізити</a>
									</li>
								</ul>
							</li>
							<li class="header-menu-item">
								<h3 class="header-menu-submenu-title">Ми та оточення</h3>
								<ul>
									<li class="header-menu-submenu-link">
										<a href="/about-btc-broker">Про БТС Брокер</a>
									</li>
									<li class="header-menu-submenu-link">
										<a href="/partners">Партнери</a>
									</li>
									<li class="header-menu-submenu-link">
										<a href="/coming-soon">Ми в медіа</a>
									</li>
								</ul>
							</li>
						</ul>
					</div>
				</li>
				<li class="header-nav-menu-item">
					<a href="/contact-us" class="header-nav-menu-btn">Контакти</a>
				</li>
			</ul>
		</nav>
		<a
			href="https://form.btc-broker.com/"
			class="button-primary create-account-btn-tablet"
			>Відкрити рахунок</a
		>
		<button class="header-search-btn" type="button">
			<svg class="header-search-icon" width="24" height="24" fill="none">
				<use href="/src/images/svg/symbol-defs.svg#icon-search"></use>
			</svg>
		</button>
		<button
			class="language-select-btn header-language-select-btn"
			type="button"
		>
			<svg width="24" height="24" fill="none">
				<use href="/src/images/svg/symbol-defs.svg#icon-world"></use>
			</svg>
			<svg width="24" height="24" fill="none">
				<use href="/src/images/svg/symbol-defs.svg#icon-flag-ukraine"></use>
			</svg>
		</button>
		<button
			class="button-hamburger"
			aria-controls="primary-navigation"
			aria-expanded="false"
		>
			<svg
				fill="none"
				class="hamburger"
				viewBox="0 0 24 24"
				width="24"
				height="24"
			>
				<rect
					class="line top"
					width="16"
					height="2"
					x="4"
					y="6"
					rx="1"
					fill="#282828"
				/>
				<rect
					class="line middle"
					width="16"
					height="2"
					x="4"
					y="11"
					rx="1"
					fill="#282828"
				/>
				<rect
					class="line bottom"
					width="16"
					height="2"
					x="4"
					y="16"
					rx="1"
					fill="#282828"
				/>
			</svg>
		</button>
		<include src="./partials/mobile-menu.html"></include>
	</div>
</header>
