<section class="how-to-invest-to-etf-section">
	<div class="container how-to-invest-to-etf-container">
		<h3 class="superheader">Дізнайся більше</h3>
		<h1 class="section-header how-to-invest-to-etf-header">
			Як інвестувати в закордонні біржові фонди – ETF
		</h1>
		<h4 class="subheader how-to-invest-to-etf-subheader">
			Інвестиції в біржові фонди ETF (англ. exchange-traded fund) є одним з
			популярних видів інвестицій на фондовому ринку, як серед роздрібних
			інвесторів, так і серед корпоративних інвесторів
		</h4>
		<p class="how-to-invest-to-etf-paragraph">
			Найпопулярнішими ETF серед інвесторів є ті котрі інвестують в широкий
			американський фондовий ринок або в його сектори, наприклад:
		</p>
		<ul class="how-to-invest-to-etf-description-list">
			<li class="how-to-invest-to-etf-description-item">
				<div class="how-to-invest-to-etf-icon-wrapper">
					<svg
						class="how-to-invest-to-etf-description-icon"
						width="24"
						height="24"
						fill="none"
					>
						<use href="/src/images/svg/symbol-defs.svg#icon-done-check"></use>
					</svg>
				</div>
				<p>
					<strong class="strong-text"
						>SPDR S&P 500 ETF Trust (біржовий тікер: SPY)</strong
					>
					– інвестує в акції з індексу S&P500, відповідно слідує за динамікою
					самого популярного фондового індексу
				</p>
			</li>
			<li class="how-to-invest-to-etf-description-item">
				<div class="how-to-invest-to-etf-icon-wrapper">
					<svg
						class="how-to-invest-to-etf-description-icon"
						width="24"
						height="24"
						fill="none"
					>
						<use href="/src/images/svg/symbol-defs.svg#icon-done-check"></use>
					</svg>
				</div>
				<p>
					<strong class="strong-text"
						>Invesco QQQ ETF (біржовий тікер: QQQ)</strong
					>
					– орієнтований на індекс технологічних компаній NASDAQ-100, відповідно
					даний ETF слідує за динамікою другого за популярністю фондового
					індекса США
				</p>
			</li>
		</ul>
		<p class="how-to-invest-to-etf-paragraph">
			Дані ETF разом з іншими іноземними цінними паперами були допущені до
			торгів на українському фондовому ринку.
		</p>
		<p class="how-to-invest-to-etf-paragraph">
			Саме інвестування в ETF нічим не відрізняється від інвестування в акції,
			наприклад таких гігантів індустрій, як: NVIDIA, Microsoft, Bank of America
			чи Tesla. Тобто для купівлі частки (акції) біржового фонду потрібно мати
			відкритий брокерський рахунок та доступ на біржі де акції ETF допущені до
			обігу. Придбати ETF можна також на позабіржовому ринку, якщо інвестор має
			вже контрагента-продавця та хоче укласти угоду безпосередньо з ним.
		</p>
		<p class="how-to-invest-to-etf-paragraph">
			Інвестиційна фірма “БТС Брокер” до початку широкомасштабної війни з росією
			надавала доступ на фондові біржі США, як субброкер через свого партнера
			закордонного брокера – наразі дана послуга тимчасово відсутня у зв'язку з
			валютними обмеженнями НБУ під час дії військового стану.
		</p>
		<p class="how-to-invest-to-etf-paragraph">
			На вітчизняних фондових біржах та на позабіржовому ринку купити ETF
			можливо тільки за умови якщо хтось із інвесторів на вітчизняному ринку
			вирішить їх продати, відповідно пропозиція з продажу цінних паперів
			американських емітентів на внутрішньому ринку майже відсутня.
		</p>
		<p>
			Якщо у Вас залишились ще питання, стосовно купівлі ETF – можете їх задати
			<a
				class="text-link"
				href="/contact-us"
				title="Покликання на сторінку зворотнього зв'язку"
				>у будь-який зручний для Вас спосіб</a
			>.
		</p>
	</div>
</section>
