<section class="how-to-purchase-apple-stocks-section">
	<div class="container how-to-purchase-apple-stocks-container">
		<h3 class="superheader">Акції</h3>
		<h1 class="section-header">Як і де купити акції APPLE?</h1>
		<h4 class="subheader how-to-purchase-apple-stocks-subheader">
			Українським інвесторам купити акції Apple можна, як в Україні, так і за
			кордоном на фондових біржах США
		</h4>
		<p class="how-to-purchase-apple-stocks-paragraph">
			Інвестиційна фірма “БТС Брокер” надавала обидві можливості інвестувати в
			акції закордонних емітентів, як брокер на вітчизняних біржових
			майданчиках, так, і як субброкер, котрий надавав доступ на зовнішні
			фондові ринки, своїм клієнтам, через закордонного брокера-партнера.
		</p>
		<p class="how-to-purchase-apple-stocks-paragraph">
			Але після повномасштабного вторгнення росії в Україну послуга інвестування
			в закордонні емітенти стала обмеженою у зв'язку з діючим законодавством
			воєнного стану та відповідними валютними обмеженнями НБУ на переміщення
			капіталу за кордон.
		</p>
		<p class="how-to-purchase-apple-stocks-paragraph">
			В Україні ж купити акції Apple наразі можливо тільки за умови якщо хтось
			із інвесторів на вітчизняному ринку вирішить їх продати, відповідно
			пропозиція з продажу цінних паперів американських емітентів на
			внутрішньому ринку майже відсутня.
		</p>
		<p>
			Якщо у Вас залишились ще питання, стосовно купівлі акцій іноземних
			емітентів - можете їх задати
			<a
				class="text-link"
				href="/contact-us"
				title="Покликання на сторінку зворотнього зв'язку"
				>зв'язавшись з нами зручним для Вас способом</a
			>
		</p>
	</div>
</section>
