<section class="how-to-purchase-bonds-section">
	<div class="container how-to-purchase-bonds-container">
		<h3 class="superheader">Актуально</h3>
		<h1 class="section-header">Як придбати ОВДП в Україні</h1>
		<h4 class="subheader how-to-purchase-bonds-subheader">
			Наразі це найбільш ліквідний інструмент інвестування
		</h4>
		<p class="how-to-purchase-bonds-paragraph">
			На даний момент придбати ОВДП в Україні дуже просто. Але для цього
			потрібно
			<a
				class="text-link"
				href="/brokerage-service"
				title="Покликання на сторінку інвестиційних послуг"
				>відкрити брокерський рахунок</a
			>!
		</p>
		<p class="how-to-purchase-bonds-paragraph">
			В інвестиційній фірмі “БТС Брокер” Ви можете зробити це в декілька кліків,
			дистанційно без приїзду в офіс завантаживши
			<a
				class="text-link"
				href="https://bond.ua/"
				title="Покликання на сторінку застосунку BondUA"
				>застосунок для інвестицій BondUA</a
			>.
		</p>
		<p class="how-to-purchase-bonds-paragraph">
			Також Ви можете відкрити рахунок через наш сайт в розділі
			<a
				class="text-link"
				href="/brokerage-service"
				title="Покликання на сторінку інвестиційних послуг"
				>Інвестиційні послуги</a
			>, після ознайомлення з усіма необхідними документами заповнивши форму
			веб-опитувальника.
		</p>
		<p class="how-to-purchase-bonds-paragraph">
			Найбільш поширені запитання пов'язані з інвестиціями в ОВДП та відповіді
			на них Ви знайдете на сторінці
			<a
				class="text-link"
				href="/faq"
				title="Покликання на сторінку відповідей на поширені запитання"
				>Відповіді на поширені запитання</a
			>
		</p>
		<p>
			Якщо у Вас є питання відносно купівлі або продажу ОВДП
			<a
				class="text-link"
				href="/contact-us"
				title="Покликання на сторінку зворотнього зв'язку"
				>зверніться до нас за контактами</a
			>
			і ми допоможемо, як брокер, у вирішенні даного питання!
		</p>
	</div>
</section>
