<section class="bond-ua-section">
	<div class="container bond-ua-container">
		<div class="bond-ua-description-container">
			<h3 class="superheader">Веб-застосунок від БТС Брокер</h3>
			<h2 class="section-header bond-ua-description-header">
				Інвестуй легко в Кабінеті Інвестора
			</h2>
			<h4 class="subheader bond-ua-description-subheader">
				Доєднуйтесь вже зараз
			</h4>
			<a
				href="https://trading.btc-broker.com/"
				class="button-primary bond-ua-description-button"
				>Почати</a
			>
		</div>
	</div>
</section>
