<section class="investor-account-laptop-section">
	<div class="container investor-account-laptop-container">
		<div class="investor-account-laptop-description-container">
			<h3 class="superheader">Веб-застосунок від БТС Брокер</h3>
			<h2 class="section-header investor-account-laptop-description-header">
				Відкрити рахунок та купити ОВДП можна дистанційно, через Кабінет
				Інвестора
			</h2>
			<h4 class="subheader investor-account-laptop-description-subheader">
				Доєднуйтесь вже зараз
			</h4>
			<a
				href="https://trading.btc-broker.com/"
				class="button-primary investor-account-laptop-description-button"
				>Почати</a
			>
		</div>
	</div>
</section>
