<section class="licenses-section">
	<div class="container licenses-container">
		<h3 class="superheader">Варті довіри</h3>
		<h1 class="section-header licenses-header">Ліцензії</h1>
		<h4 class="subheader licenses-subheader">
			Ми діємо виключно в правовому полі України
		</h4>
		<h4 class="licenses-description-list-title">
			ТОВ "БТС Брокер" здійснює професійну діяльність на ринках капіталу з
			торгівлі фінансовими інструментами на підставі державних безстрокових
			ліцензій, що передбачають наступне:
		</h4>
		<div class="licenses-description-content-wrapper">
			<div class="licenses-description-wrapper">
				<ul class="licenses-description-list">
					<li class="licenses-description-item">
						<div class="list-icon-wrapper">
							<svg
								class="licenses-description-list-done-check-icon"
								width="24"
								height="24"
								fill="none"
							>
								<use
									href="/src/images/svg/symbol-defs.svg#icon-done-check"
								></use>
							</svg>
						</div>
						<p>Дилерську діяльність</p>
					</li>
					<li class="licenses-description-item">
						<div class="list-icon-wrapper">
							<svg
								class="licenses-description-list-done-check-icon"
								width="24"
								height="24"
								fill="none"
							>
								<use
									href="/src/images/svg/symbol-defs.svg#icon-done-check"
								></use>
							</svg>
						</div>
						<p>Брокерську діяльність</p>
					</li>
					<li class="licenses-description-item">
						<div class="list-icon-wrapper">
							<svg
								class="licenses-description-list-done-check-icon"
								width="24"
								height="24"
								fill="none"
							>
								<use
									href="/src/images/svg/symbol-defs.svg#icon-done-check"
								></use>
							</svg>
						</div>
						<p>Субброкерську діяльність</p>
					</li>
					<li class="licenses-description-item">
						<div class="list-icon-wrapper">
							<svg
								class="licenses-description-list-done-check-icon"
								width="24"
								height="24"
								fill="none"
							>
								<use
									href="/src/images/svg/symbol-defs.svg#icon-done-check"
								></use>
							</svg>
						</div>
						<p>Депозитарну діяльність депозитарної установи</p>
					</li>
					<li class="licenses-description-item">
						<div class="list-icon-wrapper">
							<svg
								class="licenses-description-list-done-check-icon"
								width="24"
								height="24"
								fill="none"
							>
								<use
									href="/src/images/svg/symbol-defs.svg#icon-done-check"
								></use>
							</svg>
						</div>
						<p>Інвестиційне консультування</p>
					</li>
				</ul>
				<p>
					Переглянути ліцензії ТОВ "БТС Брокер" можете перейшовши за посиланням
					на
					<a
						href="https://www.nssmc.gov.ua/licensee/?edrpou=37686943#tab-12"
						class="text-link"
						target="_blank"
						rel="noopener noreferrer nofollow"
						>сайт Національної комісії з цінних паперів та фондового ринку</a
					>
				</p>
			</div>
			<img
				class="licenses-section-illustration"
				src="/src/images/illustration-licenses-section.svg"
				alt="Руки на паперах зі звітністю"
			/>
		</div>
	</div>
</section>
