<section class="mentions-in-media-section">
	<div class="container mentions-in-media-container">
		<h3 class="superheader">Про нас</h3>
		<h1 class="section-header">Ми в медіа</h1>
		<ul class="mentions-in-media-cards-list">
			<li class="mentions-in-media-cards-item">
				<h2 class="mentions-in-media-cards-date">21.11.2024</h2>
				<div class="flex-wrp">
					<div class="image-thumb">
						<img
							src="./images/forbes-2024.jpg"
							alt="Forbes Ukraine у своїй статті провів ретроспективні підрахунки дохідності ОВДП"
						/>
					</div>
					<div class="mentions-in-media-cards-text-wrp">
						<p class="mentions-in-media-cards-paragraph">
							Forbes Ukraine у своїй статті провів ретроспективні підрахунки
							дохідності ОВДП, депозитів та валюти наприкінці травня та на
							початку жовтня, і в обох випадках ОВДП виявилися найприбутковішим
							інвестиційним варіантом.
						</p>
						<p class="mentions-in-media-cards-paragraph">
							"БТС Брокер" підтверджує, що ОВДП залишається однією з
							найвигідніших інвестицій під час війни!
						</p>
						<p class="mentions-in-media-cards-paragraph">
							Повністю прочитати статтю Forbes про стан ринку ОВДП з коментарями
							від "БТС Брокер" за
							<a
								href="https://forbes.ua/money/ovdp-zamist-dolara-ta-depozitiv-de-kupuvati-derzhavni-obligatsii-ta-yak-na-nikh-zarobiti-rozbir-20112024-24946"
								class="text-link"
								target="_blank"
								rel="noopener noreferrer nofollow"
								>посиланням</a
							>.
						</p>
					</div>
				</div>
			</li>
			<li class="mentions-in-media-cards-item">
				<h2 class="mentions-in-media-cards-date">15.10.2024</h2>
				<div class="flex-wrp">
					<div class="image-thumb">
						<img
							src="./images/zabka-go-market.jpg"
							alt="Польський ритейлер Żabka виходить на Варшавську фондову біржу"
						/>
					</div>
					<div class="mentions-in-media-cards-text-wrp">
						<p class="mentions-in-media-cards-paragraph">
							Польський ритейлер "Żabka" виходить на Варшавську фондову біржу:
							чи варто купувати акції даного емітента - в цьому журналістам
							видання Мінфін допомогли розібратися експерти інвестиційної фірми
							“БТС Брокер”. Статтю читати за
							<a
								href="https://minfin.com.ua/ua/currency/articles/naybilsha-torgovelna-merezha-v-polschi-provodit-ipo-chi-varto-kupuvati-yiyi-akciyi/"
								class="text-link"
								target="_blank"
								rel="noopener noreferrer nofollow"
								>посиланням</a
							>.
						</p>
					</div>
				</div>
			</li>
			<li class="mentions-in-media-cards-item">
				<h2 class="mentions-in-media-cards-date">09.08.2024</h2>
				<div class="flex-wrp">
					<div class="image-thumb">
						<img
							src="./images/invest-bag.jpg"
							alt="Стокове фото з портфелем, калькулятором, грошима, золотими злитками та планшету з графіками"
						/>
					</div>
					<div class="mentions-in-media-cards-text-wrp">
						<p class="mentions-in-media-cards-paragraph">
							“Гривня девальвує: що змінити у своєму портфелі інвестицій” - під
							такою назвою на початку серпня вийшла
							<a
								href="https://minfin.com.ua/ua/invest/articles/grivna-devalviruet-chto-izmenit-v-svoem-portfele-investiciy/"
								class="text-link"
								target="_blank"
								rel="noopener noreferrer nofollow"
								>стаття інтернет-видання Мінфін</a
							>
							з коментарями в ній від “БТС Брокер” та інших колег експертів з
							фондового ринку. Які інструменти накопичень найбільш актуальні
							зараз для коротко- і довгострокових портфелей і як вони змінилися
							через девальвацію гривні - дізнаєтеся більше зі статті.
						</p>
					</div>
				</div>
			</li>
			<li class="mentions-in-media-cards-item">
				<h2 class="mentions-in-media-cards-date">11.07.2024</h2>
				<div class="flex-wrp">
					<div class="image-thumb">
						<img
							src="./images/volunteer-roma.jpg"
							alt="Роман Осипов передає дрони в ЗСУ"
						/>
					</div>
					<div class="mentions-in-media-cards-text-wrp">
						<p class="mentions-in-media-cards-paragraph">
							Одна з головних задач бізнесу під час війни допомагати нашим Силам
							Оборони та волонтерам у їх нелегкій, але дуже дуже вагомій справі,
							яка несе перемогу над російськими окупантами. Тому трішки "не
							фінансових інструментів" від "БТС Брокер" для знищення ворога,
							відправили нашим військовим!
							<a
								href="https://www.facebook.com/100000821585601/videos/453585617430026/"
								class="text-link"
								target="_blank"
								rel="noopener noreferrer nofollow"
								>Джерело – Facebook</a
							>
						</p>
					</div>
				</div>
			</li>
			<li class="mentions-in-media-cards-item">
				<h2 class="mentions-in-media-cards-date">28.05.2024</h2>
				<div class="flex-wrp">
					<div class="image-thumb">
						<img
							src="./images/ovdp-investments.jpg"
							alt="Напис ОВДП на фоні котирувань"
						/>
					</div>
					<div class="mentions-in-media-cards-text-wrp">
						<p class="mentions-in-media-cards-paragraph">
							“Інвестиції в ОВДП: як зібрати ідеальний портфель” -
							розповідається
							<a
								href="https://minfin.com.ua/ua/currency/articles/yak-zbilshiti-dohidnist-ta-zahistiti-groshi-investuyuchi-v-ovdp/"
								class="text-link"
								target="_blank"
								rel="noopener noreferrer nofollow"
								>у статті інтернет-видання Мінфін</a
							>
							з експертними коментарями від “БТС Брокер”. В ній порушені цікаві
							питання: В якій валюті формувати портфель із ОВДП? Які пропорції
							між валютами повинні бути? Які терміни до погашення ОВДП краще
							обрати? Про це та більше знайдете в статті включно з думками наших
							колег по ринку.
						</p>
					</div>
				</div>
			</li>
			<li class="mentions-in-media-cards-item">
				<h2 class="mentions-in-media-cards-date">26.05.2024</h2>
				<div class="flex-wrp">
					<div class="image-thumb">
						<img
							src="./images/31st-chestnut-run.jpg"
							alt="Співробітники БТС Брокер біжать з українським прапором в руках"
						/>
					</div>
					<div class="mentions-in-media-cards-text-wrp">
						<p class="mentions-in-media-cards-paragraph">
							Співробітники "БТС Брокер" традиційно прийняли участь у щорічному
							благодійному заході на День Києва - "Пробіг під каштанами".
						</p>
						<p class="mentions-in-media-cards-paragraph">
							Щороку Пробіг нагадує про проблему вроджених вад серця і
							можливості її вирішення, привертаючи увагу українців і основних
							медіа країни.
						</p>
						<p class="mentions-in-media-cards-paragraph">
							<a
								href="https://probig.in.ua/"
								class="text-link"
								target="_blank"
								rel="noopener noreferrer nofollow"
								>Благодійна організація «БФ «Пробіг під каштанами»</a
							>
							закуповує необхідне обладнання для Науково-практичного медичного
							центру дитячої кардіології та кардіохірургії МОЗ України.
						</p>
					</div>
				</div>
			</li>
			<li class="mentions-in-media-cards-item">
				<h2 class="mentions-in-media-cards-date">09.05.2024</h2>
				<div class="flex-wrp">
					<div class="image-thumb">
						<img
							src="./images/minfin-corporate-bonds.jpg"
							alt="Банкноти та монети"
						/>
					</div>
					<div class="mentions-in-media-cards-text-wrp">
						<p class="mentions-in-media-cards-paragraph">
							Про ринок корпоративних облігацій українських емітентів під час
							війни, з коментарями “БТС Брокер”, в огляді
							<a
								href="https://minfin.com.ua/ua/currency/articles/korporativni-obligaciyi-chi-vigidnishi-voni-za-ovdp-ta-chim-rizikue-investor/"
								class="text-link"
								target="_blank"
								rel="noopener noreferrer nofollow"
								>інтернет-видання “Мінфін”</a
							>. В статті розкритті теми відсоткових ставок по корп-облігаціям,
							які цікаві емітенти присутні на ринку, у який спосіб можна
							придбати дані цінні папери та багато іншого
						</p>
					</div>
				</div>
			</li>
			<li class="mentions-in-media-cards-item">
				<h2 class="mentions-in-media-cards-date">18.10.2022</h2>
				<div class="flex-wrp">
					<div class="image-thumb">
						<img
							src="./images/diia-warbonds.jpg"
							alt="Військові облігації в Дії"
						/>
					</div>
					<div class="mentions-in-media-cards-text-wrp">
						<p class="mentions-in-media-cards-paragraph">
							<a
								href="https://forbes.ua/news/ukraintsi-kupili-cherez-zastosunok-diya-viyskovi-ovdp-na-sumu-50-mln-grn-18102022-9087"
								class="text-link"
								target="_blank"
								rel="noopener noreferrer nofollow"
								>Видання Forbes</a
							>
							про запуск Міністерством цифрової трансформації можливості купівлі
							військових облігацій через застосунок Дія. Та коментарі "БТС
							Брокер", щодо співпраці у розповсюджені військових ОВДП через Дія
						</p>
					</div>
				</div>
			</li>
			<li class="mentions-in-media-cards-item">
				<h2 class="mentions-in-media-cards-date">15.03.2022</h2>
				<div class="flex-wrp">
					<div class="image-thumb">
						<img
							src="./images/e-pravda-img.jpg"
							alt="Група військових на полігоні"
						/>
					</div>
					<div class="mentions-in-media-cards-text-wrp">
						<p class="mentions-in-media-cards-paragraph">
							“Підтримати своїх, щоб не годувати чужих. Як куються фінансові
							перемоги у війнах” -
							<a
								href="https://www.epravda.com.ua/publications/2022/03/15/684077/"
								class="text-link"
								target="_blank"
								rel="noopener noreferrer nofollow"
								>стаття в “Економічній правді”</a
							>
							про важливість запуску такого інструменту, як військові облігації
							та коментарі в ній директора інвестиційної фірми "БТС Брокер"
							Романа Осипова на тему як і де можна придбати військові ОВДП
						</p>
					</div>
				</div>
			</li>
			<li class="mentions-in-media-cards-item">
				<h2 class="mentions-in-media-cards-date">03.12.2021</h2>
				<div class="flex-wrp">
					<div class="image-thumb">
						<img
							src="./images/bond-ua-app.jpg"
							alt="Два телефони з застосунком бонд юа"
						/>
					</div>
					<div class="mentions-in-media-cards-text-wrp">
						<p class="mentions-in-media-cards-paragraph">
							Директор і співвласник "БТС Брокер" Роман Осипов повідомив
							<a
								href="https://interfax.com.ua/news/economic/783883.html"
								class="text-link"
								target="_blank"
								rel="noopener noreferrer nofollow"
								>агентству "Інтерфакс-Україна"</a
							>, що наразі інвестиційний мобільний застосунок під назвою Bond.UA
							перебуває на стадії тестування і буде запущений "найближчими
							тижнями"
						</p>
					</div>
				</div>
			</li>
			<li class="mentions-in-media-cards-item">
				<h2 class="mentions-in-media-cards-date">30.07.2019</h2>
				<div class="flex-wrp">
					<div class="image-thumb">
						<img
							src="./images/apple-stocks-youtube.jpg"
							alt="Роман Осипов на прес-конференції присвяченій першим акціям Apple в Україні"
						/>
					</div>
					<div class="mentions-in-media-cards-text-wrp">
						<p class="mentions-in-media-cards-paragraph">
							30.07.2019 року в прес-центрі
							<a
								href="https://www.youtube.com/live/MmrRDq7keO4?si=MpQbFlmkhSbXHND2"
								class="text-link"
								target="_blank"
								rel="noopener noreferrer nofollow"
								>інформаційного агентства "Інтерфакс-Україна"</a
							>
							Роман Осипов, директор ТОВ "БТС Брокер" прийняв участь у
							прес-конференції з питань "Акції Apple Inc. на Українській біржі".
							Це перший крок у впровадженні нового класу інструментів для
							довгострокового інвестування ініціатором котрого став “БТС Брокер”
						</p>
					</div>
				</div>
			</li>
		</ul>
	</div>
</section>
