<section class="mentions-in-media-section">
	<div class="container mentions-in-media-container">
		<h3 class="superheader">Про нас</h3>
		<h1 class="section-header">Ми в медіа</h1>
		<ul class="mentions-in-media-cards-list">
			<li class="mentions-in-media-cards-item">
				<p class="mentions-in-media-cards-date">09.05.2024р</p>
				<div class="flex-wrp">
					<div class="image-thumb">
						<img
							src="./images/minfin-corporate-bonds.jpg"
							alt="Банкноти та монети"
						/>
					</div>
					<p class="mentions-in-media-cards-paragraph">
						Про ринок корпоративних облігацій українських емітентів під час
						війни, з коментарями “БТС Брокер”, в огляді
						<a
							href="https://minfin.com.ua/ua/currency/articles/korporativni-obligaciyi-chi-vigidnishi-voni-za-ovdp-ta-chim-rizikue-investor/"
							class="text-link"
							target="_blank"
							rel="noopener noreferrer nofollow"
							>інтернет-видання “Мінфін”</a
						>. В статті розкритті теми відсоткових ставок по корп-облігаціям,
						які цікаві емітенти присутні на ринку, у який спосіб можна придбати
						дані цінні папери та багато іншого
					</p>
				</div>
			</li>
			<li class="mentions-in-media-cards-item">
				<p class="mentions-in-media-cards-date">18.10.2022р</p>
				<div class="flex-wrp">
					<div class="image-thumb">
						<img
							src="./images/diia-warbonds.jpg"
							alt="Військові облігації в Дії"
						/>
					</div>
					<p class="mentions-in-media-cards-paragraph">
						<a
							href="https://forbes.ua/news/ukraintsi-kupili-cherez-zastosunok-diya-viyskovi-ovdp-na-sumu-50-mln-grn-18102022-9087"
							class="text-link"
							target="_blank"
							rel="noopener noreferrer nofollow"
							>Видання Forbes</a
						>
						про запуск Міністерством цифрової трансформації можливості купівлі
						військових облігацій через застосунок Дія. Та коментарі БТС Брокер,
						щодо співпраці у розповсюджені військових ОВДП через Дія
					</p>
				</div>
			</li>
			<li class="mentions-in-media-cards-item">
				<p class="mentions-in-media-cards-date">15.03.2022р</p>
				<div class="flex-wrp">
					<div class="image-thumb">
						<img
							src="./images/e-pravda-img.jpg"
							alt="Група військових на полігоні"
						/>
					</div>
					<p class="mentions-in-media-cards-paragraph">
						“Підтримати своїх, щоб не годувати чужих. Як куються фінансові
						перемоги у війнах” -
						<a
							href="https://www.epravda.com.ua/publications/2022/03/15/684077/"
							class="text-link"
							target="_blank"
							rel="noopener noreferrer nofollow"
							>стаття в “Економічній правді”</a
						>
						про важливість запуску такого інструменту, як військові облігації та
						коментарі в ній директора інвестиційної фірми "БТС Брокер" Романа
						Осипова на тему як і де можна придбати військові ОВДП
					</p>
				</div>
			</li>
			<li class="mentions-in-media-cards-item">
				<p class="mentions-in-media-cards-date">03.12.2021р</p>
				<div class="flex-wrp">
					<div class="image-thumb">
						<img
							src="./images/bond-ua-app.jpg"
							alt="Два телефони з застосунком бонд юа"
						/>
					</div>
					<p class="mentions-in-media-cards-paragraph">
						Директор і співвласник "БТС Брокер" Роман Осипов повідомив
						<a
							href="https://interfax.com.ua/news/economic/783883.html"
							class="text-link"
							target="_blank"
							rel="noopener noreferrer nofollow"
							>агентству "Інтерфакс-Україна"</a
						>, що наразі програма під назвою Bond.Ua перебуває на стадії
						тестування і буде запущена в "найближчими тижнями"
					</p>
				</div>
			</li>
			<li class="mentions-in-media-cards-item">
				<p class="mentions-in-media-cards-date">30.07.2019р</p>
				<div class="flex-wrp">
					<div class="image-thumb">
						<img
							src="./images/apple-stocks-youtube.jpg"
							alt="Роман Осипов на прес-конференції присвяченій першим акціям Apple в Україні"
						/>
					</div>
					<p class="mentions-in-media-cards-paragraph">
						30.07.2019 року в прес-центрі
						<a
							href="https://www.youtube.com/live/MmrRDq7keO4?si=MpQbFlmkhSbXHND2"
							class="text-link"
							target="_blank"
							rel="noopener noreferrer nofollow"
							>інформаційного агентства "Інтерфакс-Україна"</a
						>
						Роман Осипов, директор ТОВ "БТС Брокер" прийняв участь у
						прес-конференції з питань "Акції Apple Inc. на Українській біржі".
						Це перший крок у впровадженні нового класу інструментів для
						довгострокового інвестування ініціатором котрого став “БТС Брокер”
					</p>
				</div>
			</li>
		</ul>
	</div>
</section>
