<div class="mobile-menu-container">
	<div class="mobile-menu">
		<div class="mobile-menu-top-icons">
			<button class="mobile-menu-back-btn">
				<svg class="mobile-menu-back-icon" width="24" height="24" fill="none">
					<use href="/src/images/svg/symbol-defs.svg#icon-arrow-left"></use>
				</svg>
			</button>
			<button class="language-select-btn" type="button">
				<svg width="24" height="24" fill="none">
					<use href="/src/images/svg/symbol-defs.svg#icon-world"></use>
				</svg>
				<svg width="24" height="24" fill="none">
					<use href="/src/images/svg/symbol-defs.svg#icon-flag-ukraine"></use>
				</svg>
			</button>
		</div>
		<nav class="mobile-nav-menu">
			<ul class="mobile-nav-menu-list">
				<li class="mobile-nav-menu-item">
					<button type="button" class="mobile-nav-menu-btn">
						Послуги та тарифи
						<svg
							class="mobile-nav-menu-icon"
							width="24"
							height="24"
							fill="none"
						>
							<use
								href="/src/images/svg/symbol-defs.svg#icon-arrow-right"
							></use>
						</svg>
					</button>
					<div class="mobile-menu-submenu-container">
						<ul class="mobile-nav-submenu-list">
							<li class="mobile-nav-submenu-item">
								<h3 class="mobile-nav-submenu-title">Приватним особам</h3>
								<ul>
									<li class="mobile-nav-submenu-link">
										<a href="/depositary">Депозитарні послуги</a>
									</li>
									<li class="mobile-nav-submenu-link">
										<a href="/brokerage-service">Інвестиційні послуги</a>
									</li>
									<li class="mobile-nav-submenu-link">
										<a href="/consulting">Консультування</a>
									</li>
								</ul>
							</li>
							<li class="mobile-nav-submenu-item">
								<h3 class="mobile-nav-submenu-title">Корпоративним</h3>
								<ul>
									<li class="mobile-nav-submenu-link">
										<a href="/to-asset-management-and-foundations"
											>КУА та Фондам</a
										>
									</li>
									<li class="mobile-nav-submenu-link">
										<a href="/to-insurance-companies">Страховим компаніям</a>
									</li>
									<li class="mobile-nav-submenu-link">
										<a href="/to-corporations">Юридичним особам</a>
									</li>
								</ul>
							</li>
							<li class="mobile-nav-submenu-item">
								<h3 class="mobile-nav-submenu-title">Умови надання послуг</h3>
								<ul>
									<li class="mobile-nav-submenu-link">
										<a href="/pricing">Тарифи на послуги</a>
									</li>
									<li class="mobile-nav-submenu-link">
										<a href="/documents">Внутрішні документи</a>
									</li>
									<li class="mobile-nav-submenu-link">
										<a href="/faq">Відповіді на поширені запитання</a>
									</li>
								</ul>
							</li>
						</ul>
					</div>
				</li>
				<li class="mobile-nav-menu-item">
					<button type="button" class="mobile-nav-menu-btn">
						Про нас
						<svg
							class="mobile-nav-menu-icon"
							width="24"
							height="24"
							fill="none"
						>
							<use
								href="/src/images/svg/symbol-defs.svg#icon-arrow-right"
							></use>
						</svg>
					</button>
					<div class="mobile-menu-submenu-container">
						<ul class="mobile-nav-submenu-list">
							<li class="mobile-nav-submenu-item">
								<h3 class="mobile-nav-submenu-title">Основна інформація</h3>
								<ul>
									<li class="mobile-nav-submenu-link">
										<a href="/accounting">Фін. звітність</a>
									</li>
									<li class="mobile-nav-submenu-link">
										<a href="/licenses">Ліцензії</a>
									</li>
									<li class="mobile-nav-submenu-link">
										<a href="/banking-details">Реквізити</a>
									</li>
								</ul>
							</li>
							<li class="mobile-nav-submenu-item">
								<h3 class="mobile-nav-submenu-title">Ми та оточення</h3>
								<ul>
									<li class="mobile-nav-submenu-link">
										<a href="/about-btc-broker">Про БТС Брокер</a>
									</li>
									<li class="mobile-nav-submenu-link">
										<a href="/partners">Партнери</a>
									</li>
									<li class="mobile-nav-submenu-link">
										<a href="/coming-soon">Ми в медіа</a>
									</li>
								</ul>
							</li>
						</ul>
					</div>
				</li>
				<li class="mobile-nav-menu-item-contacts">
					<a href="/contact-us" class="mobile-nav-menu-btn">Контакти</a>
				</li>
			</ul>
		</nav>
	</div>
	<div class="mobile-menu-bottom-elements">
		<!-- <form action="#" name="searchfield-mobile-menu">
			<label>
				<input
					class="mobile-menu-search-input"
					type="text"
					name="searchfield-mobile"
					placeholder="Шукати"
				/>
			</label>
		</form> -->
		<a
			href="https://form.btc-broker.com/"
			class="button-primary create-account-btn"
			>Відкрити рахунок</a
		>
	</div>
</div>
