<section class="partners-section">
	<div class="container partners-container">
		<h3 class="superheader">Про нас</h3>
		<h1 class="section-header">Наші партнери</h1>
		<ul class="partners-cards-list">
			<li class="partners-cards-item">
				<a
					href="https://militarybonds.diia.gov.ua/"
					class="partners-cards-link"
					target="_blank"
					rel="noopener noreferrer nofollow"
				>
					<div class="partners-cards-image-wrapper">
						<img
							class="partners-cards-logo"
							src="/src/images/svg/DiiaLogo.svg"
							alt="Логотип застосунку Дія"
						/>
					</div>
					<div class="partners-cards-description-wrapper">
						<p>
							Дистанційна верифікація клієнта перед відкриттям брокерського
							рахунку, купівля військових ОВДП на маркетплейсі Дія
						</p>
					</div>
				</a>
			</li>
			<li class="partners-cards-item">
				<a
					href="https://www.ux.ua/"
					class="partners-cards-link"
					target="_blank"
					rel="noopener noreferrer nofollow"
				>
					<div class="partners-cards-image-wrapper">
						<img
							class="partners-cards-logo"
							src="/src/images/svg/ukrainian_exchange_logo.svg"
							alt="Логотип Української біржи"
						/>
					</div>
					<div class="partners-cards-description-wrapper">
						<p>
							Одна з найтехнологічніших бірж з доступом на секції СПОТ (ринок
							акцій, облігацій інших цінних паперів) та строкового ринку
							(ф'ючерси, опціони інші деривативи)
						</p>
					</div>
				</a>
			</li>
			<li class="partners-cards-item">
				<a
					href="https://privatbank.ua/"
					class="partners-cards-link"
					target="_blank"
					rel="noopener noreferrer nofollow"
				>
					<div class="partners-cards-image-wrapper">
						<img
							class="partners-cards-logo"
							src="/src/images/svg/privatbank_logo.svg"
							alt="Логотип Приват Банку"
						/>
					</div>
					<div class="partners-cards-description-wrapper">
						<p>
							Системний державний банк, який дає можливість клієнтам БТС Брокер
							поповнювати та виводити кошти через мобільний застосунок Бонд.ЮА в
							один клік
						</p>
					</div>
				</a>
			</li>
			<li class="partners-cards-item">
				<a
					href="https://bond.ua/"
					class="partners-cards-link"
					target="_blank"
					rel="noopener noreferrer nofollow"
				>
					<div class="partners-cards-image-wrapper">
						<img
							class="partners-cards-logo"
							src="/src/images/svg/bond_ua_logo.svg"
							alt="Логотип застосунку bond ua"
						/>
					</div>
					<div class="partners-cards-description-wrapper">
						<p>
							Фінтех. мобільний застосунок для інвестування, створений у
							співпраці нашої компанії з ТОВ “Бонд.ЮА". Повністю дистанційне
							відкриття рахунку та купівля/продаж цінних паперів в один клік
						</p>
					</div>
				</a>
			</li>
			<li class="partners-cards-item">
				<a
					href="https://pfts.ua/"
					class="partners-cards-link"
					target="_blank"
					rel="noopener noreferrer nofollow"
				>
					<div class="partners-cards-image-wrapper">
						<img
							class="partners-cards-logo"
							src="/src/images/svg/pfts-logo.svg"
							alt="Логотип фондової біржи ПФТС"
						/>
					</div>
					<div class="partners-cards-description-wrapper">
						<p>
							Одна з найстаріших фондових бірж часів незалежної України та лідер
							за об'ємом угод на ринку ОВДП. Що дає можливість “БТС Брокер”
							робити угоди на будь-який об'єм по найкращим ринковим цінам для
							своїх клієнтів
						</p>
					</div>
				</a>
			</li>
			<li class="partners-cards-item">
				<a
					href="https://www.ii-bank.com.ua/uk/corporate-clients"
					class="partners-cards-link"
					target="_blank"
					rel="noopener noreferrer nofollow"
				>
					<div class="partners-cards-image-wrapper">
						<img
							class="partners-cards-logo"
							src="/src/images/svg/mib-logo.svg"
							alt="Логотип Міжнародного Інвестиційного Банку"
						/>
					</div>
					<div class="partners-cards-description-wrapper">
						<p>
							Банк пропонує широкий спектр банківських послуг для юридичних та
							фізичних осіб, а головне розуміє специфіку регуляцій та
							особливості роботи на фондовому ринку своїх клієнтів
						</p>
					</div>
				</a>
			</li>
		</ul>
	</div>
</section>
