<section class="price-section">
	<div class="container price-container">
		<ul class="price-cards-list">
			<li class="price-card price-card-with-label">
				<div class="price-card-header">
					<h3 class="superheader price-card-superheader">Витяг з тарифів</h3>
					<h4 class="price-card-title">Бонд<sup>.ua</sup></h4>
				</div>
				<div class="price-card-body">
					<ul class="price-card-benefits-list">
						<li class="price-card-benefits-item">
							<div class="list-icon-wrapper">
								<svg
									class="price-card-benefits-icon"
									width="24"
									height="24"
									fill="none"
								>
									<use
										href="/src/images/svg/symbol-defs.svg#icon-done-check"
									></use>
								</svg>
							</div>
							<p>Відкриття рахунку - 0 грн</p>
						</li>
						<li class="price-card-benefits-item">
							<div class="list-icon-wrapper">
								<svg
									class="price-card-benefits-icon"
									width="24"
									height="24"
									fill="none"
								>
									<use
										href="/src/images/svg/symbol-defs.svg#icon-done-check"
									></use>
								</svg>
							</div>
							<p>Купівля/продаж ОВДП - 0 грн</p>
						</li>
						<li class="price-card-benefits-item">
							<div class="list-icon-wrapper">
								<svg
									class="price-card-benefits-icon"
									width="24"
									height="24"
									fill="none"
								>
									<use
										href="/src/images/svg/symbol-defs.svg#icon-done-check"
									></use>
								</svg>
							</div>
							<p>Купівля/продаж акцій українських емітентів - 0 грн</p>
						</li>
						<li class="price-card-benefits-item">
							<div class="list-icon-wrapper">
								<svg
									class="price-card-benefits-icon"
									width="24"
									height="24"
									fill="none"
								>
									<use
										href="/src/images/svg/symbol-defs.svg#icon-done-check"
									></use>
								</svg>
							</div>
							<p>Купівля/продаж акцій іноземних емітентів - 0 грн.</p>
						</li>
						<li class="price-card-benefits-item">
							<div class="list-icon-wrapper">
								<svg
									class="price-card-benefits-icon"
									width="24"
									height="24"
									fill="none"
								>
									<use
										href="/src/images/svg/symbol-defs.svg#icon-done-check"
									></use>
								</svg>
							</div>
							<p>Зберігання ОВДП - 0 грн</p>
						</li>
					</ul>
				</div>
				<div class="price-card-footer">
					<a href="/pricing" class="button-secondary price-card-button"
						>Всі тарифи
						<svg
							class="price-card-benefits-icon"
							class="button-secondary-icon"
							width="24"
							height="24"
						>
							<use
								href="/src/images/svg/symbol-defs.svg#icon-secondary-button-arrow"
							></use>
						</svg>
					</a>
				</div>
				<img
					class="best-choice-label"
					src="/src/images/svg/best-choice-label.svg"
					alt="Best choice label"
				/>
			</li>
			<li class="price-card">
				<div class="price-card-header">
					<h3 class="superheader price-card-superheader">Витяг з тарифів</h3>
					<h4 class="price-card-title">Стандарт</h4>
				</div>
				<div class="price-card-body">
					<ul class="price-card-benefits-list">
						<li class="price-card-benefits-item">
							<div class="list-icon-wrapper">
								<svg
									class="price-card-benefits-icon"
									width="24"
									height="24"
									fill="none"
								>
									<use
										href="/src/images/svg/symbol-defs.svg#icon-done-check"
									></use>
								</svg>
							</div>
							<p>Відкриття рахунку в цінних паперах - БЕЗКОШТОВНО</p>
						</li>
						<li class="price-card-benefits-item">
							<div class="list-icon-wrapper">
								<svg
									class="price-card-benefits-icon"
									width="24"
									height="24"
									fill="none"
								>
									<use
										href="/src/images/svg/symbol-defs.svg#icon-done-check"
									></use>
								</svg>
							</div>
							<p>
								Купівля/продаж ОВДП на організованому ринку - 0,1% але не менше
								500,00 грн
							</p>
						</li>
						<li class="price-card-benefits-item">
							<div class="list-icon-wrapper">
								<svg
									class="price-card-benefits-icon"
									width="24"
									height="24"
									fill="none"
								>
									<use
										href="/src/images/svg/symbol-defs.svg#icon-done-check"
									></use>
								</svg>
							</div>
							<p>
								Купівля/продаж корпоративних цінних паперів на організованому
								ринку - 0,1% але не менше 350,00 грн
							</p>
						</li>
						<li class="price-card-benefits-item">
							<div class="list-icon-wrapper">
								<svg
									class="price-card-benefits-icon"
									width="24"
									height="24"
									fill="none"
								>
									<use
										href="/src/images/svg/symbol-defs.svg#icon-done-check"
									></use>
								</svg>
							</div>
							<p>
								Купівля/продаж корпоративних цінних паперів, ОВДП та векселів на
								неорганізованому ринку - 0,3% але не менше 1 000,00 грн
							</p>
						</li>
					</ul>
				</div>
				<div class="price-card-footer">
					<a href="/pricing" class="button-secondary price-card-button"
						>Всі тарифи
						<svg
							class="price-card-benefits-icon"
							class="button-secondary-icon"
							width="24"
							height="24"
						>
							<use
								href="/src/images/svg/symbol-defs.svg#icon-secondary-button-arrow"
							></use>
						</svg>
					</a>
				</div>
			</li>
		</ul>
		<div class="price-description-container">
			<div class="price-description-wrapper">
				<h3 class="superheader">Інші тарифи</h3>
				<h2 class="section-header">Повний перелік тарифів</h2>
				<p class="price-description-text">
					Ми розробили оптимальні клієнтоорієнтовані тарифи для наших вибагливих
					клієнтів, з якими ви можете ознайомитись перейшовши за
					посиланням нижче
				</p>
				<a href="/pricing" class="button-primary price-description-button"
					>Всі тарифи</a
				>
			</div>
			<img
				class="price-description-illustration"
				src="/src/images/illustration-price-section.svg"
				alt="Папка з документами"
			/>
		</div>
	</div>
</section>
