<section class="sandbox-section">
	<div class="container sandbox-container">
		<h3 class="superheader">Для внутрішнього користування</h3>
		<h2 class="section-header sandbox-header">Песочниця</h2>
		<h4 class="subheader sandbox-subheader">ця сторінка для тестів розробки</h4>
		<ul class="sandbox-list">
			<li class="sandbox-item">
				<a
					href="https://btc-broker.com/upload/documents/pricing/2023/pricing-2023-01-01.pdf"
					class="sandbox-link text-link"
					>pricing-2023-01-01</a
				>
			</li>
			<li class="sandbox-item">
				<a
					href="https://btc-broker.com/upload/documents/pricing/2023/pricing-2023-09-01.pdf"
					class="sandbox-link text-link"
					>pricing-2023-09-01</a
				>
			</li>
			<li class="sandbox-item">
				<a
					href="https://btc-broker.com/upload/documents/pricing/2023/pricing-2023-01-01.pdf"
					class="sandbox-link text-link"
					>pricing-2023-01-01 копія 1</a
				>
			</li>
			<li class="sandbox-item">
				<a
					href="https://btc-broker.com/upload/documents/pricing/2023/pricing-2023-09-01.pdf"
					class="sandbox-link text-link"
					>pricing-2023-09-01 копія 1</a
				>
			</li>
			<li class="sandbox-item">
				<a
					href="https://btc-broker.com/upload/documents/pricing/2023/pricing-2023-01-01.pdf"
					class="sandbox-link text-link"
					>pricing-2023-01-01 копія 2</a
				>
			</li>
			<li class="sandbox-item">
				<a
					href="https://btc-broker.com/upload/documents/pricing/2023/pricing-2023-09-01.pdf"
					class="sandbox-link text-link"
					>pricing-2023-09-01 копія 2</a
				>
			</li>
			<li class="sandbox-item">
				<a
					href="https://btc-broker.com/upload/documents/pricing/2023/pricing-2023-01-01.pdf"
					class="sandbox-link text-link"
					>pricing-2023-01-01</a
				>
			</li>
			<li class="sandbox-item">
				<a
					href="https://btc-broker.com/upload/documents/pricing/2023/pricing-2023-09-01.pdf"
					class="sandbox-link text-link"
					>pricing-2023-09-01</a
				>
			</li>
			<li class="sandbox-item">
				<a
					href="https://btc-broker.com/upload/documents/pricing/2023/pricing-2023-01-01.pdf"
					class="sandbox-link text-link"
					>pricing-2023-01-01</a
				>
			</li>
			<li class="sandbox-item">
				<a
					href="https://btc-broker.com/upload/documents/pricing/2023/pricing-2023-09-01.pdf"
					class="sandbox-link text-link"
					>pricing-2023-09-01</a
				>
			</li>
		</ul>
	</div>
</section>
