<section class="shares-section">
	<div class="container shares-container">
		<div class="shares-description-container">
			<h3 class="superheader">Актуальні пропозиції</h3>
			<h2 class="section-header shares-description-header">
				ОВДП, євробонди, корпоративні облігації емітентів України
			</h2>
			<!-- <h4 class="subheader shares-description-subheader">
				Заповніть анкету та відкрийте інвестиційний рахунок
			</h4> -->
			<ul class="shares-description-list">
				<li class="shares-description-item">
					<div class="shares-icon-wrapper">
						<svg
							class="shares-description-icon"
							width="24"
							height="24"
							fill="none"
						>
							<use href="/src/images/svg/symbol-defs.svg#icon-done-check"></use>
						</svg>
					</div>
					<p>
						В даному розділі представлений каталог з актуальних фінансових
						інструментів доступних для миттєвих інвестицій
					</p>
				</li>
				<li class="shares-description-item">
					<div class="shares-icon-wrapper">
						<svg
							class="shares-description-icon"
							width="24"
							height="24"
							fill="none"
						>
							<use href="/src/images/svg/symbol-defs.svg#icon-done-check"></use>
						</svg>
					</div>
					<p>
						Він повинен задовольнити, як консервативних інвесторів так і
						інвесторів, котрі бажають інвестувати в ризикові цінні папери
					</p>
				</li>
				<li class="shares-description-item">
					<div class="shares-icon-wrapper">
						<svg
							class="shares-description-icon"
							width="24"
							height="24"
							fill="none"
						>
							<use href="/src/images/svg/symbol-defs.svg#icon-done-check"></use>
						</svg>
					</div>
					<p>
						Інвестуй через ТОВ “БТС Брокер” в фінансові інструменти доступні на
						українському фондовому ринку!
					</p>
				</li>
			</ul>
			<a href="/bonds-quote" class="button-primary shares-description-button"
				>Детальніше</a
			>
		</div>
	</div>
</section>
