<section class="stocks-section">
	<div class="container stocks-container">
		<h3 class="superheader">Послуги</h3>
		<h1 class="section-header">Акції. Як це працює</h1>
		<p class="stocks-paragraph">
			Акції компаній зазвичай, можна придбати на фондових біржах через
			ліцензованих учасників торгів - фондових брокерів, котрі є юр. особами та
			діяльність котрих регулюється спеціально визначеним державним органом та
			законодавством. В Україні таким державним регулятором є Національна
			комісія з цінних паперів та фондового ринку (НКЦПФР).
		</p>
		<p class="stocks-paragraph">
			На відміну від
			<a
				class="text-link"
				href="/bonds"
				title="Покликання на сторінку облігацій"
				>облігацій</a
			>, які мають певний термін обігу, володіння акціями може тривати
			необмежений час до моменту їхнього продажу інвестором.
		</p>
		<p class="stocks-paragraph">
			Одна з провідних фондових бірж в Україні є “Українська біржа” (УБ). До
			повномасштабного вторгнення росії на УБ можна було купити флагманів
			українських секторів економіки, таких як: “Мотор Січ”, “Укрнафта”,
			“Центренерго”, “МХП”, “Райффайзен Банк Аваль” та акції закордонних
			емітентів, наприклад компанії “Apple” та багато інших цінних паперів.
			Наразі, на жаль, у зв'язку з військовим станом в нашій країні, перелік
			емітентів, акції котрих можна купити – обмежився.
		</p>
		<p class="stocks-paragraph">
			Також акції компаній, як і будь-які інші цінні папери (облігації,
			сертифікати інвестиційних фондів, акції біржових фондів (ETF)), через
			фондових брокерів, можна придбати на позабіржовому ринку.
		</p>
		<p>
			Якщо Ви бажаєте продати або купити акції компаній
			<a
				class="text-link"
				href="/contact-us"
				title="Покликання на сторінку зворотнього зв'язку"
				>зверніться до нас за контактами</a
			>
			і ми допоможемо, як брокер, у вирішенні даного питання!
		</p>
	</div>
</section>
