<section class="to-corporations-section">
	<div class="container to-corporations-container">
		<h3 class="superheader">Послуги</h3>
		<h1 class="section-header">
			Операції з цінними паперами для юридичних осіб на біржовому та
			позабіржовому ринку
		</h1>
		<h2 class="chapter-header">
			“БТС Брокер” - як ліцензована інвестиційна фірма, для своїх клієнтів
			юридичних осіб надає широкий спектр послуг на вітчизняному фондовому
			ринку, включаючи:
		</h2>
		<ul class="to-corporations-description-list">
			<li class="to-corporations-description-item">
				<div class="to-corporations-icon-wrapper">
					<svg
						class="to-corporations-description-icon"
						width="24"
						height="24"
						fill="none"
					>
						<use href="/src/images/svg/symbol-defs.svg#icon-done-check"></use>
					</svg>
				</div>
				<p>
					Послуги Торговця цінними паперами, що включає проведення операцій з
					фінансовими інструментами в рамках брокерської та дилерської ліцензій
				</p>
			</li>
			<li class="to-corporations-description-item">
				<div class="to-corporations-icon-wrapper">
					<svg
						class="to-corporations-description-icon"
						width="24"
						height="24"
						fill="none"
					>
						<use href="/src/images/svg/symbol-defs.svg#icon-done-check"></use>
					</svg>
				</div>
				<p>
					Виконання торговельних операцій на різних біржах (УБ, ПФТС,
					Перспектива) та позабіржовому ринку, що включає купівлю та продаж
					акцій, облігацій та інших фінансових інструментів
				</p>
			</li>
			<li class="to-corporations-description-item">
				<div class="to-corporations-icon-wrapper">
					<svg
						class="to-corporations-description-icon"
						width="24"
						height="24"
						fill="none"
					>
						<use href="/src/images/svg/symbol-defs.svg#icon-done-check"></use>
					</svg>
				</div>
				<p>
					Забезпечення доступу до актуальних даних по фондовому ринку, звітів по
					угодам, біржових новин та іншої інформації, яка допомагає у проведенні
					операцій з фінансовими інструментами
				</p>
			</li>
			<li class="to-corporations-description-item">
				<div class="to-corporations-icon-wrapper">
					<svg
						class="to-corporations-description-icon"
						width="24"
						height="24"
						fill="none"
					>
						<use href="/src/images/svg/symbol-defs.svg#icon-done-check"></use>
					</svg>
				</div>
				<p>
					Оброблення разових замовлень на купівлю та продаж цінних паперів
					відповідно до вказаних умов клієнта
				</p>
			</li>
			<li class="to-corporations-description-item">
				<div class="to-corporations-icon-wrapper">
					<svg
						class="to-corporations-description-icon"
						width="24"
						height="24"
						fill="none"
					>
						<use href="/src/images/svg/symbol-defs.svg#icon-done-check"></use>
					</svg>
				</div>
				<p>
					Допомога в продажу Ваших корпоративних облігацій серед нашої
					клієнтської бази
				</p>
			</li>
			<li class="to-corporations-description-item">
				<div class="to-corporations-icon-wrapper">
					<svg
						class="to-corporations-description-icon"
						width="24"
						height="24"
						fill="none"
					>
						<use href="/src/images/svg/symbol-defs.svg#icon-done-check"></use>
					</svg>
				</div>
				<p>
					Послуги Депозитарної установи (ознайомитися з переліком документів для
					відкриття рахунку в цінних паперах та тарифами можна
					<a
						class="text-link"
						href="/depositary"
						title="Покликання на сторінку зворотнього зв'язку"
						>за цим посиланням</a
					>)
				</p>
			</li>
		</ul>
		<p class="to-corporations-paragraph">
			Будь-які питання, що можуть у Вас виникнути, Ви можете обговорити,
			<a
				class="text-link"
				href="/contact-us"
				title="Покликання на сторінку зворотнього зв'язку"
				>зв’язавшись з нами</a
			>
			зручним для Вас способом
		</p>
		<p class="to-corporations-paragraph">
			<a
				class="text-link"
				href="/pricing"
				title="Покликання на сторінку зворотнього зв'язку"
				>Ознайомитися з нашими тарифами</a
			>
		</p>
		<p>
			<a
				class="text-link"
				href="/licenses"
				title="Покликання на сторінку зворотнього зв'язку"
				>Переглянути перелік ліцензій нашої інвест-фірми</a
			>, для роботи на фондовому ринку України
		</p>
	</div>
</section>
