<section class="to-insurance-section">
	<div class="container to-insurance-container">
		<h3 class="superheader">Послуги</h3>
		<h1 class="section-header">
			Купівля/продаж цінних паперів та інших фінансових інструментів для
			страхових компаній
		</h1>
		<h2 class="chapter-header">
			На сьогодні, страховим компаніям, ТОВ "БТС БРОКЕР" в рамках
			<a
				class="text-link"
				href="/licenses"
				title="Покликання на сторінку ліцензій"
				>діючих ліцензій</a
			>
			(брокерської, субброкерської, дилерської та інших) виданих НКЦПФР,
			пропонує такі послуги:
		</h2>
		<ul class="to-insurance-description-list">
			<li class="to-insurance-description-item">
				<div class="to-insurance-icon-wrapper">
					<svg
						class="to-insurance-description-icon"
						width="24"
						height="24"
						fill="none"
					>
						<use href="/src/images/svg/symbol-defs.svg#icon-done-check"></use>
					</svg>
				</div>
				<p>
					Брокерське обслуговування, що передбачає надання послуг торговця
					цінними паперами
				</p>
			</li>
			<li class="to-insurance-description-item">
				<div class="to-insurance-icon-wrapper">
					<svg
						class="to-insurance-description-icon"
						width="24"
						height="24"
						fill="none"
					>
						<use href="/src/images/svg/symbol-defs.svg#icon-done-check"></use>
					</svg>
				</div>
				<p>
					Відкриття рахунків в ПАТ «Розрахунковий Центр» для технічної
					можливості торгівлі цінними паперами на біржах
				</p>
			</li>
			<li class="to-insurance-description-item">
				<div class="to-insurance-icon-wrapper">
					<svg
						class="to-insurance-description-icon"
						width="24"
						height="24"
						fill="none"
					>
						<use href="/src/images/svg/symbol-defs.svg#icon-done-check"></use>
					</svg>
				</div>
				<p>
					Надання доступу до вітчизняних бірж, зокрема: УБ, ПФТС, Перспектива
				</p>
			</li>
			<li class="to-insurance-description-item">
				<div class="to-insurance-icon-wrapper">
					<svg
						class="to-insurance-description-icon"
						width="24"
						height="24"
						fill="none"
					>
						<use href="/src/images/svg/symbol-defs.svg#icon-done-check"></use>
					</svg>
				</div>
				<p>
					Здійснення операцій з купівлі/продажу цінних паперів на позабіржовому
					ринку і доступ до всіх інструментів фондового ринку
				</p>
			</li>
			<li class="to-insurance-description-item">
				<div class="to-insurance-icon-wrapper">
					<svg
						class="to-insurance-description-icon"
						width="24"
						height="24"
						fill="none"
					>
						<use href="/src/images/svg/symbol-defs.svg#icon-done-check"></use>
					</svg>
				</div>
				<p>
					<a
						class="text-link"
						href="/repo"
						title="Покликання на сторінку зворотнього зв'язку"
						>Проведення операцій РЕПО</a
					>
					(надання грошових коштів під заставу цінних паперів)
				</p>
			</li>
			<li class="to-insurance-description-item">
				<div class="to-insurance-icon-wrapper">
					<svg
						class="to-insurance-description-icon"
						width="24"
						height="24"
						fill="none"
					>
						<use href="/src/images/svg/symbol-defs.svg#icon-done-check"></use>
					</svg>
				</div>
				<p>
					При необхідності інформаційної підтримки, необхідної для прийняття
					обгрунтованих інвестиційних рішень
				</p>
			</li>
		</ul>
		<p class="to-insurance-paragraph">
			За більш детальною інформацією
			<a
				class="text-link"
				href="/contact-us"
				title="Покликання на сторінку зворотнього зв'язку"
				>зверніться до нас за контактами</a
			>. Будемо раді відповісти на всі Ваші питання!
		</p>
		<p>
			Або ознайомтесь з
			<a
				class="text-link"
				href="/pricing"
				title="Покликання на сторінку зворотнього зв'язку"
				>тарифами ТОВ "БТС БРОКЕР"</a
			>
		</p>
	</div>
</section>
