.bonds-quote-section {
	padding-top: 88px;
	background-image: url("/src/images/svg/bg-shape-yellow-faq-390.svg"),
		url("/src/images/svg/bg-shape-blue-faq-390.svg"),
		url("/src/images/svg/bg-shape-yellow-faq-390.svg"),
		url("/src/images/svg/bg-shape-blue-faq-390.svg");
	background-repeat: no-repeat, no-repeat, no-repeat, no-repeat;
	background-position: calc(50% + 0px) calc(0% - 128px),
		calc(50% - 128px) calc(25% - 128px), calc(50% - 256px) calc(50% + 800px),
		calc(50% - 160px) calc(75% - 0px);
	background-size: auto, auto, auto, auto;
	@include mq(tablet-S) {
		background-image: url("/src/images/svg/bg-shape-yellow-faq-768.svg"),
			url("/src/images/svg/bg-shape-blue-faq-768.svg"),
			url("/src/images/svg/bg-shape-yellow-faq-768.svg"),
			url("/src/images/svg/bg-shape-blue-faq-768.svg");
		background-position: calc(50% + 128px) calc(0% - 640px),
			calc(50% - 352px) calc(25% - 320px), calc(50% - 256px) calc(50% + 800px),
			calc(50% - 160px) calc(75% - 0px);
	}
	@include mq(tablet-L) {
		background-image: url("/src/images/svg/bg-shape-yellow-faq-768.svg"),
			url("/src/images/svg/bg-shape-blue-faq-768.svg"),
			url("/src/images/svg/bg-shape-yellow-faq-768.svg"),
			url("/src/images/svg/bg-shape-blue-faq-768.svg");
		background-position: calc(50% + 128px) calc(0% - 640px),
			calc(50% - 352px) calc(25% - 320px), calc(50% - 480px) calc(50% + 320px),
			calc(50% - 160px) calc(75% - 0px);
	}
	@include mq(desktop) {
		background-position: calc(50% + 256px) calc(0% - 640px),
			calc(50% - 352px) calc(25% - 320px), calc(50% - 480px) calc(50% + 320px),
			calc(50% - 160px) calc(75% - 0px);
	}
	margin-bottom: -512px;
	padding-bottom: 512px;
}

.bonds-quote-container {
	padding-top: $L;
	padding-bottom: $L;
	@include mq(tablet-S) {
		padding-left: 16px;
		padding-right: 16px;
	}
	@include mq(tablet-L) {
		padding-left: 32px;
		padding-right: 32px;
	}
}

.bonds-quote-header {
	margin-bottom: $S;
}

.bonds-quote-paragraph {
	margin-bottom: $L;
}

.bonds-quote-bonds-header-list {
	display: none;
	@include mq(tablet-L) {
		display: grid;
		// grid-template-columns: repeat(7, 1fr);
		grid-template-columns: 1.2fr 1.2fr 0.7fr 1fr 0.6fr 0.8fr 0.8fr;
		margin-bottom: $M;
		font-weight: 700;
	}
}

// Нижче закоментована частина для ємейлів
// .bonds-quote-bonds-header-list {
// 	display: none;
// 	@include mq(tablet-L) {
// 		display: grid;
// 		// grid-template-columns: repeat(7, 1fr);
// 		grid-template-columns: 1.2fr 1.2fr 1fr 0.6fr;
// 		margin-bottom: $M;
// 		font-weight: 700;
// 	}
// }

.bonds-quote-bonds-header-item {
	@include mq(tablet-L) {
		display: flex;
		justify-content: center;
		align-items: center;
	}
}

.bonds-quote-bonds-list {
	margin-bottom: $XL;
	&.low-margin {
		margin-bottom: $M;
	}
}

.bonds-quote-item {
	display: flex;
	flex-direction: column;
	border-radius: $S;
	background-color: $neutralColor0Transparency600;
	box-shadow: $shadowElevationMedium;
	&:not(:last-child) {
		margin-bottom: $M;
	}
	@include mq(tablet-L) {
		display: grid;
		// grid-template-columns: repeat(7, 1fr);
		grid-template-columns: 1.2fr 1.2fr 0.7fr 1fr 0.6fr 0.8fr 0.8fr;
		&:not(:last-child) {
			margin-bottom: $S;
		}
	}
}

// Нижче закоментована частина для ємейлів
// .bonds-quote-item {
// 	display: flex;
// 	flex-direction: column;
// 	border-radius: $S;
// 	background-color: $neutralColor0Transparency600;
// 	box-shadow: $shadowElevationMedium;
// 	&:not(:last-child) {
// 		margin-bottom: $M;
// 	}
// 	@include mq(tablet-L) {
// 		display: grid;
// 		// grid-template-columns: repeat(7, 1fr);
// 		grid-template-columns: 1.2fr 1.2fr 1fr 0.6fr;
// 		&:not(:last-child) {
// 			margin-bottom: $S;
// 		}
// 	}
// }

.bonds-quote-element {
	display: flex;
	justify-content: center;
	align-items: center;
	padding: $XS $S;
	@include mq(tablet-L) {
		padding: $M $S;
	}
}

.bonds-quote-element:nth-child(even) {
	background-color: $primaryColor100;
}

.bonds-quote-element-header {
	color: $neutralColor950;
	font-weight: 700;
	margin-right: auto;
	@include mq(tablet-L) {
		display: none;
	}
}

.asterix {
	color: $primaryColor400;
	font-weight: 700;
}

.asterix-warning {
	display: inline-block;
	margin: 0 auto;
}

.warning-text {
	margin-bottom: $M;
	&.high-margin {
		margin-bottom: $XL;
	}
}

.red-warning-text {
	margin-bottom: $M;
	color: $systemColorError;
	font-weight: 700;
}

.no-quotes-message {
	padding: $M;
}

.bonds-quote-group-title {
	font-family: $secondaryFontFamily;
	@include font(700, 1.25rem, 1.5rem, 0);
	color: $neutralColor950;
	margin-bottom: $M;
}

.hidden {
	display: none;
}
