@use "../utils/mixins" as *;
@use "../utils/vars" as *;

.brokerage-service-section {
	padding-top: 88px;
	background-image:
		url("/src/images/svg/bg-shape-yellow-faq-390.svg"),
		url("/src/images/svg/bg-shape-blue-faq-390.svg"),
		url("/src/images/svg/bg-shape-yellow-faq-390.svg"),
		url("/src/images/svg/bg-shape-blue-faq-390.svg"),
		url("/src/images/svg/bg-shape-yellow-faq-390.svg"),
		url("/src/images/svg/bg-shape-blue-faq-390.svg");
	background-repeat:
		no-repeat, no-repeat, no-repeat, no-repeat, no-repeat, no-repeat;
	background-position:
		calc(50% + 64px) calc(0% - 196px),
		calc(50% - 256px) calc(0% - 128px),
		calc(50% + 64px) calc(50% - 196px),
		calc(50% + 256px) calc(50% + 256px),
		calc(50% - 384px) calc(100% + 416px),
		calc(50% + 64px) calc(100% + 256px);
	background-size: auto, auto, auto, auto, auto, auto;
	@include mq(tablet-S) {
		background-image:
			url("/src/images/svg/bg-shape-yellow-faq-768.svg"),
			url("/src/images/svg/bg-shape-blue-faq-768.svg"),
			url("/src/images/svg/bg-shape-yellow-faq-768.svg"),
			url("/src/images/svg/bg-shape-blue-faq-768.svg"),
			url("/src/images/svg/bg-shape-yellow-faq-768.svg"),
			url("/src/images/svg/bg-shape-blue-faq-768.svg");
		background-position:
			calc(50% + 256px) calc(0% - 720px),
			calc(50% - 384px) calc(0% - 480px),
			calc(50% + 512px) calc(50% - 0px),
			calc(50% - 512px) calc(50% + 128px),
			calc(50% - 480px) calc(100% + 960px),
			calc(50% + 128px) calc(100% + 720px);
	}
	@include mq(desktop) {
		background-position:
			calc(50% + 480px) calc(0% - 720px),
			calc(50% - 384px) calc(0% - 480px),
			calc(50% + 0px) calc(50% - 0px),
			calc(50% - 640px) calc(50% + 128px),
			calc(50% - 640px) calc(100% + 960px),
			calc(50% + 128px) calc(100% + 720px);
	}
}

.brokerage-service-container {
	padding-top: $L;
	padding-bottom: $XXL;
}

.brokerage-service-bond-ua-section {
	margin-bottom: $XL;
}

.brokerage-service-description-list {
	@include flex(flex, center, flex-start);
	flex-direction: column;
	gap: $S;
	margin-bottom: $L;
}

.brokerage-service-description-item {
	@include flex(flex, center, flex-start);
	gap: $XS;
}

.brokerage-service-description-icon {
	stroke: $accentColor500;
}

.brokerage-service-paragraph {
	margin-bottom: $M;
}

.brokerage-service-button {
	margin-bottom: $L;
}

.tabs-list {
	@include flex(flex, flex-start, center);
	gap: $S;
	margin-bottom: $L;
}

.tabs-button {
	cursor: pointer;
	display: block;
	text-align: center;
	font-weight: 700;
	padding: $M $M;
	color: $primaryColor950;
	background-color: $neutralColor0Transparency600;
	box-shadow: $shadowElevationLow;
	border: none;
	border-radius: $S;
	transition:
		color $mainTransitionDuration $mainTransitionTimingFunction,
		background-color $mainTransitionDuration $mainTransitionTimingFunction,
		box-shadow $mainTransitionDuration $mainTransitionTimingFunction,
		transform $mainTransitionDuration $mainTransitionTimingFunction;
}

.tabs-button.active {
	color: $neutralColor0;
	background-color: $primaryColor700;
	box-shadow: $shadowElevationMedium;
	transform: scale(1.1);
}

.brokerage-service-content-wrapper {
	@include flex(flex, space-between, flex-start);
	flex-direction: column;
	gap: $L;
	@include mq(tablet-S) {
		flex-direction: row;
	}
}

.brokerage-service-required-documents-wrapper {
	@include mq(tablet-S) {
		flex-basis: calc((120% - 1 * $L) / 2);
	}
}

.tab-content-wrapper {
	@include flex(flex, center, flex-start);
	flex-direction: column;
	overflow: hidden;
	font-family: $secondaryFontFamily;
	font-weight: 600;
	height: 0;
	width: 0;
	opacity: 0;
	transform-origin: top left;
	transform: translateX(-8px);
	transition:
		opacity $doubleTransitionDuration $mainTransitionTimingFunction,
		transform $doubleTransitionDuration $mainTransitionTimingFunction;
	&.visible {
		gap: $L;
		transform: translateX(0);
		height: auto;
		width: auto;
		opacity: 1;
	}
}

.brokerage-service-group-title {
	font-family: $secondaryFontFamily;
	@include font(700, 1.25rem, 1.5rem, 0);
	color: $neutralColor950;
	margin-bottom: $M;
}

.brokerage-service-documents-requirements-list,
.brokerage-service-documents-list {
	@include flex(flex, center, flex-start);
	gap: $S;
	flex-direction: column;
	overflow: hidden;
	font-family: $secondaryFontFamily;
	font-weight: 600;
}

.brokerage-service-list-done-check-icon {
	stroke: $accentColor500;
}

.brokerage-service-documents-item {
	@include flex(flex, center, flex-start);
	gap: $XS;
}

.brokerage-service-strong-text {
	font-weight: 700;
	color: $neutralColor950;
}

.brokerage-service-document-icon {
	display: block;
	stroke-width: 0;
	stroke: currentColor;
	fill: currentColor;
}

.brokerage-service-section-illustration {
	display: none;
	@include mq(tablet-S) {
		display: block;
		margin-top: 128px;
		max-width: 352px;
	}
	@include mq(tablet-L) {
		max-width: 384px;
		margin-right: 64px;
	}
	@include mq(desktop) {
		margin-right: 128px;
	}
}

.brokerage-service-better-exp-offer {
	@include flex(flex, center, stretch);
	flex-direction: column;
	gap: $M;
	padding: $L $M;
	border-radius: $S;
	background-color: $neutralColor0Transparency600;
	box-shadow: $shadowElevationMedium;
	@include mq(tablet-S) {
		position: sticky;
		top: calc(0% + 104px);
		flex-basis: calc((80% - 1 * $L) / 2);
	}
}

.brokerage-service-better-exp-title {
	font-family: $secondaryFontFamily;
	@include font(700, 1.25rem, 1.5rem, 0);
	color: $neutralColor950;
}

.brokerage-service-better-exp-text {
	margin-bottom: $M;
}
