.mentions-in-media-section {
	padding-top: 88px;
	background-image: url("/src/images/svg/bg-shape-yellow-faq-390.svg"),
		url("/src/images/svg/bg-shape-blue-faq-390.svg"),
		url("/src/images/svg/bg-shape-yellow-faq-390.svg"),
		url("/src/images/svg/bg-shape-blue-faq-390.svg"),
		url("/src/images/svg/bg-shape-yellow-faq-390.svg"),
		url("/src/images/svg/bg-shape-blue-faq-390.svg"),
		url("/src/images/svg/bg-shape-yellow-faq-390.svg"),
		url("/src/images/svg/bg-shape-blue-faq-390.svg");
	background-repeat: no-repeat, no-repeat, no-repeat, no-repeat, no-repeat,
		no-repeat, no-repeat, no-repeat;
	background-position: calc(50% + 0px) calc(0% - 128px),
		calc(50% - 128px) calc(0% + 0px), calc(50% - 0px) calc(25% + 0px),
		calc(50% - 256px) calc(25% + 300px), calc(50% - 0px) calc(50% + 0px),
		calc(50% - 256px) calc(50% + 300px), calc(50% - 0px) calc(75% + 416px),
		calc(50% - 256px) calc(75% + 300px);
	background-size: auto, auto, auto, auto, auto, auto, auto, auto;
	@include mq(tablet-S) {
		background-image: url("/src/images/svg/bg-shape-yellow-faq-768.svg"),
			url("/src/images/svg/bg-shape-blue-faq-768.svg"),
			url("/src/images/svg/bg-shape-yellow-faq-768.svg"),
			url("/src/images/svg/bg-shape-blue-faq-768.svg");
		background-position: calc(50% + 256px) calc(0% - 640px),
			calc(50% - 480px) calc(25% - 64px), calc(50% - 512px) calc(50% + 1280px),
			calc(50% + 128px) calc(75% + 320px);
	}
	@include mq(tablet-L) {
		background-position: calc(50% + 256px) calc(0% - 640px),
			calc(50% - 480px) calc(25% - 64px), calc(50% - 512px) calc(50% + 800px),
			calc(50% + 128px) calc(75% + 320px);
	}
}

.mentions-in-media-container {
	padding-top: $L;
	padding-bottom: $XL;
	@include mq(tablet-S) {
		padding-left: 76px;
		padding-right: 76px;
	}
	@include mq(tablet-L) {
		padding-left: 96px;
		padding-right: 96px;
	}
	@include mq(desktop) {
		padding-left: 150px;
		padding-right: 150px;
	}
}

.mentions-in-media-cards-list {
	@include flex(flex, center, stretch);
	flex-direction: column;
	gap: $L;
}

.mentions-in-media-cards-item {
	padding-bottom: $L;
	border-bottom: 1px solid #dadada;
}

.mentions-in-media-cards-date {
	padding-left: $S;
	padding-bottom: $S;
}

.flex-wrp {
	display: flex;
	flex-direction: column;
	gap: $M;
	@include mq(tablet-L) {
		flex-direction: row;
	}
}

.image-thumb {
	overflow: hidden;
	border-radius: $S;
	@include mq(tablet-L) {
		width: calc((100% - 20px) / 2);
	}
}

.mentions-in-media-cards-paragraph {
	padding-right: $S;
	padding-left: $S;
	@include mq(tablet-L) {
		width: calc((100% - 20px) / 2);
	}
}
