.sandbox-section {
	padding-top: 88px;
	background-image: url("/src/images/svg/bg-shape-yellow-faq-390.svg"),
		url("/src/images/svg/bg-shape-blue-faq-390.svg"),
		url("/src/images/svg/bg-shape-yellow-faq-390.svg"),
		url("/src/images/svg/bg-shape-blue-faq-390.svg"),
		url("/src/images/svg/bg-shape-yellow-faq-390.svg"),
		url("/src/images/svg/bg-shape-blue-faq-390.svg");
	background-repeat: no-repeat, no-repeat, no-repeat, no-repeat, no-repeat,
		no-repeat;
	background-position: calc(50% + 64px) calc(0% - 196px),
		calc(50% - 256px) calc(0% - 128px), calc(50% + 64px) calc(50% - 196px),
		calc(50% + 256px) calc(50% + 256px), calc(50% - 384px) calc(100% + 416px),
		calc(50% + 64px) calc(100% + 256px);
	background-size: auto, auto, auto, auto, auto, auto;
	@include mq(tablet-S) {
		background-image: url("/src/images/svg/bg-shape-yellow-faq-768.svg"),
			url("/src/images/svg/bg-shape-blue-faq-768.svg"),
			url("/src/images/svg/bg-shape-yellow-faq-768.svg"),
			url("/src/images/svg/bg-shape-blue-faq-768.svg"),
			url("/src/images/svg/bg-shape-yellow-faq-768.svg"),
			url("/src/images/svg/bg-shape-blue-faq-768.svg");
		background-position: calc(50% + 256px) calc(0% - 720px),
			calc(50% - 384px) calc(0% - 480px), calc(50% + 512px) calc(50% - 0px),
			calc(50% - 512px) calc(50% + 128px), calc(50% - 480px) calc(100% + 960px),
			calc(50% + 128px) calc(100% + 720px);
	}
	@include mq(desktop) {
		background-position: calc(50% + 480px) calc(0% - 720px),
			calc(50% - 384px) calc(0% - 480px), calc(50% + 0px) calc(50% - 0px),
			calc(50% - 640px) calc(50% + 128px), calc(50% - 640px) calc(100% + 960px),
			calc(50% + 128px) calc(100% + 720px);
	}
}

.sandbox-container {
	padding-top: $L;
	padding-bottom: $XXL;
}

.sandbox-subheader {
	margin-bottom: $L;
}
